{
  "gui" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/scripted/itemBlacklist/header.png",
      "fileBody" : "/interface/scripted/itemBlacklist/body.png",
      "fileFooter" : "/interface/scripted/itemBlacklist/footer.png"
    },
	"itemSlot" : {
      "type" : "itemslot",
      "position" : [176, 210],
	  "callback" : "slotUpdate",
	  "rightClickCallback" : "slotUpdate",
      "backingImage" : "/interface/scripted/itemBlacklist/empty.png",
      "showRarity" : false
	},
	"tutorial" : {
      "type" : "label",
      "position" : [191, 235],
	  "fontSize" : 7.2,
      "hAnchor" : "mid",
      "color" : "gray",
      "value" : "^gray;Put an item in the slot below to add it to the blacklist! \n^red;WARNING:^reset; Blacklisted items are automatically ^red;deleted^gray; from your inventory every 5s.^reset;"
	},
	"capacity" : {
      "type" : "label",
      "position" : [14, 194],
	  "fontSize" : 7.2,
      "hAnchor" : "left",
      "color" : "gray",
      "value" : "Replace Me"
	},
	"removal" : {
      "type" : "label",
      "position" : [368, 194],
	  "fontSize" : 7.2,
      "hAnchor" : "right",
      "color" : "gray",
      "value" : "Click an item in the blacklist to remove it."
	},
	"listback" : {
      "type" : "image",
      "position" : [8, 28],
      "file" : "/interface/scripted/itemBlacklist/listback.png",
	  "zlevel": -2
	},
    "blacklistArea" : {
      "type": "scrollArea",
      "zlevel": 1,
      "rect": [
        14,
        30,
        368,
        190
	  ],
      "children" : {
        "list" : {
          "type" : "list",
		  "callback" : "select",
		  "columns" : 3,
		  "fillDown" : true,
		  "scissoring" : false,
          "schema" : {
            "selectedBG" : "/interface/scripted/itemBlacklist/smallitembackselected.png",
            "unselectedBG" : "/interface/scripted/itemBlacklist/smallitemback.png",
            "spacing" : [1, 1],
            "memberSize" : [114, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/scripted/itemBlacklist/smallitemback.png",
                "position" : [0, 0],
                "zlevel" : -1
              },
              "icon" : {
                "type" : "image",
                "file" : "/interface/scripted/itemBlacklist/itemicon.png",
                "position" : [2, 2],
                "zlevel" : 1
              },
              "name" : {
                "type" : "label",
                "position" : [24, 6],
                "hAnchor" : "left",
				"fontSize" : 7.2,
                "width" : 138,
                "value" : "Replace Me"
              }
            }
          }
        }
      }
	},
    "emptyLabel" : {
      "type" : "label",
      "position" : [138, 232],
      "hAnchor" : "mid",
      "color" : "gray",
      "value" : ""
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [360, 267]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Auto Trash",
      "subtitle" : "Add items to the blacklist to remove them from your inventory.",
      "position" : [0, 294],
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/itemBlacklist/icon.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    }
  },
  
  "scriptWidgetCallbacks" : [
    "select",
	"slotUpdate"
  ],
  
  "capacity" : 60,
  
  "scripts" : [ "/interface/scripted/itemBlacklist/itemBlacklist.lua" ],
  "scriptDelta" : 10
}
