{
  "gui" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/scripted/itemBlacklist/header.png",
      "fileBody" : "/interface/scripted/itemBlacklist/body.png",
      "fileFooter" : "/interface/scripted/itemBlacklist/footer.png"
    },
	"itemSlot" : {
      "type" : "itemslot",
      "position" : [176, 230],
	  "callback" : "slotUpdate",
	  "rightClickCallback" : "slotUpdate",
      "backingImage" : "/interface/scripted/itemBlacklist/empty.png",
      "showRarity" : false
	},
	"tutorial" : {
      "type" : "label",
      "position" : [191, 255],
	  "fontSize" : 7.2,
      "hAnchor" : "mid",
      "color" : "gray",
      "value" : "^gray;Put an item in the slot below to add it to the blacklist! \n^red;WARNING:^reset; Blacklisted items are automatically ^red;deleted^gray; from your inventory.^reset;"
	},
	"capacity" : {
      "type" : "label",
      "position" : [14, 214],
	  "fontSize" : 7.2,
      "hAnchor" : "left",
      "color" : "gray",
      "value" : "Replace Me"
	},
	"removal" : {
      "type" : "label",
      "position" : [368, 214],
	  "fontSize" : 7.2,
      "hAnchor" : "right",
      "color" : "gray",
      "value" : "Click an item in the blacklist to remove it."
	},
    "checkbox" : {
      "type" : "button",
      "base" : "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
      "checkable" : true,
      "checked" : true,
      "position" : [280, 28]
    },
    "checkboxlabel" : {
      "type" : "label",
      "position" : [291, 27],
      "hAnchor" : "left",
      "value" : "Auto Trash Enabled"
    },
    "sliderlabel" : {
      "type" : "label",
      "position" : [13, 27],
      "hAnchor" : "left",
      "value" : "Trash Frequency: "
    },
    "slider" : {
      "type" : "slider",
      "position" : [87, 27],
      "gridImage" : "/interface/optionsmenu/largeselection.png",
      "callback" : "frequency",
      "range" : [0, 180, 5]
    },
	"listback" : {
      "type" : "image",
      "position" : [8, 48],
      "file" : "/interface/scripted/itemBlacklist/listback.png",
	  "zlevel": -2
	},
    "blacklistArea" : {
      "type": "scrollArea",
      "zlevel": 1,
      "rect": [
        14,
        50,
        368,
        210
	  ],
      "children" : {
        "list" : {
          "type" : "list",
		  "callback" : "select",
		  "columns" : 3,
		  "fillDown" : true,
		  "scissoring" : false,
          "schema" : {
            "selectedBG" : "/interface/scripted/itemBlacklist/smallitembackselected.png",
            "unselectedBG" : "/interface/scripted/itemBlacklist/smallitemback.png",
            "spacing" : [1, 1],
            "memberSize" : [114, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/scripted/itemBlacklist/smallitemback.png",
                "position" : [0, 0],
                "zlevel" : -1
              },
              "icon" : {
                "type" : "image",
                "file" : "/interface/scripted/itemBlacklist/itemicon.png",
                "position" : [2, 2],
                "zlevel" : 1
              },
              "name" : {
                "type" : "label",
                "position" : [24, 6],
                "hAnchor" : "left",
				"fontSize" : 7.2,
                "width" : 138,
                "value" : "Replace Me"
              }
            }
          }
        }
      }
	},
    "emptyLabel" : {
      "type" : "label",
      "position" : [138, 252],
      "hAnchor" : "mid",
      "color" : "gray",
      "value" : ""
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [360, 287]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Auto Trash",
      "subtitle" : "Add items to the blacklist to remove them from your inventory.",
      "position" : [0, 314],
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/itemBlacklist/icon.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },
    "btnReset" : {
      "type" : "button",
	  "callback" : "reset",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [210, 25],
      "caption" : "Reset"
    }
  },
  
  "scriptWidgetCallbacks" : [
    "select",
	"slotUpdate",
	"checkbox",
	"frequency",
	"reset"
  ],
  
  "capacity" : 90,
  
  "scripts" : [ "/interface/scripted/itemBlacklist/itemBlacklist.lua" ],
  "scriptDelta" : 10
}
