{
  "khnemnIsland" : {
    "paneLayout" : "/interface/windowconfig/arcana_portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Khnemn Island",
    "message" : "\n\nAre you ready to go to ^orange;Khnemn Island?^reset;\n^red;You'll want to have adequate equipment for this.",
    "okCaption" : "Ready",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [ {"image" : "/quests/arcana_quests_ankhu/portrait.png"} ]
    },
    "labels" : {
      "name" : "Archivist Ankhu"
    }
  }
}
