{
  "khnemnIsland" : {
    "paneLayout" : "/interface/windowconfig/arcana_portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Khnemn Island",
    "message" : "\n\nAre you ready to go to ^orange;Khnemn Island?^reset;\n^red;You'll want to have adequate equipment for this.",
    "okCaption" : "Ready",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [ {"image" : "/quests/arcana_quests_ankhu/portrait.png"} ]
    },
    "labels" : {
      "name" : "Archivist Ankhu"
    }
  },
  
  "seekerIntro" : {
    "paneLayout" : "/interface/windowconfig/arcana_portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Seeker Trial",
    "message" : "\n\nAre you ready to start the ^orange;Seeker Trial?^reset;\n^red;It's recommended to complete this mission without any equipment or stat boosts.^reset;",
    "okCaption" : "Ready",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [ {"image" : "/quests/arcana_seeker/arcana_seeker_1_mission/portrait.png"} ]
    },
    "labels" : {
      "name" : "Carmine"
    }
  },
  
  "desertstart" : {
    "paneLayout" : "/interface/windowconfig/arcana_portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Lodestar Temple",
    "message" : "\n\nAre you ready to start the trek to the ^orange;Lodestar Temple?^reset;\n^red;It's recommended to have at least Tier 1 or Tier 2 equipment before entering.^reset;",
    "okCaption" : "Ready",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [ {"image" : "/quests/arcana_seeker/arcana_seeker_desertstart/flint.png"} ]
    },
    "labels" : {
      "name" : "Flint"
    }
  }
}
