{
  "action" : "actions",
  "list" : [
    {
      "action" : "spark"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/plasmabullet_hit_stone2.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 1,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.5,
      "delaySteps" : 2
    },
    {
      "action" : "loop",
      "count" : 12,
      "body" : [
        {
          "action" : "particle",
          "specification" : {
            "type" : "ember",
            "size" : 0.6,
            "color" : [230, 50, 50, 255],
            "light" : [80, 20, 20],
            "fullbright" : true,
            "initialVelocity" : [0, 6],
            "finalVelocity" : [0.0, -20.0],
            "approach" : [0, 30],
            "timeToLive" : 0.8,
            "layer" : "middle",
            "variance" : {
			  "size" : 1.0,
			  "initialVelocity" : [9, 9],
              "timeToLive" : 0.15
            }
          }
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 3,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
				"size" : 0.4,
                "animation" : "/animations/coldbreath/coldbreath.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 0.4,
                "variance" : {
                  "timeToLive" : 0.15,
                  "position" : [1, 1],
                  "initialVelocity" : [1, 1],
                  "rotation" : 180
                }
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "particle",
	  "specification" : {
		"type" : "animated",
		"size" : 0.8,
		"fullbright" : true,
		"light" : [110, 20, 20],
		"animation" : "/animations/arcana_animation_plasma_red/arcana_animation_plasma_red.animation",
		"timeToLive" : 0.6,
		"layer" : "front",
        "variance" : {
          "size" : 0.4
        }
	  }
    }
  ]
}
