{
  "action" : "actions",
  "list" : [
    {
      "action" : "spark"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/impact_plasma.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 1,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.5,
      "delaySteps" : 2
    },
    {
      "action" : "loop",
      "count" : 16,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "ember",
                "size" : 1.0,
                "color" : [190, 190, 190, 255],
                "destructionAction" : "fade",
                "destructionTime" : 1.0,
                "initialVelocity" : [0, 0],
                "finalVelocity" : [0, 0],
                "approach" : [10, 10],
                "timeToLive" : 0.2,
                "layer" : "back",
                "variance" : {
                  "position" : [1, 1],
                  "initialVelocity" : [10, 10],
                  "size" : 0.4
                }
              }
            }
          ]
        },
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "ember",
                "size" : 1.0,
                "color" : [255, 255, 255, 255],
                "destructionAction" : "fade",
                "destructionTime" : 1.0,
                "initialVelocity" : [0, 0],
                "finalVelocity" : [0, 0],
                "approach" : [10, 10],
                "timeToLive" : 0.2,
                "layer" : "back",
                "variance" : {
                  "position" : [1, 1],
                  "initialVelocity" : [10, 10],
                  "size" : 0.4
                }
              }
            }
          ]
        }
      ]
    }
  ]
}

