{
  "action" : "actions",
  "list" : [
    {
      "action" : "loop",
      "count" : 6,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "textured",
                "image" : "/particles/arcana_particle_feather_1/arcana_particle_feather_1.png",
				"size" : 0.6,
                "timeToLive" : 1,
                "destructionAction" : "shrink",
                "destructionTime" : 0.2,
                "finalVelocity" : [0, -4],
                "approach" : [3, 5],
                "variance" : {
                  "timeToLive" : 0.2,
				  "size" : 0.2,
                  "position" : [1, 1],
                  "initialVelocity" : [2, 2],
                  "finalVelocity" : [1, 1],
                  "rotation" : 180,
                  "angularVelocity" : 60
                }
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/gust1.ogg", "/sfx/projectiles/gust2.ogg", "/sfx/projectiles/gust3.ogg" ]
    },
    {
      "action" : "light",
      "color" : "white"
    }

  ]
}
