{
  "action" : "actions",
  "list" : [
    {
      "action" : "loop",
      "count" : 10,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
				"type" : "animated",
				"animation" : "/animations/arcana_animation_energy_purple/arcana_animation_energy_purple.animation",
				"initialVelocity" : [0.0, 2.0],
				"finalVelocity" : [0.0, 0.0],
				"approach" : [6, 6],
				"timeToLive" : 0.6,
				"layer" : "middle",
				"collidesForeground" : true,
				"fullbright" : true,
				"light" : [80, 20, 80, 255],
				"size" : 0.4,
				"variance" : {
				  "position" : [0, 0],
				  "initialVelocity" : [9, 9],
				  "finalVelocity" : [3, 3],
				  "rotation" : 180,
				  "size" : 0.3,
				  "angularVelocity" : 180
				}
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 8,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "ember",
                "size" : 0.8,
                "color" : [255, 152, 249, 255],
                "destructionAction" : "shrink",
                "destructionTime" : 0.2,
                "initialVelocity" : [0, 0],
                "finalVelocity" : [0, 0],
                "approach" : [10, 10],
                "timeToLive" : 0.2,
				"fullbright" : true,
                "layer" : "front",
                "variance" : {
                  "position" : [0, 0],
                  "initialVelocity" : [7, 7],
				  "timeToLive" : 0.2
                }
              }
            }
          ]
        },
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "ember",
                "size" : 0.6,
                "color" : [217, 9, 204, 255],
                "destructionAction" : "shrink",
                "destructionTime" : 0.2,
                "initialVelocity" : [0, 0],
                "finalVelocity" : [0, 0],
                "approach" : [10, 10],
                "timeToLive" : 0.2,
				"fullbright" : true,
                "layer" : "front",
                "variance" : {
                  "position" : [0, 0],
                  "initialVelocity" : [7, 7],
				  "timeToLive" : 0.2
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "light",
      "color" : "yellow"
    }
  ]
}
