{
  "action" : "actions",
  "list" : [
    {
      "action" : "loop",
      "count" : 3,
      "body" : [
        {
          "action" : "particle",
          "specification" : {
            "type" : "animated",
            "animation" : "/animations/poisondrip/poisondrip1.animation",
            "finalVelocity" : [0, -1],
            "approach" : [0.5, 0.5],
            "timeToLive" : 0.8,
            "variance" : {
              "timeToLive" : 0.15,
              "position" : [1.0, 1.0],
              "initialVelocity" : [1, 1],
              "rotation" : 180
            }
          }
        },
        {
          "action" : "particle",
          "specification" : {
            "type" : "animated",
            "animation" : "/animations/statuseffects/poison/poisonshort.animation",
            "approach" : [0.5, 0.5],
            "timeToLive" : 4,
            "variance" : {
              "timeToLive" : 0.15,
              "position" : [1.0, 1.0],
              "initialVelocity" : [5, 5],
              "rotation" : 180
            }
          }
        },
        {
          "action" : "particle",
          "specification" : {
            "type" : "animated",
            "animation" : "/animations/statuseffects/poison/poisonshort.animation",
            "approach" : [0.5, 0.5],
            "timeToLive" : 4,
            "variance" : {
              "timeToLive" : 0.15,
              "position" : [1.0, 1.0],
              "initialVelocity" : [5, 5],
              "rotation" : 180
            }
          }
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 6,
      "body" : [
        {
          "action" : "particle",
          "specification" : {
            "type" : "ember",
            "size" : 1.0,
            "color" : [148, 213, 19, 255],
            "position" : [0, 0],
            "fade" : 0.9,
            "initialVelocity" : [0, 0],
            "finalVelocity" : [0, -4],
            "approach" : [5, 5],
            "light" : [148, 213, 19],
            "destructionTime" : 1.2,
            "layer" : "back",
            "variance" : {
              "initialVelocity" : [16, 16],
              "position" : [1, 1],
              "size" : 0.5
            }
          }
		}
      ]
    },
    {
      "action" : "particle",
      "specification" : {
        "type" : "animated",
        "animation" : "/animations/arcana_animation_plasma_poison/arcana_animation_plasma_poison.animation",
        "approach" : [0.5, 0.5],
		"fullbright" : true,
        "timeToLive" : 0.1,
        "size" : 0.3,
		"destructionTime" : 0.4,
		"destructionAction" : "shrink",
        "variance" : {
          "timeToLive" : 0.1,
          "initialVelocity" : [0, 0],
          "rotation" : 180
        }
      }
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/acid_hit.ogg" ]
    }
  ]
}
