{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "arcana_explosion_plasma_1_azure"
    },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
				"type" : "animated",
				"animation" : "/animations/arcana_animation_astrifer_star/arcana_animation_astrifer_star.animation",
                "size" : 0.2,
                "destructionAction" : "fade",
                "destructionTime" : 1.0,
                "initialVelocity" : [0, 0],
                "finalVelocity" : [0, 0],
                "approach" : [10, 10],
                "timeToLive" : 0.2,
                "layer" : "back",
				"fullbright" : true,
                "variance" : {
                  "position" : [3, 3],
                  "initialVelocity" : [10, 10],
                  "size" : 1
                }
              }
            }
          ]
        },
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
				"animation" : "/animations/arcana_animation_astrifer_star_2/arcana_animation_astrifer_star_2.animation",
                "size" : 0.15,
                "destructionAction" : "fade",
                "destructionTime" : 0.75,
                "initialVelocity" : [0, 0],
                "finalVelocity" : [0, 0],
                "approach" : [10, 10],
                "timeToLive" : 0.15,
                "layer" : "middle",
				"fullbright" : true,
                "variance" : {
                  "position" : [3, 3],
                  "initialVelocity" : [4, 8],
                  "size" : 1
                }
              }
            }
          ]
        },
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
				"animation" : "/animations/arcana_animation_astrifer_star_3/arcana_animation_astrifer_star_3.animation",
                "size" : 0.1,
                "destructionAction" : "fade",
                "destructionTime" : 0.5,
                "initialVelocity" : [0, 0],
                "finalVelocity" : [0, 0],
                "approach" : [10, 10],
                "timeToLive" : 0.1,
                "layer" : "front",
				"fullbright" : true,
                "variance" : {
                  "position" : [3, 3],
                  "initialVelocity" : [2, 4],
                  "size" : 1
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/plasmabullet_ricochet1.ogg", "/sfx/projectiles/plasmabullet_ricochet2.ogg" ]
    },
    {
      "action" : "light",
      "color" : "white"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 4,
      "explosiveDamageAmount" : 2,
      "delaySteps" : 2
    }

  ]
}
