{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.8,
      "type" : "arcana_explosion_enoch_2"
    },
    {
      "action" : "loop",
      "count" : 8,
      "body" : [
		{
			"action" : "projectile",
			"type" : "mechteslabolt",
			"inheritDamageFactor" : 0.1,
			"inheritSpeedFactor" : 0.8,
			"angle" : 90,
			"fuzzAngle" : 360
		}
      ]
    },
    {
      "action" : "loop",
      "count" : 4,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/teslabolt/teslabolt.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 0.6,
                "variance" : {
                  "timeToLive" : 0.4,
                  "position" : [2, 2],
                  "initialVelocity" : [10, 10],
                  "rotation" : 180
                }
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 6,
      "body" : [
        {
          "action" : "particle",
          "specification" : {
            "type" : "animated",
            "animation" : "/animations/sparkles/sparkle6.animation",
            "position" : [0, 0],
            "finalVelocity" : [0, 0],
            "approach" : [50, 50],
            "destructionAction" : "shrink",
            "destructionTime" : 0.8,
            "fade" : 1,
            "size" : 1,
            "layer" : "back",
            "timeToLive" : 0.8,
            "variance" : {
              "initialVelocity" : [16, 16],
              "position" : [1, 1]
            }
          }
        },
        {
          "action" : "particle",
          "specification" : {
            "type" : "animated",
            "looping" : true,
            "animation" : "/animations/statuseffects/electricalburn/electricalburn.animation",
            "position" : [0, 0],
            "finalVelocity" : [0, 0],
            "approach" : [50, 50],
            "destructionAction" : "shrink",
            "destructionTime" : 2.825,
            "fade" : 1,
            "light" : [170, 143, 255],
            "size" : 0.5,
            "layer" : "middle",
            "timeToLive" : 0.8,
            "variance" : {
              "finalVelocity" : [8, 8],
              "position" : [1, 1]
            }
          }
        },
        {
          "action" : "particle",
          "specification" : {
            "type" : "animated",
            "looping" : true,
            "animation" : "/animations/statuseffects/electricalburn/electricalburn.animation",
            "position" : [0, 0],
            "finalVelocity" : [0, 0],
            "approach" : [50, 50],
            "destructionAction" : "shrink",
            "destructionTime" : 1.6,
            "fade" : 1,
            "light" : [170, 143, 255],
            "size" : 0.5,
            "layer" : "middle",
            "timeToLive" : 1.0,
            "variance" : {
              "finalVelocity" : [6, 6],
              "position" : [1, 1]
            }
          }
        },
        {
          "action" : "particle",
          "specification" : {
            "type" : "ember",
            "size" : 1.0,
            "color" : [298, 50, 68, 255],
            "position" : [0, 0],
            "fade" : 0.9,
            "initialVelocity" : [0, 0],
            "finalVelocity" : [0, 0],
            "approach" : [20, 20],
            "light" : [170, 143, 255],
            "destructionTime" : 1.2,
            "layer" : "back",
            "variance" : {
              "finalVelocity" : [6, 6],
              "position" : [1, 1],
              "size" : 0.5
            }
          }
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 8,
      "body" : [
        {
          "action" : "option",
          "options" : [
			{
			  "action" : "particle",
			  "rotate" : true,
			  "specification" : {
                "type" : "animated",
                "animation" : "/animations/arcana_enochflame/arcana_enochflame.animation",
				
				"position" : [0, 0],
				"finalVelocity" : [0, 0],
				"size" : 1.0,
				
				"layer" : "back",
				"timeToLive" : 0.6,
				"destructionTime" : 0.2,
				"destructionAction" : "shrink",
				"fullbright" : true,
				
				"variance" : {
				  "initialVelocity" : [12.0, 12.0],
				  "size" : 0.8,
				  "position" : [3.0, 3.0],
				  "rotation" : 360
				}
			  }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/grenadeblast_small_electric1.ogg", "/sfx/gun/grenadeblast_small_electric2.ogg", "/sfx/gun/grenadeblast_small_electric3.ogg" ]
    },
    {
      "action" : "light",
      "color" : "blue"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.5,
      "delaySteps" : 2
    }

  ]
}
