{
	"gui": {
		"background": {
			"type": "background",
			"fileHeader": "/interface/scripted/xrc_arcana_bag/header.png",
			"fileBody": "/interface/scripted/xrc_arcana_bag/body.png",
			"fileFooter": "/interface/scripted/xrc_arcana_bag/0.png"
		},
"_1": {"type":"itemslot","callback":"leftClickSlot","rightClickCallback":"rightClickSlot","showRarity":false,"showDurability":true},
"_2": {"type":"itemslot","callback":"leftClickSlot","rightClickCallback":"rightClickSlot","showRarity":false,"showDurability":true},
"_3": {"type":"itemslot","callback":"leftClickSlot","rightClickCallback":"rightClickSlot","showRarity":false,"showDurability":true},
"_4": {"type":"itemslot","callback":"leftClickSlot","rightClickCallback":"rightClickSlot","showRarity":false,"showDurability":true},
"_5": {"type":"itemslot","callback":"leftClickSlot","rightClickCallback":"rightClickSlot","showRarity":false,"showDurability":true},
"_6": {"type":"itemslot","callback":"leftClickSlot","rightClickCallback":"rightClickSlot","showRarity":false,"showDurability":true},
"_7": {"type":"itemslot","callback":"leftClickSlot","rightClickCallback":"rightClickSlot","showRarity":false,"showDurability":true},
"_8": {"type":"itemslot","callback":"leftClickSlot","rightClickCallback":"rightClickSlot","showRarity":false,"showDurability":true},
"_9": {"type":"itemslot","callback":"leftClickSlot","rightClickCallback":"rightClickSlot","showRarity":false,"showDurability":true},
"_10": {"type":"itemslot","callback":"leftClickSlot","rightClickCallback":"rightClickSlot","showRarity":false,"showDurability":true},
"_11": {"type":"itemslot","callback":"leftClickSlot","rightClickCallback":"rightClickSlot","showRarity":false,"showDurability":true},
"_12": {"type":"itemslot","callback":"leftClickSlot","rightClickCallback":"rightClickSlot","showRarity":false,"showDurability":true},
"_13": {"type":"itemslot","callback":"leftClickSlot","rightClickCallback":"rightClickSlot","showRarity":false,"showDurability":true},
"_14": {"type":"itemslot","callback":"leftClickSlot","rightClickCallback":"rightClickSlot","showRarity":false,"showDurability":true},
"_15": {"type":"itemslot","callback":"leftClickSlot","rightClickCallback":"rightClickSlot","showRarity":false,"showDurability":true},
"_16": {"type":"itemslot","callback":"leftClickSlot","rightClickCallback":"rightClickSlot","showRarity":false,"showDurability":true},
"_17": {"type":"itemslot","callback":"leftClickSlot","rightClickCallback":"rightClickSlot","showRarity":false,"showDurability":true},
"_18": {"type":"itemslot","callback":"leftClickSlot","rightClickCallback":"rightClickSlot","showRarity":false,"showDurability":true},
"_19": {"type":"itemslot","callback":"leftClickSlot","rightClickCallback":"rightClickSlot","showRarity":false,"showDurability":true},
"_20": {"type":"itemslot","callback":"leftClickSlot","rightClickCallback":"rightClickSlot","showRarity":false,"showDurability":true},
"_21": {"type":"itemslot","callback":"leftClickSlot","rightClickCallback":"rightClickSlot","showRarity":false,"showDurability":true},
"_22": {"type":"itemslot","callback":"leftClickSlot","rightClickCallback":"rightClickSlot","showRarity":false,"showDurability":true},
"_23": {"type":"itemslot","callback":"leftClickSlot","rightClickCallback":"rightClickSlot","showRarity":false,"showDurability":true},
"_24": {"type":"itemslot","callback":"leftClickSlot","rightClickCallback":"rightClickSlot","showRarity":false,"showDurability":true},
"_25": {"type":"itemslot","callback":"leftClickSlot","rightClickCallback":"rightClickSlot","showRarity":false,"showDurability":true},
"_26": {"type":"itemslot","callback":"leftClickSlot","rightClickCallback":"rightClickSlot","showRarity":false,"showDurability":true},
"_27": {"type":"itemslot","callback":"leftClickSlot","rightClickCallback":"rightClickSlot","showRarity":false,"showDurability":true},
"_28": {"type":"itemslot","callback":"leftClickSlot","rightClickCallback":"rightClickSlot","showRarity":false,"showDurability":true},
"_29": {"type":"itemslot","callback":"i","rightClickCallback":"i","showRarity":false,"showDurability":true},
"_30": {"type":"itemslot","callback":"o","rightClickCallback":"o","showRarity":false,"showDurability":true},
		"title" : {
			"type" : "label",
			"value" : "^#ff0,shadow;Backpack",
			"position" : [8, 114]
		},
		"close": {
			"type": "button",
			"base": "/interface/x.png",
			"hover": "/interface/x.png?brightness=-15",
			"pressed": "/interface/x.png?brightness=-30",
			"pressedOffset": [0, 0],
			"position": [99, 112]
		}
	},
	"scriptWidgetCallbacks": ["leftClickSlot","rightClickSlot","i","o"],
	"bagType": 0,
        "slots": 20,
        "grid": [7,76,18,5,7], //[7,76,18,5,7]
	"scripts": ["/interface/scripted/xrc_arcana_bag/lua.lua"],
	"scriptDelta": 0
}
