{
	"gui": {
		"background": {
			"type": "background",
			"fileHeader": "/interface/scripted/xrc_arcana_bag/header.png",
			"fileBody": "/interface/scripted/xrc_arcana_bag/body.png",
			"fileFooter": "/interface/scripted/xrc_arcana_bag/if.png"
		},
		"_1": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [7, 43],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_2": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"rightClickCallback": "rightClickSlot",
			"position": [25, 43],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_3": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [43, 43],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_4": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [61, 43],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_5": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [79, 43],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_6": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [97, 43],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_7": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [115, 43],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_8": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [133, 43],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_9": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [151, 43],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_10": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [7, 25],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_11": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [25, 25],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_12": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [43, 25],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_13": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [61, 25],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_14": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [79, 25],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_15": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [97, 25],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_16": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [115, 25],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_17": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [133, 25],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_18": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [151, 25],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_19": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [7, 7],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_20": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [25, 7],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"tab0": {
			"type": "button","pressedOffset": [0, -1],"zLevel":-1,"callback":"changeTab",
			"base" : "/interface/scripted/xrc_arcana_bag/i0.png",
			"hover" : "/interface/scripted/xrc_arcana_bag/i0.png",
			"pressed" : "/interface/scripted/xrc_arcana_bag/i0.png",
			"position" : [5, 3],
			"data":0
		},
		"tab1": {
			"type": "button","pressedOffset": [0, -1],"zLevel":-1,"callback":"changeTab",
			"base" : "/interface/scripted/xrc_arcana_bag/i1.png",
			"hover" : "/interface/scripted/xrc_arcana_bag/i1.png",
			"pressed" : "/interface/scripted/xrc_arcana_bag/i1.png",
			"position" : [24, 3],
			"data":1
		},
		"tab2": {
			"type": "button","pressedOffset": [0, -1],"zLevel":-1,"callback":"changeTab",
			"base" : "/interface/scripted/xrc_arcana_bag/i2.png",
			"hover" : "/interface/scripted/xrc_arcana_bag/i2.png",
			"pressed" : "/interface/scripted/xrc_arcana_bag/i2.png",
			"position" : [43, 3],
			"data":2
		},
		"tab3": {
			"type": "button","pressedOffset": [0, -1],"zLevel":-1,"callback":"changeTab",
			"base" : "/interface/scripted/xrc_arcana_bag/i3.png",
			"hover" : "/interface/scripted/xrc_arcana_bag/i3.png",
			"pressed" : "/interface/scripted/xrc_arcana_bag/i3.png",
			"position" : [61, 3],
			"data":3
		},
		"tab4": {
			"type": "button","pressedOffset": [0, -1],"zLevel":-1,"callback":"changeTab",
			"base" : "/interface/scripted/xrc_arcana_bag/i4.png",
			"hover" : "/interface/scripted/xrc_arcana_bag/i4.png",
			"pressed" : "/interface/scripted/xrc_arcana_bag/i4.png",
			"position" : [79, 3],
			"data":4
		},
		"title" : {
			"type" : "label",
			"value" : "^#ff0,shadow;Cool Bag",
			"position" : [8, 101]
		},
		"close": {
			"type": "button",
			"base": "/interface/x.png",
			"hover": "/interface/x.png?brightness=-15",
			"pressed": "/interface/x.png?brightness=-30",
			"pressedOffset": [0, 0],
			"position": [83, 99]
		}
	},
	"scriptWidgetCallbacks": ["leftClickSlot","rightClickSlot","changeTab"],
	"bagType" : 0,
        "slots" : 20,
        "grid" : [7,76,18,5,7], //[7,76,18,5,7]
        "bagSfx" : "/sfx/tech/tech_walljump.ogg",
	"bagTitles" : [ "Backpack",
			"Velvet Pouch",
			"Potion Bandolier",
			"Scroll Holder",
			"Wand Holster"
	],
	"scripts": ["/interface/scripted/xrc_arcana_bag/lua.lua"],
	"scriptDelta": 0
}