{
  "resources" : [
    {
	  "type" : "object",
	  "name" : "workshop_auto_node_iron",
	  "item" : { "name" : "ironore", "count" : 1 }
	},
    {
	  "type" : "object",
	  "name" : "workshop_auto_node_dustrium",
	  "item" : { "name" : "workshop_crafting_rawDustrium", "count" : 1 }
	},
    {
	  "type" : "object",
	  "name" : "workshop_auto_node_galvasteel",
	  "item" : { "name" : "arcana_ore_galvasteelOre", "count" : 1 }
	},
    {
	  "type" : "mod",
	  "name" : "iron",
	  "item" : { "name" : "ironore", "count" : 1 }
	}
  ]
}
