{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/arcana/arcana_auto/header.png",
      "fileBody" : "/interface/arcana/arcana_auto/body_battery.png",
      "fileFooter" : "/interface/arcana/arcana_auto/footer.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [238, 58],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/arcana/arcana_auto/emptyslot.png"
    },
    "progress" : {
	  "type" : "progress",
	  "zlevel" : 10,
	  "background" : "/interface/arcana/arcana_auto/progressempty.png",
	  "position" : [227, 61],
	  "size" : [41, 6],
	  "progressSet" : {
	    "inner" : "/interface/arcana/arcana_auto/progress.png",
	    "type" : "repeat"
	  },
	  "direction" : "horizontal"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [267, 165]
    },
    "lblText" : {
      "type" : "label",
      "position" : [15, 128],
      "hAnchor" : "left",
	  "vAnchor" : "top",
      "wrapWidth" : 180,
      "value" : "A durable power storage unit. Can store ^orange;400^reset;kw of power. Distributes ^orange;20^reset;kw of power per second when charged."
    },
    "lblStatus" : {
      "type" : "label",
      "position" : [15, 60],
      "hAnchor" : "left",
      "wrapWidth" : 200,
	  "fontSize" : 8.0,
      "value" : ""
    },
    "objectImage" : {
      "type" : "image",
      "position" : [247, 114],
      "file" : "",
      "centered" : true,
      "maxSize" : [32, 40],
      "minSize" : [32, 40]
    }
  },
  "scripts" : ["/interface/arcana/arcana_auto/battery.lua"],
  "scriptDelta" : 1
}
