{
  "craftingSound" : "/sfx/interface/crafting_furnace.ogg",
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/arcana/arcana_auto/header.png",
      "fileBody" : "/interface/arcana/arcana_auto/body_burner.png",
      "fileFooter" : "/interface/arcana/arcana_auto/footer_clean.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [96, 100],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/arcana/arcana_auto/empty_coal.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/arcana/arcana_auto/toggle.png",
      "hover" : "/interface/arcana/arcana_auto/toggle.png",
      "pressed" : "/interface/arcana/arcana_auto/toggleoff.png",
      "pressedOffset" : [0, 0],
      "position" : [260, 252]
    },
    "stateToggle" : {
      "type" : "button",
      "base" : "/interface/arcana/arcana_auto/stateoff.png",
      "baseImageChecked" : "/interface/arcana/arcana_auto/stateon.png",
      "checkable" : true,
      "checked" : true,
      "position" : [222, 252]
    },
    "lblState" : {
      "type" : "label",
      "position" : [240, 256],
      "hAnchor" : "mid",
      "wrapWidth" : 60,
	  "fontSize" : 7.2,
      "value" : "^white,shadow;On/Off^reset;"
    },
    "lblText" : {
      "type" : "label",
      "position" : [30, 213],
      "hAnchor" : "left",
      "wrapWidth" : 229,
      "value" : "^white;A simple furnace that burns wood, plant fibre or coal to produce power. ^orange;Can be wired to other machines.^reset;"
    },
   "lblInput1" : {
      "type" : "label",
      "position" : [14, 123],
      "hAnchor" : "left",
	  "vAnchor" : "top",
      "wrapWidth" : 80,
	  "fontSize" : 6.4,
      "value" : "^white;^orange;10 Coal^reset; / 1 min^reset;"
    },
   "lblInput2" : {
      "type" : "label",
      "position" : [14, 112],
      "hAnchor" : "left",
	  "vAnchor" : "top",
      "wrapWidth" : 80,
	  "fontSize" : 6.4,
      "value" : "^white;^orange;10 Wooden Log^reset; / 1 min^reset;"
    },
   "lblInput3" : {
      "type" : "label",
      "position" : [14, 101],
      "hAnchor" : "left",
	  "vAnchor" : "top",
      "wrapWidth" : 80,
	  "fontSize" : 6.4,
      "value" : "^white;^orange;20 Plant Fibre^reset; / 1 min^reset;"
    },
    "lblPower" : {
      "type" : "label",
      "position" : [161, 99],
      "hAnchor" : "left",
	  "vAnchor" : "top",
      "wrapWidth" : 64,
	  "fontSize" : 6.4,
      "value" : "^orange;15 kW^reset;"
    },
    "progress" : {
	  "type" : "progress",
	  "zlevel" : 2,
	  "background" : "/interface/arcana/arcana_auto/progressempty.png",
	  "position" : [149, 81],
	  "size" : [41, 6],
	  "progressSet" : {
	    "inner" : "/interface/arcana/arcana_auto/progress.png",
	    "type" : "repeat"
	  },
	  "direction" : "horizontal"
    },
    "objectImage" : {
      "type" : "image",
      "position" : [233, 106],
      "file" : "",
      "centered" : true,
      "maxSize" : [65, 100],
      "minSize" : [40, 40]
    }
  },
  
  "scriptWidgetCallbacks" : [
    "stateToggle"
  ],
  
  "scripts" : ["/interface/arcana/arcana_auto/burner.lua"],
  "scriptDelta" : 2
}
