{
  "craftingSound" : "/sfx/interface/crafting_furnace.ogg",
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/arcana/arcana_auto/header_small.png",
      "fileBody" : "/interface/arcana/arcana_auto/body_control.png",
      "fileFooter" : "/interface/arcana/arcana_auto/footer_smallclean.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [16, 55],
      "dimensions" : [4, 2],
      "spacing" : [19, 19],
      "backingImage" : "/interface/arcana/arcana_auto/emptyalt.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [227, 126]
    },
    "lblText" : {
      "type" : "label",
      "position" : [16, 117],
      "hAnchor" : "left",
	  "vAnchor" : "top",
      "wrapWidth" : 229,
      "value" : "^white;Insert an item below to allow it to be transferred."
    },
	"itemList" : {
	  "type" : "list",
	  "position" : [16, 50],
	  "callback" : "itemCallback",
	  "columns" : 8,
	  "fillDown" : true,
	  "scissoring" : false,
	  "schema" : {
		"spacing" : [1, 1],
		"memberSize" : [20, 20],
		"listTemplate" : {
		  "item" : {
			"type" : "itemslot",
			"zLevel" : 10,
			"callback" : "null",
			"position" : [1, 1]
		  },
		  "emptyslot" : {
			"type" : "image",
			"zLevel" : 9,
			"file" : "/interface/arcana/arcana_auto/recipe_emptybox.png",
			"position" : [0, 0]
		  }
		}
	  }
	}
  },
  
  "scriptWidgetCallbacks" : [
    "itemCallback"
  ],
  
  "scripts" : ["/interface/arcana/arcana_auto/control.lua"],
  "scriptDelta" : 1
}
