{
  "craftingSound" : "/sfx/interface/crafting_furnace.ogg",
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/arcana/arcana_auto/header_small.png",
      "fileBody" : "/interface/arcana/arcana_auto/body_essenceextractor.png",
      "fileFooter" : "/interface/arcana/arcana_auto/footer_small.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [45, 66],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "position" : [83, 56],
      "dimensions" : [2, 2],
      "spacing" : [19, 19],
      "slotOffset" : 1,
      "backingImage" : "/interface/inventory/empty.png"
    },
    "objectImage" : {
      "type" : "image",
      "position" : [145, 139],
      "file" : "",
      "centered" : true,
      "maxSize" : [120, 64],
      "minSize" : [32, 48]
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [227, 255]
    },
    "lblText" : {
      "type" : "label",
      "position" : [30, 202],
      "hAnchor" : "left",
      "wrapWidth" : 189,
      "value" : "^white;An automatic machine that extracts essence and other materials from liquids. ^orange;Can be wired to other machines.^reset;"
    },
    "lblRate" : {
      "type" : "label",
      "position" : [12, 35],
      "hAnchor" : "left",
      "wrapWidth" : 125,
	  "fontSize" : 6.4,
      "value" : "^white;Rate: 2.0s"
    }
  }
}
