{
  "craftingSound" : "/sfx/interface/crafting_furnace.ogg",
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/arcana/arcana_auto/header.png",
      "fileBody" : "/interface/arcana/arcana_auto/body_extractor.png",
      "fileFooter" : "/interface/arcana/arcana_auto/footer.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [238, 58],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "progress" : {
	  "type" : "progress",
	  "zlevel" : 10,
	  "background" : "/interface/arcana/arcana_auto/progressempty.png",
	  "position" : [227, 50],
	  "size" : [41, 6],
	  "progressSet" : {
	    "inner" : "/interface/arcana/arcana_auto/progress.png",
	    "type" : "repeat"
	  },
	  "direction" : "horizontal"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [267, 285]
    },
    "lblText" : {
      "type" : "label",
      "position" : [30, 257],
      "hAnchor" : "left",
	  "vAnchor" : "top",
      "wrapWidth" : 229,
      "value" : "^white;An automatic extractor that slowly produces ores. Requires a valid ^orange;ore node^reset; or at least one ^orange;ore block^reset; 2 tiles below to work. ^orange;Requires 15kW of Power.^reset;"
    },
    "lblTile" : {
      "type" : "label",
      "position" : [38, 102],
      "hAnchor" : "left",
	  "vAnchor" : "top",
      "wrapWidth" : 100,
	  "fontSize" : 6.0,
      "value" : "^#38332e;Ore Blocks: 1/3.0 sec. Faster when more ores are detected."
    },
    "lblNode" : {
      "type" : "label",
      "position" : [152, 102],
      "hAnchor" : "left",
	  "vAnchor" : "top",
      "wrapWidth" : 100,
	  "fontSize" : 6.0,
      "value" : "^#38332e;Ore Node: 1/1.0 sec."
    },
    "lblStatus" : {
      "type" : "label",
      "position" : [15, 60],
      "hAnchor" : "left",
      "wrapWidth" : 200,
	  "fontSize" : 8.0,
      "value" : ""
    }
  },
  "scripts" : ["/interface/arcana/arcana_auto/extractor.lua"],
  "scriptDelta" : 1
}
