{
  "craftingSound" : "/sfx/interface/crafting_furnace.ogg",
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/arcana/arcana_auto/header.png",
      "fileBody" : "/interface/arcana/arcana_auto/body_extractor.png",
      "fileFooter" : "/interface/arcana/arcana_auto/footer.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [245, 56],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "progress" : {
	  "type" : "progress",
	  "zlevel" : 10,
	  "background" : "/interface/arcana/arcana_auto/progressempty.png",
	  "position" : [200, 60],
	  "size" : [41, 6],
	  "progressSet" : {
	    "inner" : "/interface/arcana/arcana_auto/progress.png",
	    "type" : "repeat"
	  },
	  "direction" : "horizontal"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [267, 285]
    },
    "lblText" : {
      "type" : "label",
      "position" : [30, 257],
      "hAnchor" : "left",
	  "vAnchor" : "top",
      "wrapWidth" : 229,
      "value" : "^white;An automatic extractor that slowly produces ores. Requires an ^#696f67;iron^reset;, ^#ffa93d;dustrium^reset; or ^#443e60;galvasteel^reset; ore node below to work. ^orange;Requires 10kW of Power. This can be wired to other machines.^reset;"
    },
    "lblRate" : {
      "type" : "label",
      "position" : [12, 35],
      "hAnchor" : "left",
      "wrapWidth" : 125,
	  "fontSize" : 6.4,
      "value" : "^white;Rate: 1.0s"
    }
  },
  "scripts" : ["/interface/arcana/arcana_auto/extractor.lua"],
  "scriptDelta" : 1
}
