{
  "craftingSound" : "/sfx/interface/crafting_furnace.ogg",
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/arcana/arcana_auto/header.png",
      "fileBody" : "/interface/arcana/arcana_auto/body_empty.png",
      "fileFooter" : "/interface/arcana/arcana_auto/footer.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [160, 56],
      "dimensions" : [2, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [267, 305]
    },
    "lblText" : {
      "type" : "label",
      "position" : [30, 287],
      "hAnchor" : "left",
	  "vAnchor" : "top",
      "wrapWidth" : 229,
      "value" : "Autofilled"
    },
    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [10, 80, 275, 251],
	  "buttons" : {
		"horizontal" : {
		  "forward" : { "base" : "", "hover" : "", "pressed" : "" },
		  "backward" : { "base" : "", "hover": "", "pressed" : "" }
		},
		"vertical" : {
		  "forward" : {
			"base" : "/interface/arcana/arcana_crafting_trading/varrow-forward.png",
			"hover" : "/interface/arcana/arcana_crafting_trading/varrow-forwardhover.png",
			"pressed" : ""
		  },
		  "backward" : {
			"base" : "/interface/arcana/arcana_crafting_trading/varrow-backward.png",
			"hover" : "/interface/arcana/arcana_crafting_trading/varrow-backwardhover.png",
			"pressed" : ""
		  }
		}
	  },
	  "thumbs" : {
		"horizontal" : {
		  "base" : { "begin" : "", "end" : "", "inner" : "" },
		  "hover" : { "begin" : "", "end" : "", "inner" : "" },
		  "pressed" : { "begin" : "", "end" : "", "inner" : "" }
		},
		"vertical" : {
		  "base" : {
			"begin" : "/interface/arcana/arcana_crafting_trading/vthumb-begin.png",
			"end" : "/interface/arcana/arcana_crafting_trading/vthumb-end.png",
			"inner" : "/interface/arcana/arcana_crafting_trading/vthumb-inner.png"
		  },
		  "hover" : {
			"begin" : "/interface/arcana/arcana_crafting_trading/vthumb-beginhover.png",
			"end" : "/interface/arcana/arcana_crafting_trading/vthumb-endhover.png",
			"inner" : "/interface/arcana/arcana_crafting_trading/vthumb-innerhover.png"
		  },
		  "pressed" : {
			"begin" : "/interface/arcana/arcana_crafting_trading/vthumb-beginhover.png",
			"end" : "/interface/arcana/arcana_crafting_trading/vthumb-endhover.png",
			"inner" : "/interface/arcana/arcana_crafting_trading/vthumb-innerhover.png"
		  }
		}
	  },
      "children" : {
        "inputList" : {
		  "type" : "list",
		  "position" : [0, 0],
		  "callback" : "null",
		  "columns" : 1,
		  "fillDown" : true,
		  "scissoring" : false,
		  "schema" : {
			"spacing" : [1, 1],
			"memberSize" : [263, 71],
			"listTemplate" : {
			  "img" : {
			    "type" : "image",
				"zLevel" : 4,
				"file" : "/interface/arcana/arcana_auto/recipe_body.png",
			    "position" : [0, 0]
			  },
			  "text" : {
			    "type" : "label",
			    "zLevel" : 9,
			    "position" : [184, 41],
			    "hAnchor" : "left",
			    "vAnchor" : "top",
			    "wrapWidth" : 70,
			    "fontSize" : 6,
			    "value" : "Replace Me"
			  },
			  "item" : {
			    "type" : "image",
			    "zLevel" : 8,
			    "file" : "/interface/arcana/arcana_auto/recipe_redbox.png",
			    "position" : [164, 32]
			  },
			  "back" : {
			    "type" : "image",
			    "zLevel" : 7,
			    "file" : "/interface/arcana/arcana_auto/recipe_redbox.png",
			    "position" : [164, 32]
			  },
			  "imgout" : {
			    "type" : "image",
			    "zLevel" : 6,
			    "file" : "/interface/arcana/arcana_auto/recipe_back.png",
			    "position" : [181, 32]
			  },
			  "input" : {
			    "type" : "list",
				"zLevel" : 5,
			    "position" : [0, 70],
			    "callback" : "null",
			    "columns" : 1,
			    "fillDown" : true,
			    "scissoring" : false,
			    "schema" : {
				  "spacing" : [1, 1],
			      "memberSize" : [100, 16],
				  "listTemplate" : {
				    "text" : {
					  "type" : "label",
					  "zLevel" : 9,
					  "position" : [22, 9],
					  "hAnchor" : "left",
					  "vAnchor" : "top",
					  "wrapWidth" : 70,
					  "fontSize" : 6,
					  "value" : "Replace Me"
					},
				    "item" : {
					  "type" : "image",
					  "zLevel" : 8,
					  "file" : "/interface/arcana/arcana_auto/recipe_bluebox.png",
					  "position" : [2, 0]
				    },
				    "back" : {
					  "type" : "image",
					  "zLevel" : 7,
					  "file" : "/interface/arcana/arcana_auto/recipe_bluebox.png",
					  "position" : [2, 0]
				    },
				    "img" : {
					  "type" : "image",
					  "zLevel" : 6,
					  "file" : "/interface/arcana/arcana_auto/recipe_back.png",
					  "position" : [19, 0]
				    }
				  }
				}
			  }
			}
		  }
        }
      }
    },
    "lblRate" : {
      "type" : "label",
      "position" : [12, 35],
      "hAnchor" : "left",
      "wrapWidth" : 125,
	  "fontSize" : 6.4,
      "value" : ""
    }
  },
  
  "scripts" : ["/interface/arcana/arcana_auto/assembler.lua"],
  "scriptDelta" : 40,
  "configPath" : "/objects/workshop/workshop_auto_foundry/config.config"
}
