{
  "craftingSound" : "/sfx/interface/crafting_furnace.ogg",
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/arcana/arcana_auto/header.png",
      "fileBody" : "/interface/arcana/arcana_auto/body_empty.png",
      "fileFooter" : "/interface/arcana/arcana_auto/footer.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
	  "zlevel" : 10,
      "position" : [160, 56],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
	  "zlevel" : 10,
      "position" : [217, 56],
      "dimensions" : [1, 1],
      "slotOffset" : 1,
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "progress" : {
	  "type" : "progress",
	  "zlevel" : 2,
	  "background" : "/interface/arcana/arcana_auto/progressempty.png",
	  "position" : [206, 48],
	  "size" : [41, 6],
	  "progressSet" : {
	    "inner" : "/interface/arcana/arcana_auto/progress.png",
	    "type" : "repeat"
	  },
	  "direction" : "horizontal"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [267, 305]
    },
    "lblText" : {
      "type" : "label",
      "position" : [30, 287],
      "hAnchor" : "left",
	  "vAnchor" : "top",
      "wrapWidth" : 229,
	  "fontSize" : 7,
      "value" : "Autofilled"
    },
    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [10, 80, 275, 251],
	  "buttons" : {
		"horizontal" : {
		  "forward" : { "base" : "", "hover" : "", "pressed" : "" },
		  "backward" : { "base" : "", "hover": "", "pressed" : "" }
		},
		"vertical" : {
		  "forward" : {
			"base" : "/interface/arcana/arcana_crafting_trading/varrow-forward.png",
			"hover" : "/interface/arcana/arcana_crafting_trading/varrow-forwardhover.png",
			"pressed" : ""
		  },
		  "backward" : {
			"base" : "/interface/arcana/arcana_crafting_trading/varrow-backward.png",
			"hover" : "/interface/arcana/arcana_crafting_trading/varrow-backwardhover.png",
			"pressed" : ""
		  }
		}
	  },
	  "thumbs" : {
		"horizontal" : {
		  "base" : { "begin" : "", "end" : "", "inner" : "" },
		  "hover" : { "begin" : "", "end" : "", "inner" : "" },
		  "pressed" : { "begin" : "", "end" : "", "inner" : "" }
		},
		"vertical" : {
		  "base" : {
			"begin" : "/interface/arcana/arcana_crafting_trading/vthumb-begin.png",
			"end" : "/interface/arcana/arcana_crafting_trading/vthumb-end.png",
			"inner" : "/interface/arcana/arcana_crafting_trading/vthumb-inner.png"
		  },
		  "hover" : {
			"begin" : "/interface/arcana/arcana_crafting_trading/vthumb-beginhover.png",
			"end" : "/interface/arcana/arcana_crafting_trading/vthumb-endhover.png",
			"inner" : "/interface/arcana/arcana_crafting_trading/vthumb-innerhover.png"
		  },
		  "pressed" : {
			"begin" : "/interface/arcana/arcana_crafting_trading/vthumb-beginhover.png",
			"end" : "/interface/arcana/arcana_crafting_trading/vthumb-endhover.png",
			"inner" : "/interface/arcana/arcana_crafting_trading/vthumb-innerhover.png"
		  }
		}
	  },
      "children" : {
        "inputList" : {
		  "type" : "list",
		  "position" : [0, 0],
		  "callback" : "null",
		  "columns" : 1,
		  "fillDown" : true,
		  "scissoring" : false,
		  "schema" : {
			"spacing" : [1, 1],
			"memberSize" : [263, 40],
			"listTemplate" : {
			  "img" : {
			    "type" : "image",
				"zLevel" : 4,
				"file" : "/interface/arcana/arcana_auto/recipe_body.png",
			    "position" : [0, 0]
			  },
			  "text" : {
			    "type" : "label",
			    "zLevel" : 9,
			    "position" : [186, 12],
			    "hAnchor" : "left",
			    "vAnchor" : "bottom",
			    "wrapWidth" : 70,
			    "fontSize" : 6,
			    "value" : "Replace Me"
			  },
			  "outitem" : {
			    "type" : "itemslot",
				"zLevel" : 9,
				"callback" : "null",
			    "position" : [162, 11]
			  },
			  "input" : {
			    "type" : "list",
				"zLevel" : 5,
			    "position" : [4, 31],
			    "callback" : "null",
			    "columns" : 4,
			    "fillDown" : true,
			    "scissoring" : false,
			    "schema" : {
				  "spacing" : [1, 1],
			      "memberSize" : [20, 20],
				  "listTemplate" : {
				    "initem" : {
					  "type" : "itemslot",
					  "zLevel" : 10,
					  "callback" : "null",
					  "position" : [1, 1]
				    },
				    "emptyslot" : {
					  "type" : "image",
					  "zLevel" : 9,
					  "file" : "/interface/arcana/arcana_auto/recipe_emptybox.png",
					  "position" : [0, 0]
				    }
				  }
				}
			  }
			}
		  }
        }
      }
    },
    "lblRate" : {
      "type" : "label",
      "position" : [12, 35],
      "hAnchor" : "left",
      "wrapWidth" : 125,
	  "fontSize" : 6.4,
      "value" : ""
    }
  },
  
  "scripts" : ["/interface/arcana/arcana_auto/assembler.lua"],
  "scriptDelta" : 2,
  "configPath" : "/objects/workshop/workshop_auto_lathe/lathe.config"
}
