{
  "craftingSound" : "/sfx/interface/crafting_furnace.ogg",
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/arcana/arcana_auto/header.png",
      "fileBody" : "/interface/arcana/arcana_auto/body_lathe.png",
      "fileFooter" : "/interface/arcana/arcana_auto/footer.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [160, 56],
      "dimensions" : [2, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [267, 305]
    },
    "lblText" : {
      "type" : "label",
      "position" : [30, 287],
      "hAnchor" : "left",
	  "vAnchor" : "top",
      "wrapWidth" : 229,
      "value" : "^white;An automatic lathe for creating basic materials. ^orange;Requires 10kW of Power. Can be wired to other machines.^reset;"
    },
    "lblInput1" : {
      "type" : "label",
      "position" : [14, 231],
      "hAnchor" : "left",
      "wrapWidth" : 64,
	  "fontSize" : 6.4,
      "value" : "^white;1 Dustrium Bar^reset;"
    },
    "lblInput2" : {
      "type" : "label",
      "position" : [14, 193],
      "hAnchor" : "left",
      "wrapWidth" : 64,
	  "fontSize" : 6.4,
      "value" : "^white;1 Iron Bar^reset;"
    },
    "lblInput3" : {
      "type" : "label",
      "position" : [14, 155],
      "hAnchor" : "left",
      "wrapWidth" : 64,
	  "fontSize" : 6.4,
      "value" : "^white;4 Connector^reset;"
    },
    "lblOutput1" : {
      "type" : "label",
      "position" : [203, 231],
      "hAnchor" : "left",
      "wrapWidth" : 64,
	  "fontSize" : 6.4,
      "value" : "^white;2 Dustrium Wire^reset;"
    },
    "lblOutput2" : {
      "type" : "label",
      "position" : [203, 193],
      "hAnchor" : "left",
      "wrapWidth" : 64,
	  "fontSize" : 6.4,
      "value" : "^white;2 Connector^reset;"
    },
    "lblOutput3" : {
      "type" : "label",
      "position" : [203, 155],
      "hAnchor" : "left",
      "wrapWidth" : 64,
	  "fontSize" : 6.4,
      "value" : "^white;1 Frame^reset;"
    },
    "lblRate" : {
      "type" : "label",
      "position" : [12, 35],
      "hAnchor" : "left",
      "wrapWidth" : 125,
	  "fontSize" : 6.4,
      "value" : "^white;Rate: 2s"
    }
  }
}
