{
  "paintcolors" : [
    { "name" : "Primary", "directives" : ["77797c","534f4f","302f2f","1c1a1a","110f0f"] },
	{ "name" : "Secondary", "directives" : ["dca336","c3752a","8d4919","562912","3b1c0c"] },
	{ "name" : "White", "directives" : ["c8c8c8","a9a9a9","6e6e6e","373737","151515"] },
	{ "name" : "Black", "directives" : ["555555","373737","262626","151515","0a0a0a"] },
	{ "name" : "Gray", "directives" : ["989898","757575","414141","222222","0e0e0e"] },
    { "name" : "Red", "directives" : ["cf3325","b30c0c","790505","4f0000","290202"] },
	{ "name" : "Blue", "directives" : ["3676dc","1b5ec8","0d439b","002d75","00163b"] },
	{ "name" : "Light Blue", "directives" : ["57bbec","2c9bd3","076492","033149","022030"] },
	{ "name" : "Green", "directives" : ["9adc36","5dc110","4c8d19","215a0b","093704"] },
	{ "name" : "Yellow", "directives" : ["dcc850","b98620","8a5f08","563c07","301e05"] },
	{ "name" : "Lime", "directives" : ["909c4f","5f6c37","3a4522","1b2211","10150a"] },
	{ "name" : "Magenta", "directives" : ["d048c7","8c2285","5e1159","3b0a37","260723"] },
	{ "name" : "Titancorp Orange", "directives" : ["ffa93d","ec7f27","c44d29","5c2e29","2e1613"] },
	{ "name" : "Titancorp Cyan", "directives" : ["5591a2","2e6d80","164956","142a34","0b191f"] },
	{ "name" : "Titancorp Black", "directives" : ["64646a","41424d","22222a","111116","000000"] },
	{ "name" : "Orion White", "directives" : ["f3f4fb","bbbdce","6e718b","3d415e","212131"] },
	{ "name" : "Aurea White", "directives" : ["fff2e2","bfb4a5","897963","484035","2a2722"] },
	{ "name" : "Paint Azure", "directives" : ["96d9e7","559fd3","345595","1a2650","071837"] },
	{ "name" : "Canvas", "directives" : ["e7dfbd","d2bc70","a97d56","6b4b2d","493421"] }
  ]
}