{
  "craftingSound" : "/sfx/interface/crafting_furnace.ogg",
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/arcana/arcana_auto/header.png",
      "fileBody" : "/interface/arcana/arcana_auto/body_paint.png",
      "fileFooter" : "/interface/arcana/arcana_auto/footer_clean.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [106, 54],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [267, 225]
    },
    "lblColor" : {
      "type" : "label",
      "position" : [60, 59],
      "hAnchor" : "mid",
      "wrapWidth" : 100,
      "value" : "Default",
	  "visible" : false
    },
    "lblAlert" : {
      "type" : "label",
      "position" : [204, 86],
      "hAnchor" : "mid",
      "wrapWidth" : 100,
	  "fontSize" : 6,
      "value" : "Replace Me"
    },
    "btnPaint" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
	  "pressed" : "/interface/buttonactive.png",
      "position" : [177, 56],
      "caption" : "Paint",
      "callback" : "paintitem"
    },
    "btnReset1" : {
      "type" : "button",
      "base" : "/interface/arcana/arcana_auto/resetbtn.png",
      "hover" : "/interface/arcana/arcana_auto/resetbtnhover.png",
	  "pressed" : "/interface/arcana/arcana_auto/resetbtnpressed.png",
      "position" : [16, 63],
      "callback" : "colorreset1"
    },
    "btnReset2" : {
      "type" : "button",
      "base" : "/interface/arcana/arcana_auto/resetbtn.png",
      "hover" : "/interface/arcana/arcana_auto/resetbtnhover.png",
	  "pressed" : "/interface/arcana/arcana_auto/resetbtnpressed.png",
      "position" : [16, 48],
      "callback" : "colorreset2"
    },
	"groupPaintType" : {
	  "type" : "radioGroup",
	  "position" : [30, 30],
	  "callback" : "paintempty",
	  "buttons" : [
        {
		  "id" : 0,
	      "selected" : true,
          "baseImage" : "/interface/arcana/arcana_auto/typebtn.png",
          "hoverImage" : "/interface/arcana/arcana_auto/typebtnhover.png",
	      "baseImageChecked" : "/interface/arcana/arcana_auto/typebtnselected.png",
		  "hoverImageChecked" : "/interface/arcana/arcana_auto/typebtnselected.png",
          "position" : [0, 33],
		  "pressedOffset": [ 0, 0 ],
		  "fontSize" : 6
        },
        {
		  "id" : 1,
	      "selected" : true,
          "baseImage" : "/interface/arcana/arcana_auto/typebtn.png",
          "hoverImage" : "/interface/arcana/arcana_auto/typebtnhover.png",
	      "baseImageChecked" : "/interface/arcana/arcana_auto/typebtnselected.png",
		  "hoverImageChecked" : "/interface/arcana/arcana_auto/typebtnselected.png",
          "position" : [0, 18],
		  "pressedOffset": [ 0, 0 ],
		  "fontSize" : 6
        }
	  ]
	},
    "itemImage" : {
      "type" : "image",
      "position" : [204, 149],
      "file" : "",
      "centered" : true,
      "maxSize" : [120, 96]
    },
    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [22, 91, 132, 192],
	  "buttons" : {
		"horizontal" : {
		  "forward" : { "base" : "", "hover" : "", "pressed" : "" },
		  "backward" : { "base" : "", "hover": "", "pressed" : "" }
		},
		"vertical" : {
		  "forward" : {
			"base" : "/interface/arcana/arcana_crafting_trading/varrow-forward.png",
			"hover" : "/interface/arcana/arcana_crafting_trading/varrow-forwardhover.png",
			"pressed" : ""
		  },
		  "backward" : {
			"base" : "/interface/arcana/arcana_crafting_trading/varrow-backward.png",
			"hover" : "/interface/arcana/arcana_crafting_trading/varrow-backwardhover.png",
			"pressed" : ""
		  }
		}
	  },
	  "thumbs" : {
		"horizontal" : {
		  "base" : { "begin" : "", "end" : "", "inner" : "" },
		  "hover" : { "begin" : "", "end" : "", "inner" : "" },
		  "pressed" : { "begin" : "", "end" : "", "inner" : "" }
		},
		"vertical" : {
		  "base" : {
			"begin" : "/interface/arcana/arcana_crafting_trading/vthumb-begin.png",
			"end" : "/interface/arcana/arcana_crafting_trading/vthumb-end.png",
			"inner" : "/interface/arcana/arcana_crafting_trading/vthumb-inner.png"
		  },
		  "hover" : {
			"begin" : "/interface/arcana/arcana_crafting_trading/vthumb-beginhover.png",
			"end" : "/interface/arcana/arcana_crafting_trading/vthumb-endhover.png",
			"inner" : "/interface/arcana/arcana_crafting_trading/vthumb-innerhover.png"
		  },
		  "pressed" : {
			"begin" : "/interface/arcana/arcana_crafting_trading/vthumb-beginhover.png",
			"end" : "/interface/arcana/arcana_crafting_trading/vthumb-endhover.png",
			"inner" : "/interface/arcana/arcana_crafting_trading/vthumb-innerhover.png"
		  }
		}
	  },
      "children" : {
        "colorsList" : {
		  "type" : "list",
		  "position" : [0, 0],
		  "callback" : "null",
		  "columns" : 4,
		  "fillDown" : true,
		  "scissoring" : false,
		  "schema" : {
			"spacing" : [1, 1],
			"memberSize" : [22, 22],
			"listTemplate" : {
			  "button" : {
				"type" : "button",
				"base" : "/interface/arcana/arcana_auto/coloricon.png",
				"hover" : "/interface/arcana/arcana_auto/coloricon.png",
				"pressed" : "/interface/arcana/arcana_auto/coloricon.png",
				"pressedOffset" : [0, -1],
				"position" : [0, 0],
				"size" : [22, 22],
				"fontSize" : 6,
				"zlevel" : 2,
				"caption" : "",
				"callback" : "paintselect",
				"data" : 0
			  }
			}
		  }
        }
      }
    }
  },
  
  "scriptWidgetCallbacks" : [
    "paintitem",
	"paintselect",
	"paintempty",
	"colorreset1",
	"colorreset2"
  ],

  "scripts" : ["/interface/arcana/arcana_auto/paint.lua"],
  "scriptDelta" : 40
}
