{
  "action" : "actions",
  "list" : [
    {
      "action" : "loop",
      "count" : 3,
      "body" : [
        {
          "action" : "projectile",
          "inheritDamageFactor" : 1,
          "type" : "arcana_boss_dheral_projectile_4alt",
          "angle" : 90,
          "fuzzAngle" : 180
        }
      ]
    }
  ]
}
