{
  "recipes" : {
    "1" : {
      "input" : [
        { "name" : "arcana_fuelcell", "count" : 1 }
      ],
      "output" : 40
	},
    "2" : {
      "input" : [
        { "name" : "arcana_magifluxcell", "count" : 1 }
      ],
      "output" : 80
	},
    "3" : {
      "input" : [
        { "name" : "arcana_erchiuscell", "count" : 1 }
      ],
      "output" : 120
	}
  },
  "consumptionTime" : 10.0,
  "description" : "^white;A standard fuel cell generator. Consumes a valid fuel item to produce power, every ^orange;10s^reset;."
}