{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Sagira", "Subira", "Teiharset", "Fukayna", "Pipui", "Xonsu", "Zesiro", "Amunet", "Eboni", "Maanai", "Oseye", "Nuru", "Ahit", "Astekhu", "Nishem", "Bentres", "Ketet", "Bithiah", "Nane", "Umayma", "Bantanath", "Meskhenet", "Acenath", "Siti", "Carla", "Carmen", "Carmine", "Cassie", "Celeste", "Chelle", "Chiara", "Chrisjen", "Cindy", "Daisy", "Tauret", "Bubastis", "Atef", "Tuaa", "Naa", "Hotep", "Rehema", "Phut", "Merte", "Khaa", "Nefertiti", "Seueri", "Urbi", "Anouke", "Lotus", "Manetankh", "Uernaro", "Taur" ]
    ]
  ]
}
