{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Amentuankh", "Ranubkheper", "Besa", "Senbeb", "Salatis", "Amenisenb", "Yazid", "Idogbe", "Mered", "Ankh", "Senouphis", "Byron", "Rere", "Nkosi", "Unika", "Ubaid", "Cheneres", "Sesupti", "Anima", "Houi", "Teos", "Mesochris", "Claude", "Htuabi", "Ebo", "Api", "Abet", "Purusha", "Cosmo", "Cyrus", "Roma", "Iruka", "Aiemapt", "Markata", "Henne", "Tiumautef", "Djuro", "Dom", "Draven", "Amten", "Horsenedto", "Azibo", "Emil", "Enzo", "Eoin", "Acheri", "Faris", "Makalani", "Psammetichus", "Azizi", "Nechtu", "Chaths", "Geos", "Khaba", "Amynus", "Harscheft", "Jibade", "Ozier" ]
    ]
  ]
}
