{
  "names" : [
    [
      { "mode" : "serie", "titleCase" : true },
    [
    "Agrius",
    "Alcyoneus",
    "Chthonius",
    "Clytius",
    "Enceladus",
    "Ephialtes",
    "Eurymedon",
    "Eurytus",
    "Gration",
    "Hippolytus",
    "Leon",
    "Mimas",
    "Pallas",
    "Polybotes",
    "Porphyrion",
    "Thoas",
    "Otus",
    "Ephialtes",
    "Anax",
    "Antaeus",
    "Antiphates",
    "Argus",
    "Asterius",
    "Cacus",
    "Arges",
    "Brontes",
    "Steropes",
    "Polyphemus",
    "Gegenees",
    "Geryon",
    "Hekatonkheires",
    "Briareus",
    "Cottus",
    "Gyges",
    "Orion",
    "Talos",
    "Tityos",
    "Typhon",
    "Adephagia",
    "Adikia",
    "Aergia",
    "Agon",
    "Aidos",
    "Aisa",
    "Alala",
    "Alastor",
    "Aleia",
    "Achos",
    "Ania",
    "Lupe",
    "Alke",
    "Amechania",
    "Amphilogiai",
    "Anaideia",
    "Androktasiai",
    "Angelia",
    "Apate",
    "Apheleia",
    "Aporia",
    "Arae",
    "Arete",
    "Bia",
    "Caerus",
    "Corus",
    "Deimos",
    "Dikaiosyne",
    "Dike",
    "Dolos",
    "Dysnomia",
    "Dyssebeia",
    "Eirene",
    "Ekecheiria",
    "Eleos",
    "Elpis",
    "Epiphron",
    "Eris",
    "Anteros",
    "Eros",
    "Hedylogos",
    "Hermaphroditus",
    "Himeros",
    "Hymen",
    "Pothos",
    "Eucleia",
    "Eulabeia",
    "Eunomia",
    "Eupheme",
    "Eupraxia",
    "Eusebeia",
    "Eunia",
    "Gelos",
    "Geras",
    "Harmonia",
    "Hebe",
    "Hedone",
    "Heimarmene",
    "Homados",
    "Homonoia",
    "Horkos",
    "Horme",
    "Hybris",
    "Hypnos",
    "Ioke",
    "Kakia",
    "Kalokagathia",
    "Keres",
    "Koalemos",
    "Kratos",
    "Kydoimos",
    "Le",
    "Limos",
    "Litae",
    "Lyssa",
    "Machai",
    "Mania",
    "Moirai",
    "Clotho",
    "Lachesis",
    "Atropos",
    "Momus",
    "Moros",
    "Neikea",
    "Nemesis",
    "Nike",
    "Nomos",
    "Oizys",
    "Oneiroi",
    "Epiales",
    "Morpheus",
    "Phantasos",
    "Phobetor",
    "Palioxis",
    "Peitharchia",
    "Peitho",
    "Penia",
    "Penthus",
    "Pepromene",
    "Pheme",
    "Philophrosyne",
    "Philotes",
    "Phobos",
    "Phonoi",
    "Phrike",
    "Phthonus",
    "Pistis",
    "Poine",
    "Polemos",
    "Ponos",
    "Poros",
    "Praxidike",
    "Proioxis",
    "Prophasis",
    "Ptocheia",
    "Soter",
    "Soteria",
    "Sophrosyne",
    "Techne",
    "Thanatos",
    "Thrasos",
    "Tyche",
    "Zelos",
    "Amphiaraus",
    "Angelos",
    "Askalaphos",
    "Cerberus",
    "Charon",
    "Empusa",
    "Erebos",
    "Erinyes",
    "Alecto",
    "Tisiphone",
    "Megaera",
    "Hecate",
    "Aiakos",
    "Minos",
    "Rhadamanthys",
    "Keuthonymos",
    "Cronus",
    "Lamia",
    "Lampades",
    "Gorgyra",
    "Orphne",
    "Macaria",
    "Melinoe",
    "Menoetes",
    "Mormo",
    "Nyx",
    "Hades",
    "Persephone",
    "Acheron",
    "Kokytos",
    "Le",
    "Phlegethon",
    "Styx",
    "Tartarus",
    "Thanatos",
    "Aegaeon",
    "Achelous",
    "Bensikyme",
    "Brizo",
    "Ceto",
    "Charybdis",
    "Cymopoleia",
    "Delphin",
    "Eidoa",
    "Glaucus",
    "Stheno",
    "Euryale",
    "Medusa",
    "Deino",
    "Enyo",
    "Pemphredo",
    "Aello",
    "Ocypete",
    "Podarge",
    "Celaeno",
    "Nicothoe",
    "Hippocampi",
    "Hydros",
    "Bythos",
    "Aphros",
    "Karkinos",
    "Ladon",
    "Leucoa",
    "Nereides",
    "Thetis",
    "Arethusa",
    "Galene",
    "Psama",
    "Nereus",
    "Nerites",
    "Oceanus",
    "Palaemon",
    "Phorcys",
    "Pontos",
    "Poseidon",
    "Amphitrite",
    "Scylla",
    "Aglaope",
    "Himerope",
    "Leucosia",
    "Ligeia",
    "Molpe",
    "Parnope",
    "Peisinoe",
    "Raidne",
    "Teles",
    "Thelchtereia",
    "Thelxiope",
    "Telchines",
    "Actaeus",
    "Argyron",
    "Atabyrius",
    "Chalcon",
    "Chryson",
    "Damon",
    "Damnameneus",
    "Dexia",
    "Lycos",
    "Lysagora",
    "Makelo",
    "Megalesius",
    "Mylas",
    "Nikon",
    "Ormenos",
    "Simon",
    "Skelmis",
    "Tethys",
    "Thalassa",
    "Thaumas",
    "Thoosa",
    "Triteia",
    "Triton",
    "Tritones",
    "Achelois",
    "Aeolus",
    "Aer",
    "Alectrona",
    "Aparctias",
    "Apheliotes",
    "Argestes",
    "Caicias",
    "Circios",
    "Euronotus",
    "Lips",
    "Skeiron",
    "Zeus",
    "Hera",
    "Apollo",
    "Artemis",
    "Arke",
    "Astraios",
    "Stilbon",
    "Eosphorus",
    "Hesperus",
    "Pyroeis",
    "Phaethon",
    "Phaenon",
    "Aurai",
    "Aura",
    "Chaos",
    "Chione",
    "Uranus",
    "Helios",
    "Selene",
    "Eos",
    "Hemera",
    "Nyx",
    "Hesperides",
    "Iris",
    "Nephelai",
    "Pandia",
    "Ersa",
    "Anemoi",
    "Boreas",
    "Eurus",
    "Notus",
    "Zephyrus",
    "Pleiades",
    "Alcyone",
    "Sterope",
    "Celaeno",
    "Electra",
    "Maia",
    "Merope",
    "Taygete",
    "Amphictyonis",
    "Anthousai",
    "Aristaeus",
    "Attis",
    "Britomartis",
    "Cabeiri",
    "Aitnaios",
    "Alkon",
    "Eurymedon",
    "Onnes",
    "Tonnes",
    "Asbolus",
    "Chariclo",
    "Chiron",
    "Eurytion",
    "Nessus",
    "Pholus",
    "Akmon",
    "Passalos",
    "Chloris",
    "Comus",
    "Corymbus",
    "Curetes",
    "Cybele",
    "Dactyls",
    "Acmon",
    "Damnameneus",
    "Delas",
    "Epimedes",
    "Heracles",
    "Iasios",
    "Kelmis",
    "Skys",
    "companions",
    "Titias",
    "Cyllenus",
    "Dionysus",
    "Dryades",
    "Gaia",
    "Epimeliades",
    "Hamadryades",
    "Hecaterus",
    "Hephaestus",
    "Hermes",
    "Eunomia",
    "Dike",
    "Eirene",
    "Thallo",
    "Auxo",
    "Karpo",
    "Pherousa",
    "Euporie",
    "Orthosie",
    "Auge",
    "Anatole",
    "Mousika",
    "Gymnastika",
    "Nymphe",
    "Mesembria",
    "Sponde",
    "Elete",
    "Akte",
    "Hesperis",
    "Dysis",
    "Arktos",
    "Eiar",
    "Theros",
    "Pthinoporon",
    "Cheimon",
    "Damneus",
    "Idaios",
    "Kyrbas",
    "Okythoos",
    "Prymneus",
    "Pyrrhichos",
    "Me",
    "Daphne",
    "Metope",
    "Min",
    "Hekaerge",
    "Loxo",
    "Oupis",
    "Adrasteia",
    "Echo",
    "Beroe",
    "Calypso",
    "Clytie",
    "Idyia",
    "Thefor",
    "Ourea",
    "Palici",
    "Pan",
    "Achelous",
    "Acis",
    "Acheron",
    "Alpheus",
    "Asopus",
    "Cladeus",
    "Eurotas",
    "Cocytus",
    "Le",
    "Peneus",
    "Phlegethon",
    "Styx",
    "Scamander",
    "Priapus",
    "Rhea",
    "Krotos",
    "Silenus",
    "Telete",
    "Zagreus",
    "Aphaea",
    "Carme",
    "Carmanor",
    "Chrysomis",
    "Cyamites",
    "Demeter",
    "Despoina",
    "Dionysus",
    "Eunostus",
    "Hestia",
    "Persephone",
    "Philomelus",
    "Plutus",
    "Triptolemus",
    "Asclepius",
    "Aceso",
    "Aegle",
    "Epione",
    "Hygieia",
    "Iaso",
    "Panacea",
    "Telesphorus",
    "Adrastea",
    "Agdistis",
    "Alexiares",
    "Aphroditus",
    "Astraea",
    "Auxesia",
    "Aglaea",
    "Euphrosyne",
    "Thalia",
    "Hegemone",
    "Ania",
    "Pasia",
    "Cleta",
    "Phaenna",
    "Eudaimonia",
    "Euthymia",
    "Calleis",
    "Paidia",
    "Pandaisia",
    "Pannychis",
    "Ceraon",
    "Chrysus",
    "Circe",
    "Syntribos",
    "Smaragos",
    "Asbetos",
    "Sabaktes",
    "Omodamos",
    "Deipneus",
    "Eiresione",
    "Eileithyia",
    "Enyalius",
    "Enyo",
    "Harpocrates",
    "Hermaphroditus",
    "Hymenaios",
    "Ichnaea",
    "Iynx",
    "Matton",
    "Titan",
    "Aoide",
    "Arche",
    "Melete",
    "Mneme",
    "lxinoe",
    "Olympian",
    "Calliope",
    "Clio",
    "Euterpe",
    "Erato",
    "Melpomene",
    "Polyhymnia",
    "Terpsichore",
    "Thalia",
    "Urania",
    "Younger",
    "Cephisso",
    "Apollonis",
    "Borysnis",
    "Hypate",
    "Mese",
    "Nete",
    "Polymaia",
    "Palaestra",
    "Rhapso",
    "Achilles",
    "Aiakos",
    "Aeolus",
    "Alabandus",
    "Amphiaraus",
    "Ariadne",
    "Aristaeus",
    "Asclepius",
    "Attis",
    "Bolina",
    "Castor",
    "Pollux",
    "Endymion",
    "Ganymede",
    "Glaucus",
    "Hemia",
    "Heracles",
    "Minos",
    "Ino",
    "Tenes",
    "Phoebe",
    "Hilaera",
    "Orithyia",
    "Palaemon",
    "Phylonoe",
    "Psyche",
    "Semele",
    "Abderus",
    "Achilles",
    "Aeneas",
    "Ajax",
    "Amphitryon",
    "Antilochus",
    "Bellerophon",
    "Castor",
    "Chrysippus",
    "Daedalus",
    "Diomedes",
    "Eleusis",
    "Eunostus",
    "Ganymede",
    "Hector",
    "Icarus",
    "Iolaus",
    "Jason",
    "Meleager",
    "Odysseus",
    "Orpheus",
    "Pandion",
    "Perseus",
    "Theseus",
    "Amymone",
    "Andromache",
    "Andromeda",
    "Antigone",
    "Arachne",
    "Ariadne",
    "Atalanta",
    "Briseis",
    "Caeneus",
    "Cassandra",
    "Cassiopeia",
    "Clytemnestra",
    "Deianeira",
    "Electra",
    "Europa",
    "Hecuba",
    "Helen",
    "Hermione",
    "Iphigenia",
    "Ismene",
    "Jocasta",
    "Medea",
    "Medusa",
    "Niobe",
    "Pandora",
    "Penelope",
    "Phaedra",
    "Polyxena",
    "Semele",
    "Thrace",
    "Acastus",
    "Acrisius",
    "Actaeus",
    "Admetus",
    "Adrastus",
    "Aeacus",
    "Aegeus",
    "Aegimius",
    "Aegisthus",
    "Aegyptus",
    "Aeson",
    "Aetolus",
    "Agamemnon",
    "Agasnes",
    "Agenor",
    "Alcinous",
    "Alcmaeon",
    "Aleus",
    "Amphiaraus",
    "Amphictyon",
    "Amphion",
    "Amycus",
    "Anaxagoras",
    "Anchises",
    "Arcesius",
    "Argeus",
    "Argus",
    "Assaracus",
    "Asterion",
    "Athamas",
    "Atreus",
    "Augeas",
    "Autesion",
    "Bias",
    "Busiris",
    "Cadmus",
    "Car",
    "Catreus",
    "Cecrops",
    "Ceisus",
    "Celeus",
    "Cephalus",
    "Cepheus",
    "Cepheus",
    "Charnabon",
    "Cinyras",
    "Codrus",
    "Corinthus",
    "Cranaus",
    "Creon",
    "Creon",
    "Cres",
    "Cresphontes",
    "Creus",
    "Criasus",
    "Cylarabes",
    "Cynortas",
    "Cyzicus",
    "Danaus",
    "Dardanus",
    "Deiphontes",
    "Demophon",
    "Diomedes",
    "Echemus",
    "Echetus",
    "Eetion",
    "Electryon",
    "Elephenor",
    "Eleusis",
    "Epaphus",
    "Epopeus",
    "Erechus",
    "Erginus",
    "Erichthonius",
    "Eteocles",
    "Eteocles",
    "Eurotas",
    "Eurysus",
    "Euxantius",
    "Gelanor",
    "Haemus",
    "Helenus",
    "Hyrieus",
    "Ilus",
    "Ixion",
    "Laomedon",
    "Lycaon",
    "Lycurgus",
    "Lycurgus",
    "Makedon",
    "Megareus",
    "Megareus",
    "Melampus",
    "Melanthus",
    "Memnon",
    "Menelaus",
    "Menesus",
    "Midas",
    "Minos",
    "Myles",
    "Nestor",
    "Nycteus",
    "Odysseus",
    "Oebalus",
    "Oedipus",
    "Oeneus",
    "Oenomaus",
    "Oenopion",
    "Ogygus",
    "Oicles",
    "Oileus",
    "Orestes",
    "Oxyntes",
    "Pandion",
    "Pandion",
    "Peleus",
    "Pelias",
    "Pelops",
    "Penus",
    "Periphas",
    "Perseus",
    "Phineus",
    "Phlegyas",
    "Phoenix",
    "Phoroneus",
    "Phyleus",
    "Pitus",
    "Polybus",
    "Polynices",
    "Priam",
    "Proetus",
    "Pylades",
    "Rhadamanthys",
    "Rhesus",
    "Sarpedon",
    "Sisyphus",
    "Sithon",
    "Talaus",
    "Tegyrios",
    "Telamon",
    "Telephus",
    "Temenus",
    "Teucer",
    "Teutamides",
    "Teuthras",
    "Thersander",
    "Theseus",
    "Thyestes",
    "Tisamenus",
    "Tyndareus",
    "Anius",
    "Asbolus",
    "Bakis",
    "Branchus",
    "Calchas",
    "Carnus",
    "Carya",
    "Cassandra",
    "Ennomus",
    "Halirses",
    "Helenus",
    "Iamus",
    "Idmon",
    "Manto",
    "Melampus",
    "Mopsus",
    "Polyeidos",
    "Pythia",
    "Telemus",
    "Theoclymenus",
    "Tiresias",
    "Aegea",
    "Aella",
    "Alcibie",
    "Antandre",
    "Antiope",
    "Areto",
    "Asteria",
    "Bremusa",
    "Celaeno",
    "Eurypyle",
    "Hippolyta",
    "Hippothoe",
    "Iphito",
    "Lampedo",
    "Marpesia",
    "Melanippe",
    "Molpadia",
    "Myrina",
    "Orithyia",
    "Otrera",
    "Pantariste",
    "Pensilea",
    "Thalestris",
    "Ixion",
    "Sisyphus",
    "Tantalus"
    ]
    ]
  ]
}
