{
  "gui" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/scripted/arcana_byos/head.png",
      "fileBody" : "/interface/scripted/arcana_byos/body.png",
      "fileFooter" : "/interface/scripted/arcana_byos/foot.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [320, 180],
	  "zlevel" : 5
    },
    "lblTitle" : {
      "type" : "label",
      "position" : [50, 187],
	  "hAnchor" : "left",
	  "fontSize" : 7.2,
      "value" : "^orange;Build Your Own Ship^reset;"
    },
    "lblDescription" : {
      "type" : "label",
      "position" : [50, 180],
	  "hAnchor" : "left",
	  "wrapWidth" : 230,
	  "fontSize" : 7.2,
      "value" : "Change your ship into a customizable BYOS version."
    },
	"lbl_level" : {
      "type" : "label",
      "position" : [50, 155],
      "hAnchor" : "left",
	  "vAnchor" : "top",
	  "wrapWidth" : 196,
	  "fontSize" : 7.2,
      "value" : "Seeker Level",
	  "zlevel" : 3
    },
    "levelButton" : {
      "type" : "button",
      "position" : [18, 139],
      "base" : "/interface/scripted/arcana_atlas/level_off.png",
      "hover" : "/interface/scripted/arcana_atlas/level_on.png",
      "pressed" : "/interface/scripted/arcana_atlas/level_on.png",
      "disabledImage" : "/interface/scripted/arcana_atlas/level_off.png",
      "pressedOffset" : [0, 0],
      "callback" : "create",
	  "zlevel" : 2
    }
  },
  
  "scriptWidgetCallbacks" : [
    "create"
  ],
  
  "tooltipLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/tooltips/racebody.png",
      "fileFooter" : ""
    },
    "title" : {
      "type" : "label",
      "position" : [11, 54],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 220,
      "fontSize" : 12
    },
    "description" : {
      "type" : "label",
      "position" : [11, 38],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 220
    }
  },
  
  "scripts" : [ "/interface/scripted/arcana_byos/arcana_byos.lua" ],
  "scriptDelta" : 30,
  "spawnOffset" : [1000, 0]
}
