{
  "recipes" : {
    "1" : {
      "input" : [
        { "name" : "workshop_crafting_dustriumPanel", "count" : 2 },
		{ "name" : "workshop_crafting_dustriumWire", "count" : 8 }
      ],
      "output" : { "name" : "workshop_crafting_motor", "count" : 1 }
	},
    "2" : {
      "input" : [
        { "name" : "workshop_crafting_dustriumPanel", "count" : 4 },
		{ "name" : "arcana_bar_galvasteelBar", "count" : 4 }
      ],
      "output" : { "name" : "workshop_crafting_reinforcedFrame", "count" : 1 }
	},
    "3" : {
      "input" : [
        { "name" : "workshop_crafting_dustriumWire", "count" : 4 },
		{ "name" : "workshop_crafting_plastic", "count" : 2 }
      ],
      "output" : { "name" : "orion_crafting_orionTechCard", "count" : 1 }
	}
  },
  "craftingTime" : 4.0,
  "outputRate" : 4,
  "description" : "^white;An automatic assembler for creating basic materials. ^orange;Requires 15kW of Power. Can be wired to other machines.^reset;"
}
