{
  "filter" : [ ],
  "requiresBlueprint" : false,
  "printer" : false,
  "printTime" : 0.5,
  "printCostFactor" : 1.0,
  "craftingSound" : "/sfx/interface/crafting_general1.ogg",

  "paneLayout" : {
    "background" : {
      "type" : "background",
	  "fileHeader" : "/interface/arcana/arcana_crafting_workbench_2/head.png",
      "fileBody" : "/interface/arcana/arcana_crafting_workbench_2/body.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [380, 296]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "",
      "subtitle" : "",
      "position" : [27, 292]
    },
    "lblTitle" : {
      "type" : "label",
      "position" : [162, 295],
      "value" : " Arcanium Workstation"
    },
    "btnUpgrade" : {
      "type" : "button",
      "disabledImage" : "/interface/crafting/upgradeUnready.png",
      "base" : "/interface/crafting/upgradeReady.png",
      "position" : [139, 298],
      "zlevel" : 5
    },
    "spinCount" : {
      "type" : "spinner",
      "position" : [276, 44],
      "upOffset" : 36
    },
    "tbSpinCount" : {
      "type" : "textbox",
      "position" : [288, 44],
      "textAlign" : "center",
      "maxWidth" : 16,
      "regex" : "x?\\d{0,4}",
      "hint" : ""
    },
    "imgAmountInput" : {
      "type" : "image",
      "file" : "/interface/crafting/amount.png",
      "position" : [282, 43],
      "zlevel" : -3
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [328, 42],
      "caption" : "Prepare"
    },
    "btnStopCraft" : {
      "type" : "button",
      "base" : "/interface/buttonactive.png",
      "hover" : "/interface/buttonactivehover.png",
      "position" : [328, 42],
      "caption" : "Stop"
    },
    "currentRecipeIcon" : {
      "type" : "itemslot",
      "callback" : "null",
      "position" : [254, 39]
    },
    "imgPlayerMoneyIcon" : {
      "type" : "image",
      "position" : [30, 14],
      "file" : "/interface/money.png"
    },
    "lblPlayerMoney" : {
      "type" : "label",
      "position" : [44, 14],
      "hAnchor" : "left",
      "value" : "0"
    },

    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [63, 68, 235, 207],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/arcana/arcana_craftableselected2.png",
            "unselectedBG" : "/interface/arcana/arcana_craftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [159, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/arcana/arcana_craftablebackground.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "newIcon" : {
                "type" : "image",
                "position" : [119, 5],
                "file" : "/interface/crafting/new.png",
                "zlevel" : 2
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [122, 1],
                "file" : "/interface/money.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [134, 1],
                "hAnchor" : "left",
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/interface/crafting/notcraftableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
    "description" : {
      "type" : "widget",
      "position" : [243, 90],
      "size" : [136, 240]
    },
    "filter" : {
      "type" : "textbox",
      "position" : [118, 39],
      "hint" : "Search",
      "maxWidth" : 70,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : false
    },
    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        {
          "selected" : true,
          "position" : [63, 249],
          "baseImage" : "/interface/arcana/arcana_crafting_workbench_2/category_1_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_workbench_2/category_1_selected.png",
          "data" : {
            "filter" : [ "arcana_crafting_workbench_2_doors" ]
          }
        },
		{
          "position" : [90, 249],
          "baseImage" : "/interface/arcana/arcana_crafting_workbench_2/category_2_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_workbench_2/category_2_selected.png",
          "data" : {
            "filter" : [ "arcana_crafting_workbench_2_lights" ]
          }
        },
		{
          "position" : [117, 249],
          "baseImage" : "/interface/arcana/arcana_crafting_workbench_2/category_3_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_workbench_2/category_3_selected.png",
          "data" : {
            "filter" : [ "arcana_crafting_workbench_2_furniture" ]
          }
        },
		{
          "position" : [144, 249],
          "baseImage" : "/interface/arcana/arcana_crafting_workbench_2/category_4_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_workbench_2/category_4_selected.png",
          "data" : {
            "filter" : [ "arcana_crafting_workbench_2_storage" ]
          }
        },
		{
          "position" : [171, 249],
          "baseImage" : "/interface/arcana/arcana_crafting_workbench_2/category_5_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_workbench_2/category_5_selected.png",
          "data" : {
            "filter" : [ "arcana_crafting_workbench_2_decorations" ]
          }
        },
		{
          "position" : [198, 249],
          "baseImage" : "/interface/arcana/arcana_crafting_workbench_2/category_6_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_workbench_2/category_6_selected.png",
          "data" : {
            "filter" : [ "arcana_crafting_workbench_2_materials" ]
          }
        },
		{
          "position" : [63, 215],
          "baseImage" : "/interface/arcana/arcana_crafting_workbench_2/category_7_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_workbench_2/category_7_selected.png",
          "data" : {
            "filter" : [ "arcana_crafting_workbench_2_wired" ]
          }
        },
		{
          "position" : [90, 215],
          "baseImage" : "/interface/arcana/arcana_crafting_workbench_2/category_8_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_workbench_2/category_8_selected.png",
          "data" : {
            "filter" : [ "arcana_crafting_workbench_2_paintings" ]
          }
        },
		
		// CATEGORIES
		{
          "position" : [23, 268],
          "baseImage" : "/interface/arcana/arcana_crafting_workbench_2/category_a_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_workbench_2/category_a_selected.png",
          "data" : {
            "filter" : [ "arcana_aeolus" ]
          }
        },
		{
          "position" : [23, 253],
          "baseImage" : "/interface/arcana/arcana_crafting_workbench_2/category_b_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_workbench_2/category_b_selected.png",
          "data" : {
            "filter" : [ "arcana_havencrest" ]
          }
        },
		{
          "position" : [23, 238],
          "baseImage" : "/interface/arcana/arcana_crafting_workbench_2/category_c_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_workbench_2/category_c_selected.png",
          "data" : {
            "filter" : [ "arcana_elysia" ]
          }
        },
		{
          "position" : [23, 223],
          "baseImage" : "/interface/arcana/arcana_crafting_workbench_2/category_d_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_workbench_2/category_d_selected.png",
          "data" : {
            "filter" : [ "arcana_empress" ]
          }
        },
		{
          "position" : [23, 208],
          "baseImage" : "/interface/arcana/arcana_crafting_workbench_2/category_e_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_workbench_2/category_e_selected.png",
          "data" : {
            "filter" : [ "arcana_bleuark" ]
          }
        },
		{
          "position" : [23, 193],
          "baseImage" : "/interface/arcana/arcana_crafting_workbench_2/category_f_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_workbench_2/category_f_selected.png",
          "data" : {
            "filter" : [ "arcana_monarch" ]
          }
        },
		{
          "position" : [23, 178],
          "baseImage" : "/interface/arcana/arcana_crafting_workbench_2/category_g_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_workbench_2/category_g_selected.png",
          "data" : {
            "filter" : [ "arcana_horizon" ]
          }
        }
      ]
    },
    "rarities" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
      ]
    }
  }
}
