{
  "filter" : [ "arcana_crafting_essenceExtractor" ],
  "requiresBlueprint" : false,
  "printer" : false,
  "printTime" : 0.5,
  "printCostFactor" : 1.0,
  "craftingSound" : "/sfx/interface/crafting_medical.ogg",

  "paneLayout" : {
    "background" : {
      "type" : "background",
	  "fileHeader" : "/interface/arcana/arcana_crafting_essenceExtractor_3/head.png",
      "fileBody" : "/interface/arcana/arcana_crafting_essenceExtractor_3/body.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [400, 247]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "",
      "subtitle" : "",
      "position" : [27, 252]
    },
    "lblTitle" : {
      "type" : "label",
      "position" : [28, 247],
	  "textAlign" : "left",
      "value" : " Essence Extractor"
    },
    "btnUpgrade" : {
      "type" : "button",
      "disabledImage" : "/interface/crafting/upgradeUnready.png",
      "base" : "/interface/crafting/upgradeReady.png",
      "position" : [139, 258],
      "zlevel" : 5
    },
    "spinCount" : {
      "type" : "spinner",
      "position" : [276, 29],
      "upOffset" : 36
    },
    "tbSpinCount" : {
      "type" : "textbox",
      "position" : [288, 29],
      "textAlign" : "center",
      "maxWidth" : 16,
      "regex" : "x?\\d{0,4}",
      "hint" : ""
    },
    "imgAmountInput" : {
      "type" : "image",
      "file" : "/interface/arcana/arcana_amount.png",
      "position" : [282, 28],
      "zlevel" : -3
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/interface/arcana/arcana_button.png",
      "hover" : "/interface/arcana/arcana_buttonhover.png",
      "position" : [348, 27],
      "caption" : "Prepare"
    },
    "btnStopCraft" : {
      "type" : "button",
      "base" : "/interface/arcana/arcana_buttonactive.png",
      "hover" : "/interface/arcana/arcana_buttonactivehover.png",
      "position" : [348, 27],
      "caption" : "Stop"
    },
    "currentRecipeIcon" : {
      "type" : "itemslot",
      "callback" : "null",
      "position" : [254, 24]
    },
    "imgPlayerMoneyIcon" : {
      "type" : "image",
      "position" : [10, 5],
      "file" : "/interface/money.png"
    },
    "lblPlayerMoney" : {
      "type" : "label",
      "position" : [24, 5],
      "hAnchor" : "left",
	  "fontSize" : 7.2,
      "value" : "0"
    },

    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [18, 46, 227, 225],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/arcana/arcana_craftableselected2.png",
            "unselectedBG" : "/interface/arcana/arcana_craftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [159, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/arcana/arcana_craftablebackground.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 116,
				"fontSize" : 7.2,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "newIcon" : {
                "type" : "image",
                "position" : [119, 5],
                "file" : "/interface/crafting/new.png",
                "zlevel" : 2
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [122, 1],
                "file" : "/interface/money.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [134, 1],
                "hAnchor" : "left",
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/interface/crafting/notcraftableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
    "description" : {
      "type" : "widget",
      "position" : [251, 43],
      "size" : [0, 0]
    },
    "filter" : {
      "type" : "textbox",
      "position" : [94, 30],
      "hint" : "Search",
      "maxWidth" : 70,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : false
    },
    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        {
          "selected" : true,
          "position" : [243, 205],
          "baseImage" : "/interface/arcana/arcana_crafting_essenceExtractor_3/category_1_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_essenceExtractor_3/category_1_selected.png",
          "data" : {
            "filter" : [ "arcana_essence_arcaneEssence" ]
          }
        },
		{
          "position" : [268, 205],
          "baseImage" : "/interface/arcana/arcana_crafting_essenceExtractor_3/category_2_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_essenceExtractor_3/category_2_selected.png",
          "data" : {
            "filter" : [ "arcana_essence_illuminatedEssence" ]
          }
        },
		{
          "position" : [293, 205],
          "baseImage" : "/interface/arcana/arcana_crafting_essenceExtractor_3/category_3_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_essenceExtractor_3/category_3_selected.png",
          "data" : {
            "filter" : [ "arcana_essence_superstormEssence" ]
          }
        },
		{
          "position" : [318, 205],
          "baseImage" : "/interface/arcana/arcana_crafting_essenceExtractor_3/category_4_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_essenceExtractor_3/category_4_selected.png",
          "data" : {
            "filter" : [ "arcana_essence_azureEssence" ]
          }
        },
		{
          "position" : [268, 173],
          "baseImage" : "/interface/arcana/arcana_crafting_essenceExtractor_3/category_7_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_essenceExtractor_3/category_7_selected.png",
          "data" : {
            "filter" : [ "arcana_essence_fireEssence" ]
          }
        },
		{
          "position" : [318, 173],
          "baseImage" : "/interface/arcana/arcana_crafting_essenceExtractor_3/category_9_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_essenceExtractor_3/category_9_selected.png",
          "data" : {
            "filter" : [ "arcana_essence_chrysoEssence" ]
          }
        },
		{
          "position" : [343, 173],
          "baseImage" : "/interface/arcana/arcana_crafting_essenceExtractor_3/category_10_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_essenceExtractor_3/category_10_selected.png",
          "data" : {
            "filter" : [ "arcana_essence_electricEssence" ]
          }
        },
		{
          "position" : [368, 173],
          "baseImage" : "/interface/arcana/arcana_crafting_essenceExtractor_3/category_11_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_essenceExtractor_3/category_11_selected.png",
          "data" : {
            "filter" : [ "arcana_essence_windEssence" ]
          }
        },
		{
          "position" : [243, 148],
          "baseImage" : "/interface/arcana/arcana_crafting_essenceExtractor_3/category_12_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_essenceExtractor_3/category_12_selected.png",
          "data" : {
            "filter" : [ "arcana_essence_poisonEssence" ]
          }
        },
		{
          "position" : [293, 148],
          "baseImage" : "/interface/arcana/arcana_crafting_essenceExtractor_3/category_14_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_essenceExtractor_3/category_14_selected.png",
          "data" : {
            "filter" : [ "arcana_essence_terraEssence" ]
          }
        },
		{
          "position" : [318, 148],
          "baseImage" : "/interface/arcana/arcana_crafting_essenceExtractor_3/category_15_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_essenceExtractor_3/category_15_selected.png",
          "data" : {
            "filter" : [ "arcana_essence_iceEssence" ]
          }
        },
		{
          "position" : [343, 148],
          "baseImage" : "/interface/arcana/arcana_crafting_essenceExtractor_3/category_16_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_essenceExtractor_3/category_16_selected.png",
          "data" : {
            "filter" : [ "arcana_essence_machinaEssence" ]
          }
        },
		{
          "position" : [243, 67],
          "baseImage" : "/interface/arcana/arcana_crafting_essenceExtractor_3/category_28_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_essenceExtractor_3/category_28_selected.png",
          "data" : {
            "filter" : [ "arcana_essence_steelEssence" ]
          }
        },
		{
          "position" : [268, 67],
          "baseImage" : "/interface/arcana/arcana_crafting_essenceExtractor_3/category_29_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_essenceExtractor_3/category_29_selected.png",
          "data" : {
            "filter" : [ "arcana_essence_aeonEssence" ]
          }
        }
      ]
    },
    "rarities" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
      ]
    }
  }
}
