{
  "filter" : [ "arcana_crafting_anvil_1" ],
  "requiresBlueprint" : false,
  "printer" : false,
  "printTime" : 0.5,
  "printCostFactor" : 1.0,
  "craftingSound" : "/sfx/interface/crafting_anvil.ogg",

  "paneLayout" : {
    "background" : {
      "type" : "background",
	  "fileHeader" : "/interface/arcana/arcana_crafting_anvil_4/head.png",
      "fileBody" : "/interface/arcana/arcana_crafting_anvil_4/body.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [427, 290]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "",
      "subtitle" : "",
      "position" : [27, 295]
    },
    "lblTitle" : {
      "type" : "label",
      "position" : [28, 290],
	  "textAlign" : "left",
      "value" : " Elemental Anvil"
    },
    "btnUpgrade" : {
      "type" : "button",
      "disabledImage" : "/interface/crafting/upgradeUnready.png",
      "base" : "/interface/crafting/upgradeReady.png",
      "position" : [139, 258],
      "zlevel" : 5
    },
    "spinCount" : {
      "type" : "spinner",
      "position" : [303, 29],
      "upOffset" : 36
    },
    "tbSpinCount" : {
      "type" : "textbox",
      "position" : [315, 29],
      "textAlign" : "center",
      "maxWidth" : 16,
      "regex" : "x?\\d{0,4}",
      "hint" : ""
    },
    "imgAmountInput" : {
      "type" : "image",
      "file" : "/interface/arcana/arcana_amount.png",
      "position" : [309, 28],
      "zlevel" : -3
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/interface/arcana/arcana_button.png",
      "hover" : "/interface/arcana/arcana_buttonhover.png",
      "position" : [375, 27],
      "caption" : "Prepare"
    },
    "btnStopCraft" : {
      "type" : "button",
      "base" : "/interface/arcana/arcana_buttonactive.png",
      "hover" : "/interface/arcana/arcana_buttonactivehover.png",
      "position" : [375, 27],
      "caption" : "Stop"
    },
    "currentRecipeIcon" : {
      "type" : "itemslot",
      "callback" : "null",
      "position" : [281, 24]
    },
    "imgPlayerMoneyIcon" : {
      "type" : "image",
      "position" : [10, 5],
      "file" : "/interface/money.png"
    },
    "lblPlayerMoney" : {
      "type" : "label",
      "position" : [24, 5],
      "hAnchor" : "left",
	  "fontSize" : 7.2,
      "value" : "0"
    },

    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [18, 46, 254, 206],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/arcana/arcana_craftableselected2.png",
            "unselectedBG" : "/interface/arcana/arcana_craftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [159, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/arcana/arcana_craftablebackground.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 116,
				"fontSize" : 7.2,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "newIcon" : {
                "type" : "image",
                "position" : [119, 5],
                "file" : "/interface/crafting/new.png",
                "zlevel" : 2
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [122, 1],
                "file" : "/interface/money.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [134, 1],
                "hAnchor" : "left",
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/interface/crafting/notcraftableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
    "description" : {
      "type" : "widget",
      "position" : [278, 86],
      "size" : [149, 210]
    },
    "filter" : {
      "type" : "textbox",
      "position" : [102, 30],
      "hint" : "Search",
      "maxWidth" : 66,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : false
    },
	
    "label_button_1" : {
      "type" : "label",
      "position" : [29, 227],
      "hAnchor" : "mid",
	  "vAnchor" : "mid",
	  "fontSize" : 8.0,
      "value" : "^#d2d2d2;T1^reset;"
    },
    "label_button_2" : {
      "type" : "label",
      "position" : [56, 227],
      "hAnchor" : "mid",
	  "vAnchor" : "mid",
	  "fontSize" : 8.0,
      "value" : "^#d2d2d2;T2^reset;"
    },
    "label_button_3" : {
      "type" : "label",
      "position" : [83, 227],
      "hAnchor" : "mid",
	  "vAnchor" : "mid",
	  "fontSize" : 8.0,
      "value" : "^#6cc13d;T3^reset;"
    },
    "label_button_4" : {
      "type" : "label",
      "position" : [110, 227],
      "hAnchor" : "mid",
	  "vAnchor" : "mid",
	  "fontSize" : 8.0,
      "value" : "^#6cc13d;T4^reset;"
    },
    "label_button_5" : {
      "type" : "label",
      "position" : [137, 227],
      "hAnchor" : "mid",
	  "vAnchor" : "mid",
	  "fontSize" : 8.0,
      "value" : "^#6cc13d;T5^reset;"
    },
    "label_button_6" : {
      "type" : "label",
      "position" : [164, 227],
      "hAnchor" : "mid",
	  "vAnchor" : "mid",
	  "fontSize" : 8.0,
      "value" : "^#3dacc1;T6^reset;"
    },
	
    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        {
          "selected" : true,
          "position" : [16, 244],
          "baseImage" : "/interface/arcana/arcana_crafting_anvil_4/category_1_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_anvil_4/category_1_selected.png",
          "data" : {
            "filter" : [ "arcana_crafting_anvil_1_swords" ]
          }
        },
		{
          "position" : [43, 244],
          "baseImage" : "/interface/arcana/arcana_crafting_anvil_4/category_2_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_anvil_4/category_2_selected.png",
          "data" : {
            "filter" : [ "arcana_crafting_anvil_1_spears" ]
          }
        },
		{
          "position" : [70, 244],
          "baseImage" : "/interface/arcana/arcana_crafting_anvil_4/category_3_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_anvil_4/category_3_selected.png",
          "data" : {
            "filter" : [ "arcana_crafting_anvil_1_axes" ]
          }
        },
		{
          "position" : [97, 244],
          "baseImage" : "/interface/arcana/arcana_crafting_anvil_4/category_4_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_anvil_4/category_4_selected.png",
          "data" : {
            "filter" : [ "arcana_crafting_anvil_1_staves" ]
          }
        },
		{
          "position" : [124, 244],
          "baseImage" : "/interface/arcana/arcana_crafting_anvil_4/category_5_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_anvil_4/category_5_selected.png",
          "data" : {
            "filter" : [ "arcana_crafting_anvil_1_guns" ]
          }
        },
		{
          "position" : [151, 244],
          "baseImage" : "/interface/arcana/arcana_crafting_anvil_4/category_6_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_anvil_4/category_6_selected.png",
          "data" : {
            "filter" : [ "arcana_crafting_anvil_1_bows" ]
          }
        },
		{
          "position" : [178, 244],
          "baseImage" : "/interface/arcana/arcana_crafting_anvil_4/category_7_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_anvil_4/category_7_selected.png",
          "data" : {
            "filter" : [ "arcana_crafting_anvil_1_armor" ]
          }
        },
		{
          "position" : [205, 244],
          "baseImage" : "/interface/arcana/arcana_crafting_anvil_4/category_8_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_anvil_4/category_8_selected.png",
          "data" : {
            "filter" : [ "arcana_crafting_anvil_1_epp" ]
          }
        },
		{
          "position" : [232, 244],
          "baseImage" : "/interface/arcana/arcana_crafting_anvil_4/category_9_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_anvil_4/category_9_selected.png",
          "data" : {
            "filter" : [ "arcana_crafting_anvil_1_shields" ]
          }
        },
		{
          "position" : [16, 211],
          "baseImage" : "/interface/arcana/arcana_crafting_anvil_4/category_0_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_anvil_4/category_0_selected.png",
          "data" : {
            "filter" : [ "arcana_crafting_tier1" ]
          }
        },
		{
          "position" : [43, 211],
          "baseImage" : "/interface/arcana/arcana_crafting_anvil_4/category_0_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_anvil_4/category_0_selected.png",
          "data" : {
            "filter" : [ "arcana_crafting_tier2" ]
          }
        },
		{
          "position" : [70, 211],
          "baseImage" : "/interface/arcana/arcana_crafting_anvil_4/category_0_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_anvil_4/category_0_selected.png",
          "data" : {
            "filter" : [ "arcana_crafting_tier3" ]
          }
        },
		{
          "position" : [97, 211],
          "baseImage" : "/interface/arcana/arcana_crafting_anvil_4/category_0_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_anvil_4/category_0_selected.png",
          "data" : {
            "filter" : [ "arcana_crafting_tier4" ]
          }
        },
		{
          "position" : [124, 211],
          "baseImage" : "/interface/arcana/arcana_crafting_anvil_4/category_0_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_anvil_4/category_0_selected.png",
          "data" : {
            "filter" : [ "arcana_crafting_tier5" ]
          }
        },
		{
          "position" : [151, 211],
          "baseImage" : "/interface/arcana/arcana_crafting_anvil_4/category_0_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_anvil_4/category_0_selected.png",
          "data" : {
            "filter" : [ "arcana_crafting_tier6" ]
          }
        }
      ]
    },
    "rarities" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
      ]
    }
  }
}
