{
  "filter" : [ "arcana_crafting_anvil_3" ],
  "requiresBlueprint" : false,
  "printer" : false,
  "printTime" : 0.5,
  "printCostFactor" : 1.0,
  "craftingSound" : "/sfx/interface/crafting_general1.ogg",

  "paneLayout" : {
    "background" : {
      "type" : "background",
	  "fileHeader" : "/interface/arcana/arcana_crafting_anvil_3/head.png",
      "fileBody" : "/interface/arcana/arcana_crafting_anvil_3/body.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [400, 247]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "",
      "subtitle" : "",
      "position" : [27, 252]
    },
    "lblTitle" : {
      "type" : "label",
      "position" : [28, 247],
	  "textAlign" : "left",
      "value" : " Orion Fabricator"
    },
    "btnUpgrade" : {
      "type" : "button",
      "disabledImage" : "/interface/crafting/upgradeUnready.png",
      "base" : "/interface/crafting/upgradeReady.png",
      "position" : [139, 258],
      "zlevel" : 5
    },
    "spinCount" : {
      "type" : "spinner",
      "position" : [276, 29],
      "upOffset" : 36
    },
    "tbSpinCount" : {
      "type" : "textbox",
      "position" : [288, 29],
      "textAlign" : "center",
      "maxWidth" : 16,
      "regex" : "x?\\d{0,4}",
      "hint" : ""
    },
    "imgAmountInput" : {
      "type" : "image",
      "file" : "/interface/arcana/arcana_amount.png",
      "position" : [282, 28],
      "zlevel" : -3
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/interface/arcana/arcana_button.png",
      "hover" : "/interface/arcana/arcana_buttonhover.png",
      "position" : [348, 27],
      "caption" : "Prepare"
    },
    "btnStopCraft" : {
      "type" : "button",
      "base" : "/interface/arcana/arcana_buttonactive.png",
      "hover" : "/interface/arcana/arcana_buttonactivehover.png",
      "position" : [348, 27],
      "caption" : "Stop"
    },
    "currentRecipeIcon" : {
      "type" : "itemslot",
      "callback" : "null",
      "position" : [254, 24]
    },
    "imgPlayerMoneyIcon" : {
      "type" : "image",
      "position" : [10, 5],
      "file" : "/interface/money.png"
    },
    "lblPlayerMoney" : {
      "type" : "label",
      "position" : [24, 5],
      "hAnchor" : "left",
	  "fontSize" : 7.2,
      "value" : "0"
    },

    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [18, 46, 227, 196],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/arcana/arcana_craftableselected2.png",
            "unselectedBG" : "/interface/arcana/arcana_craftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [159, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/arcana/arcana_craftablebackground.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 116,
				"fontSize" : 7.2,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "newIcon" : {
                "type" : "image",
                "position" : [119, 5],
                "file" : "/interface/crafting/new.png",
                "zlevel" : 2
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [122, 1],
                "file" : "/interface/money.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [134, 1],
                "hAnchor" : "left",
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/interface/crafting/notcraftableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
    "description" : {
      "type" : "widget",
      "position" : [251, 43],
      "size" : [149, 210]
    },
    "filter" : {
      "type" : "textbox",
      "position" : [94, 30],
      "hint" : "Search",
      "maxWidth" : 70,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : false
    },
    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        {
          "selected" : true,
          "position" : [16, 201],
          "baseImage" : "/interface/arcana/arcana_crafting_anvil_3/category_1_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_anvil_3/category_1_selected.png",
          "data" : {
            "filter" : [ "arcana_crafting_anvil_3_swords","arcana_crafting_anvil_2_swords","arcana_crafting_anvil_1_swords" ]
          }
        },
		{
          "position" : [43, 201],
          "baseImage" : "/interface/arcana/arcana_crafting_anvil_3/category_2_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_anvil_3/category_2_selected.png",
          "data" : {
            "filter" : [ "arcana_crafting_anvil_3_spears","arcana_crafting_anvil_2_spears","arcana_crafting_anvil_1_spears" ]
          }
        },
		{
          "position" : [70, 201],
          "baseImage" : "/interface/arcana/arcana_crafting_anvil_3/category_3_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_anvil_3/category_3_selected.png",
          "data" : {
            "filter" : [ "arcana_crafting_anvil_3_axes","arcana_crafting_anvil_2_axes","arcana_crafting_anvil_1_axes" ]
          }
        },
		{
          "position" : [97, 201],
          "baseImage" : "/interface/arcana/arcana_crafting_anvil_3/category_4_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_anvil_3/category_4_selected.png",
          "data" : {
            "filter" : [ "arcana_crafting_anvil_3_staves","arcana_crafting_anvil_2_staves","arcana_crafting_anvil_1_staves" ]
          }
        },
		{
          "position" : [124, 201],
          "baseImage" : "/interface/arcana/arcana_crafting_anvil_3/category_5_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_anvil_3/category_5_selected.png",
          "data" : {
            "filter" : [ "arcana_crafting_anvil_3_guns","arcana_crafting_anvil_2_guns","arcana_crafting_anvil_1_guns" ]
          }
        },
		{
          "position" : [151, 201],
          "baseImage" : "/interface/arcana/arcana_crafting_anvil_3/category_6_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_anvil_3/category_6_selected.png",
          "data" : {
            "filter" : [ "arcana_crafting_anvil_3_bows","arcana_crafting_anvil_2_bows","arcana_crafting_anvil_1_bows" ]
          }
        },
		{
          "position" : [178, 201],
          "baseImage" : "/interface/arcana/arcana_crafting_anvil_3/category_7_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_anvil_3/category_7_selected.png",
          "data" : {
            "filter" : [ "arcana_crafting_anvil_3_armor","arcana_crafting_anvil_2_armor","arcana_crafting_anvil_1_armor" ]
          }
        },
		{
          "position" : [205, 201],
          "baseImage" : "/interface/arcana/arcana_crafting_anvil_3/category_8_unselected.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_anvil_3/category_8_selected.png",
          "data" : {
            "filter" : [ "arcana_crafting_anvil_3_epp","arcana_crafting_anvil_2_epp","arcana_crafting_anvil_1_epp" ]
          }
        }
      ]
    },
    "rarities" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
      ]
    }
  }
}
