{
  "onShowSound" : [
  ],
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/confirmation/header.png",
      "fileBody" : "/interface/confirmation/body.png",
      "fileFooter" : "/interface/confirmation/footer.png"
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/confirmation/shine.png",
      "position" : [0, 20],
      "zlevel" : -1
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Confirmation",
      "subtitle" : "",
      "position" : [0, 254],
      "icon" : {
        "type" : "image",
        "file" : "",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },
    "ok" : {
      "type" : "button",
      "base" : "/interface/quests/newquest/acceptUp.png",
      "hover" : "/interface/quests/newquest/acceptOver.png",
      "position" : [135, 38],
      "caption" : "Okay"
    },
    "cancel" : {
      "type" : "button",
      "base" : "/interface/quests/newquest/declineUp.png",
      "hover" : "/interface/quests/newquest/declineOver.png",
      "position" : [55, 38],
      "caption" : "Cancel"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [220, 132]
    },
    "message" : {
      "type" : "label",
      "position" : [60, 119],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 173,
      "lineSpacing" : 1.0,
	  "fontSize" : 7.2,
      "value" : "",
      "color" : "white"
    },
    "portrait" : {
      "type" : "image",
      "position" : [30, 90],
      "scale" : 1.5,
      "centered" : true
    },
    "name" : {
      "type" : "label",
      "position" : [27, 62],
      "hAnchor" : "mid",
      "vAnchor" : "top",
      "wrapWidth" : 50,
	  "fontSize" : 7.2,
      "value" : "",
      "color" : "white"
    }
  }
}
