{
  "onShowSound" : [
    ""
  ],
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/quests/newquest/header.png",
      "fileBody" : "/interface/quests/newquest/bodyshort.png",
      "fileFooter" : "/interface/quests/newquest/footer.png"
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "",
      "subtitle" : "",
      "position" : [0, 194],
      "fontsize" : 16,
      "icon" : {
        "type" : "image",
        "file" : "/interface/quests/quest.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },
    "nqImage" : {
      "type" : "image",
      "file" : "/interface/quests/newquest/NewQuest.png",
      "position" : [30, 174],
      "zlevel" : -10
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/quests/newquest/shineshort.png",
      "position" : [-1, 11],
      "zlevel" : -10
    },
    "bgOverlay" : {
      "type" : "image",
      "file" : "/interface/quests/newquest/detailsshort.png",
      "position" : [3, 37],
      "zlevel" : -10
    },
    "portraitImage" : {
      "type" : "image",
      "offset" : [48, 30],
      "position" : [9, 95],
      "scale" : 1.5
    },
    "portraitTitle" : {
      "type" : "label",
      "position" : [32, 85],
      "hAnchor" : "mid",
      "vAnchor" : "top",
      "wrapWidth" : 38,
      "fontSize" : 7.2,
      "value" : "",
      "color" : "white"
    },
    "btnAccept" : {
      "type" : "button",
      "base" : "/interface/quests/newquest/acceptUp.png",
      "hover" : "/interface/quests/newquest/acceptOver.png",
      "position" : [144, 37],
      "caption" : "Accept"
    },
    "btnDecline" : {
      "type" : "button",
      "base" : "/interface/quests/newquest/declineUp.png",
      "hover" : "/interface/quests/newquest/declineOver.png",
      "disabledImage" : "/interface/quests/newquest/declineUp.png",
      "position" : [64, 37],
      "caption" : "Decline"
    },
    "rewardItems" : {
      "type" : "itemgrid",
      "position" : [110, 66],
      "dimensions" : [2, 1],
      "spacing" : [22, 19],
      "callback" : "null",
      "backingImage" : "/interface/inventory/empty.png",
      "zlevel" : 1
    },
    "lblRewards" : {
      "type" : "label",
      "position" : [67, 70],
      "fontSize" : 8,
      "value" : "REWARDS:",
      "color" : [155, 227, 214]
    },
    "imgMoney" : {
      "type" : "image",
      "file" : "/interface/quests/questlog/money.png",
      "position" : [60, 700]
    },
    "lblMoneyAmount" : {
      "type" : "label",
      "position" : [75, 680],
      "fontSize" : 8,
      "value" : "9999999",
      "color" : "white"
    },
    "lblQuestTitle" : {
      "type" : "label",
      "position" : [140, 160],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "wrapWidth" : 180,
      "lineSpacing" : 1.0,
      "value" : "Secret of the Avian Troll Master",
      "color" : [155, 227, 214]
    },
    "lblQuestBody" : {
      "type" : "label",
      "position" : [67, 147],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 196,
	  "fontSize" : 7.2,
      "lineSpacing" : 1.0,
      "value" : "quest body of the Secret of the Avian Troll Master quest bla",
      "color" : "white"
    }
  }
}
