{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/arcana_upgrade/header.png",
      "fileBody" : "/interface/scripted/arcana_upgrade/body.png",
      "fileFooter" : "/interface/scripted/arcana_upgrade/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : "^#ffffff; ^orange;¤^reset; Upgrade Anvil^reset;",
      "subtitle" : " Upgrade weapons up to ^orange;Tier 10^reset;.",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/arcana_upgrade/weaponupgradeicon.png"
      }
    },

    "itemScrollArea" : {
      "type" : "scrollArea",
      "rect" : [5, 125, 174, 245],
      "children" : {
        "itemList" : {
          "type" : "list",
          "callback" : "itemSelected",
          "schema" : {
            "selectedBG" : "/interface/scripted/arcana_upgrade/listitemselected.png",
            "unselectedBG" : "/interface/scripted/arcana_upgrade/listitem.png",
            "spacing" : [0, 1],
            "memberSize" : [156, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/scripted/arcana_upgrade/listitem.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "unavailableoverlay" : {
                "type" : "image",
                "file" : "/interface/scripted/arcana_upgrade/unavailableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
	
    "costScrollArea" : {
      "type" : "scrollArea",
      "rect" : [5, 50, 174, 110],
      "children" : {
        "itemList" : {
          "type" : "list",
          "callback" : "itemSelected",
          "schema" : {
            "selectedBG" : "/interface/scripted/arcana_upgrade/listitem.png",
            "unselectedBG" : "/interface/scripted/arcana_upgrade/listitem.png",
            "spacing" : [0, 1],
            "memberSize" : [156, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/scripted/arcana_upgrade/listitem.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemCost" : {
                "type" : "label",
                "position" : [152, 5],
                "hAnchor" : "right",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "unavailableoverlay" : {
                "type" : "image",
                "file" : "/interface/scripted/arcana_upgrade/unavailableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },

    "btnUpgrade" : {
      "type" : "button",
      "position" : [92, 30],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "disabledImage" : "/interface/button.png?brightness=-60",
      "caption" : "Upgrade",
      "callback" : "doUpgrade"
    },
    "cancel" : {
      "type" : "button",
      "position" : [33, 30],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "caption" : "Cancel",
      "callback" : "close"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [161, 272]
    },

    "emptyLabel" : {
      "type" : "label",
      "position" : [86, 150],
      "hAnchor" : "mid",
      "value" : "You don't have any weapons that can be upgraded!",
      "wrapWidth" : 125,
      "color" : [185, 181, 178]
    }
  },

  "scriptWidgetCallbacks" : [
    "itemSelected",
	"costSelected",
    "doUpgrade"
  ],

  "scripts" : ["/interface/scripted/arcana_upgrade/arcana_upgrade.lua"],
  "scriptDelta" : 30,

  "maxLevel" : 10
}
