{
  "levels" : [
	{ "1" : [{ "name" : "essence", "count" : 50 }] },
	{ "2" : [{ "name" : "essence", "count" : 100 }] },
	{ "3" : [{ "name" : "essence", "count" : 200 }] },
    { "4" : [{ "name" : "essence", "count" : 300 }] },
	{ "5" : [{ "name" : "essence", "count" : 400 }] },
	{ "6" : [{ "name" : "essence", "count" : 600 },{ "name" : "upgrademodule", "count" : 1 }] },
    { "7" : [{ "name" : "essence", "count" : 800 },{ "name" : "upgrademodule", "count" : 1 }] },
	{ "8" : [{ "name" : "essence", "count" : 1000 },{ "name" : "upgrademodule", "count" : 1 }] },
	{ "9" : [{ "name" : "essence", "count" : 1200 },{ "name" : "upgrademodule", "count" : 2 }] },
	{ "10" : [{ "name" : "essence", "count" : 1800 },{ "name" : "arcana_bar_nullatusBar", "count" : 1 }] },
	{ "11" : [{ "name" : "essence", "count" : 2400 },{ "name" : "arcana_bar_nullatusBar", "count" : 1 }] },
	{ "12" : [{ "name" : "essence", "count" : 3200 },{ "name" : "arcana_bar_nullatusBar", "count" : 1 }] }
  ]
}
