{
  "version": 1, //Increment this to prompt an automatic popup when the player first logs in with the update! Setting it to 1 will NOT prompt it
  "gui" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/scripted/arcana_updates/header.png",
      "fileBody" : "/interface/scripted/arcana_updates/body.png",
      "fileFooter" : "/interface/scripted/arcana_updates/footer.png"
    },
	"tabLabel_1" : {
      "type" : "label",
      "position" : [24, 230],
      "hAnchor" : "left",
      "value" : "^#f7d700;Arcana v1.2, Neon Genesis^#ffffff;",
	  "zlevel" : 3
    },
	"tabLabel_2" : {
      "type" : "label",
      "position" : [24, 220],
      "hAnchor" : "left",
	  "vAnchor" : "top",
	  "wrapWidth" : 200,
	  "fontSize" : 7.2,
      "value" : "You can now visit ^orange;Lighthaven^reset;, one of the Collective's space stations. As new updates come out, you'll receive new quests primarily in this location as a Seeker.",
	  "zlevel" : 3
    },
	"tabLabel_3" : {
      "type" : "label",
      "position" : [24, 160],
      "hAnchor" : "left",
      "value" : "^#f7d700;Detailed Changelog^#ffffff;",
	  "zlevel" : 3
    },
    "sampleScrollArea" : {
      "type": "scrollArea",
      "zlevel": 1,
      "rect": [
        24,
        50,
        236,
        150
	  ],
	  "children" : {
	  	"tabLabel_4" : {
		  "type" : "label",
		  "position" : [24, 150],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 200,
		  "fontSize" : 7.2,
		  "value" : "Added a new planet type, ^orange;Red Terminus^reset;, along with a new side boss, the Harvester.\nAdded a new boss, the ^orange;Mage King^reset;, found in Glitch Ice Castles in Tundra planets.\nAdded a new boss, the ^orange;Molten Knight^reset;, found in Glitch Volcanic Forges in Volcanic/Blistering planets.\nAdded the ^orange;Neon City^reset;, found on Superstorm Expanse planets.\nAdded the ^orange;Anarkyon Production Base^reset;, found on Automated/Viridescent planets.\nAdded new space encounters, weapons, armor sets & items.\nAdded a new side progression system and various factory themed auto-machines.\n\n^orange;And more!^reset; Find the full changelog at the Arcana Github or the ^#5662f6;Discord server^reset;!",
		  "zlevel" : 3
		}
	  }
	},
    "emptyLabel" : {
      "type" : "label",
      "position" : [138, 232],
      "hAnchor" : "mid",
      "color" : "gray",
      "value" : ""
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [360, 267]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Arcana Updates",
      "subtitle" : "News & changelogs!",
      "position" : [0, 294],
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/arcana_updates/collectionsicon.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    }
	
	
  },
  
  "tooltipLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/tooltips/racebody.png",
      "fileFooter" : ""
    },
    "title" : {
      "type" : "label",
      "position" : [11, 54],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 220,
      "fontSize" : 12
    },
    "description" : {
      "type" : "label",
      "position" : [11, 38],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 220
    }
  },
  "iconSize" : [42, 42]
}
