{
  "version": 1, //Increment this to prompt an automatic popup when the player first logs in with the update! Setting it to 1 will NOT prompt it
  "gui" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/scripted/arcana_updates/header.png",
      "fileBody" : "/interface/scripted/arcana_updates/body.png",
      "fileFooter" : "/interface/scripted/arcana_updates/footer.png"
    },
	"tabLabel_1" : {
      "type" : "label",
      "position" : [26, 225],
      "hAnchor" : "left",
      "value" : "^#f7d700;News^#ffffff;",
	  "zlevel" : 3
    },
	"tabLabel_2" : {
      "type" : "label",
      "position" : [26, 215],
      "hAnchor" : "left",
	  "vAnchor" : "top",
	  "wrapWidth" : 196,
	  "fontSize" : 7.2,
      "value" : "A new planet, the Viridescent, is added along with unique items! A minor race, the Gelsemis, can be found in the Viridescent cities.",
	  "zlevel" : 3
    },
	"tabLabel_3" : {
      "type" : "label",
      "position" : [26, 125],
      "hAnchor" : "left",
      "value" : "^#f7d700;Changelog, v0.5^#ffffff;",
	  "zlevel" : 3
    },
	"tabLabel_4" : {
      "type" : "label",
      "position" : [26, 115],
      "hAnchor" : "left",
	  "vAnchor" : "top",
	  "wrapWidth" : 196,
	  "fontSize" : 7.2,
      "value" : "Added a new planet. \nAdded the Luye faction. \nAdded various weapons and armor. \nAdded three new codexes. \nAdded a minor race. \nRefined crafting UIs.",
	  "zlevel" : 3
    },
    "emptyLabel" : {
      "type" : "label",
      "position" : [138, 232],
      "hAnchor" : "mid",
      "color" : "gray",
      "value" : ""
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [360, 267]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Arcana Updates",
      "subtitle" : "News & changelogs!",
      "position" : [0, 294],
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/arcana_updates/collectionsicon.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    }
	
	
  },
  
  "tooltipLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/tooltips/racebody.png",
      "fileFooter" : ""
    },
    "title" : {
      "type" : "label",
      "position" : [11, 54],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 220,
      "fontSize" : 12
    },
    "description" : {
      "type" : "label",
      "position" : [11, 38],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 220
    }
  },
  "iconSize" : [42, 42]
}
