{
  "name" : [
	"Adam",
	"Alex",
	"Alexis",
	"Andre",
	"Amal",
	"Amos",
	"Anton",
	"Arjun",
	"Ash",
	"Ashton",
	"Asier",
	"Benny",
	"Billy",
	"Boyan",
	"Bran",
	"Bruno",
	"Byron",
	"Cameron",
	"Carl",
	"Carlos",
	"Carson",
	"Casper",
	"Cassidy",
	"Chao",
	"Charlie",
	"Clancy",
	"Clarke",
	"Claude",
	"Clay",
	"Cody",
	"Coltrane",
	"Conan",
	"Corey",
	"Cosmo",
	"Cyrus",
	"Dave",
	"Dean",
	"Declan",
	"Derek",
	"Desmond",
	"Devin",
	"Djuro",
	"Dom",
	"Draven",
	"Edwin",
	"Einar",
	"Elvis",
	"Emil",
	"Enzo",
	"Eoin",
	"Fabian",
	"Faris",
	"Felix",
	"Fife",
	"Finn",
	"Floyd",
	"Francis",
	"Fred",
	"George",
	"Gilroy",
	"Gus",
	"Guy",
	"Hasim",
	"Hayden",
	"Hector",
	"Heike",
	"Hill",
	"Huey",
	"Iker",
	"Inigo",
	"Irving",
	"Isaac",
	"Issy",
	"Ivo",
	"Izem",
	"Jabir",
	"Jaden",
	"Jamie",
	"James",
	"Jan",
	"Javier",
	"Jay",
	"Jim",
	"Joe",
	"José",
	"Joel",
	"Jemmy",
	"Jesper",
	"Jesse",
	"Jin",
	"Juan",
	"Jude",
	"Julian",
	"Keane",
	"Kim",
	"Kirk",
	"Kit",
	"Lane",
	"Lee",
	"Leon",
	"Leo",
	"Liu",
	"Livio",
	"Lucian",
	"Ludvig",
	"Luigi",
	"Luis",
	"Lukas",
	"Mac",
	"Magnus",
	"Manolo",
	"Marc",
	"Marcel",
	"Mario",
	"Martin",
	"Matt",
	"Max",
	"Melville",
	"Micah",
	"Mick",
	"Ming",
	"Miron",
	"Morgan",
	"Marley",
	"Monty",
	"Nevada",
	"Niall",
	"Nick",
	"Ninos",
	"Noel",
	"Nolan",
	"Norris",
	"Oran",
	"Orion",
	"Oswin",
	"Owen",
	"Paco",
	"Parker",
	"Pau",
	"Payton",
	"Perry",
	"Pete",
	"Prince",
	"Quinn",
	"Ralph",
	"Ray",
	"Reed",
	"Ren",
	"Rigel",
	"Robin",
	"Roc",
	"Ronald",
	"Rory",
	"Samir",
	"Sarge",
	"Sarkis",
	"Scout",
	"Seb",
	"Sherman",
	"Shui",
	"Skip",
	"Skipper",
	"Sonny",
	"Stelian",
	"Sten",
	"Stephen",
	"Sterling",
	"Steve",
	"Sweeney",
	"Theo",
	"Toby",
	"Tom",
	"Tyler",
	"Vaughn",
	"Vincent",
	"Wes",
	"Wesley",
	"William",
	"Wulf",
	"Xuan",
	"Yam",
	"Yanko",
	"Yannick",
	"Yang",
	"Yrian",
	"Zac",
	"Zhi",
	"Zoran",
	"Abi",
	"Addison",
	"Adria",
	"Agnes",
	"Alex",
	"Alexis",
	"Alice",
	"Alysia",
	"Amity",
	"Anka",
	"Anne",
	"Annice",
	"Angel",
	"Annie",
	"Ariel",
	"Ashley",
	"Astra",
	"Bailey",
	"Bianka",
	"Beatriz",
	"Bee",
	"Betty",
	"Blair",
	"Bobbie",
	"Carina",
	"Carla",
	"Carmen",
	"Carmine",
	"Cassie",
	"Celeste",
	"Chelle",
	"Chiara",
	"Chrisjen",
	"Cindy",
	"Daisy",
	"Dakota",
	"Dallas",
	"Daphne",
	"Darija",
	"Dawn",
	"Delia",
	"Demi",
	"Devon",
	"Donna",
	"Doris",
	"Ecrin",
	"Elaine",
	"Elara",
	"Ellen",
	"Emilia",
	"Emma",
	"Elsa",
	"Erin",
	"Estelle",
	"Ethna",
	"Eva",
	"Evren",
	"Freya",
	"Frankie",
	"Gala",
	"Gem",
	"Georgi",
	"Gerry",
	"Gina",
	"Goldie",
	"Greta",
	"Gul",
	"Hadley",
	"Harriet",
	"Harley",
	"Hayley",
	"Hiba",
	"Hilda",
	"Ibbie",
	"Ida",
	"Idril",
	"Inga",
	"Ira",
	"Iris",
	"Irma",
	"Isolde",
	"Jeong",
	"Jaki",
	"Jantine",
	"Jazmin",
	"Jessie",
	"Jodi",
	"June",
	"Jude",
	"Karin",
	"Kata",
	"Kelly",
	"Kelsey",
	"Kiki",
	"Kleio",
	"Laurie",
	"Layla",
	"Leah",
	"Lenna",
	"Lili",
	"Linda",
	"Lindsay",
	"Linn",
	"Lonnie",
	"Lorene",
	"Lorette",
	"Lorna",
	"Lucy",
	"Luna",
	"Lyra",
	"Malina",
	"Mallory",
	"Mara",
	"Margo",
	"Mariel",
	"Marisa",
	"Maya",
	"Maytal",
	"Mercia",
	"Mette",
	"Mila",
	"Milka",
	"Mimi",
	"Mina",
	"Mira",
	"Misty",
	"Moira",
	"Molly",
	"Montana",
	"Morgan",
	"Nalani",
	"Nasim",
	"Nell",
	"Neske",
	"Neva",
	"Nevada",
	"Nona",
	"Norah",
	"Olga",
	"Paris",
	"Payton",
	"Peony",
	"Pia",
	"Quinn",
	"Rakel",
	"Reed",
	"Remi",
	"Rene",
	"Rima",
	"Rita",
	"Robin",
	"Rosa",
	"Rosie",
	"Rue",
	"Saga",
	"Saige",
	"Samara",
	"Sara",
	"Scout",
	"Selma",
	"Shana",
	"Shay",
	"Sigrun",
	"Sita",
	"Shelby",
	"Sitara",
	"Skylar",
	"Sunny",
	"Suri",
	"Suzette",
	"Sydney",
	"Star",
	"Stormy",
	"Tania",
	"Taylor",
	"Tegan",
	"Telma",
	"Thyra",
	"Ursa",
	"Vera",
	"Vivi",
	"Vardah",
	"Wanda",
	"Wendy",
	"Yulia",
	"Zaray",
	"Ziv",
	"Zlata",
	"Zoe",
	"Zora"
  ],
  "moment" : [
	"the moment",
	"the instance",
	"the time",
	"the day"
  ],
  "detail" : [
	"Intricate patterns of",
	"Markings in the shape of",
	"Remnants of",
	"Scratched signs of",
	"Sketches of",
	"Shapes of",
	"Memories of"
  ],
  "detailEnd" : [
	"are etched onto its surface.",
	"are carved on the outer layer.",
	"are spread across its cover.",
	"are smeared on its surface.",
	"can be seen within.",
	"are scattered on the relic.",
	"fills your mind as you hold the relic close.",
	"are embedded in the relic."
  ],
  "extra" : [
	"Many lives were lost in the pursue of this treasure.",
	"It's believed that this relic can bring forth inner strength.",
	"It's said that this relic was cursed by a powerful entity.",
	"It's said that this relic only befits a true hero.",
	"It's rumored that this relic caused the downfall of a civilization."
  ],
  "creation" : [
	"was created by",
	"was crafted by",
	"was a failed creation, discarded by",
	"was stashed away by",
	"was first discovered by",
	"was made by",
	"fell into the hands of",
	"is believed to have originated from",
	"is an ancient creation of",
	"was the result of an experiment by"
  ],
  "thing" : [
	"a dragon's claw",
	"a clover",
	"a diamond",
	"an iron ore",
	"a Protectorate Sword",
	"a penguin",
	"the Dreadwing",
	"a gleap",
	"a poptop",
	"a fennix",
	"an egg",
	"an apple pie",
	"a maple leaf",
	"a pair of wings",
	"a skeleton",
	"a rifle",
	"a dagger",
	"a chair",
	"a dirt block",
	"a bottle of water",
	"a bomb",
	"a medkit",
	"a hunter's mask",
	"a timepiece",
	"a magic staff",
	"a red flower",
	"a torn book",
	"a halo",
	"a trident",
	"a tarot card",
	"a shield",
	"an upgrade module",
	"the matter manipulator",
	"a Frogg",
	"the Ruin",
	"a star",
	"a planet",
	"the Erchius Ghost",
	"the Big Ape",
	"the Kluex",
	"the Earth",
	"Asra Nox",
	"a forgotten memory"
  ],
  "entity" : [
	"a Glitch lord",
	"a Glitch noble",
	"a Glitch wizard",
	"a Hylotl librarian",
	"a Hylotl scholar",
	"a Hylotl samurai",
	"a Novakid sheriff",
	"a Novakid outlaw",
	"a Novakid gunslinger",
	"an Apex researcher",
	"an Apex rebel",
	"a Human settler",
	"a Human soldier",
	"a Floran hunter",
	"a Floran Greenfinger",
	"an Avian Stargazer",
	"an Avian priest",
	"an Arcanian mage",
	"an Arcanian Starstrider",
	"a Gilten priest",
	"a Gilten Artificer",
	"a medieval peasant",
	"a medieval blacksmith",
	"a tavern innkeeper",
	"a ship captain",
	"a ship mechanic",
	"a combat medic",
	"a frontline soldier",
	"a military sniper",
	"a monster tamer",
	"a sheep herder",
	"a boneboo farmer",
	"a Ruin cultist",
	"a hired assassin",
	"a scavenger",
	"a wanted fugitive",
	"a corrupt politician",
	"a syndicate boss",
	"a corporate lawyer",
	"a gamer",
	"a ventriloquist",
	"a reformed criminal",
	"a drifter",
	"a pirate",
	"a fisher",
	"a bodyguard",
	"a mafia hitman",
	"a mad scientist",
	"a temple architect",
	"a terrible singer",
	"a hive worshipper",
	"a treasure hunter",
	"a butler",
	"a reincarnated hero",
	"a dungeon master",
	"an evil overlord",
	"a demon",
	"an angel",
	"a fortune teller",
	"an executioner",
	"a nobody"
  ],
  "depiction" : [
	"This relic depicts",
	"This relic tells the story",
	"This commemorates",
	"This recalls",
	"This artifact ruminates",
	"This displays"
  ],
  "verb" : [
    "partied hard",
	"got drunk",
	"started a shootout",
	"shoplifted",
	"fought a guard",
	"got shredded by a Mother Poptop",
	"turned into an undead",
	"accidentally blew up a bomb",
	"crashed a ship",
	"discovered the meaning of life",
	"spilled coffee on a guard",
	"fell in lava",
	"hit the ground too hard",
	"worshipped the Ruin",
	"almost died",
	"tamed a poptop",
	"found a legendary weapon",
	"scanned for clues",
	"broke a vending machine",
	"met their true love",
	"rescued a friend",
	"captured an outlaw",
	"stole furniture",
	"distorted",
	"lost all faith in humanity",
	"sold dirt blocks",
	"wrote fanfiction",
	"became addicted to soda"
  ],
  "preposition" : [
	"at"
  ],
  "location" : [
	"a forest village",
	"a cultist hideout",
	"an abandoned mine",
	"a lunar mining facility",
	"a Hylotl library",
	"a Floran hunting grounds",
	"an Apex Research Lab",
	"a Human camp",
	"a Novakid homestead",
	"a Glitch castle",
	"an Avian temple",
	"an Arcanian Academy",
	"a Gilten church",
	"the Outpost",
	"the belly of a whale",
	"an Orion Pylon",
	"a Titancorp foundry",
	"a red moon",
	"a scorched city",
	"a fungal wasteland",
	"a scrapyard",
	"a Lethia office building"
  ]
}
