{
  "suffix" : [
	"bearer",
	"maker",
	"reign",
	"heart",
	"wound",
	"bane",
	"mane",
	"verge",
	"mind",
	"reap",
	"vessel",
	"grace",
	"tint"
  ],
  "type" : [
	"Artifact",
	"Trinket",
	"Gadget",
	"Remnant",
	"Curio",
	"Heirloom",
	"Vestige",
	"Image"
  ],
  "generic" : [
    "Epoch",
	"Eternity",
	"Orchard",
	"Blossom",
	"Soil",
    "Iron",
	"Potential",
	"Sky",
	"Tranquility",
	"Peace",
    "Silence",
	"Inertia",
	"Apathy",
	"Envy",
	"Grudge"
  ],
  "critDamage" : [
    "Luck",
	"Clover",
	"Karma",
	"Fortune",
	"Windfall"
  ],
  "meleeDamage" : [
    "Valor",
	"Strength",
	"Bravery",
	"Courage",
	"Brawl"
  ],
  "rangedDamage" : [
    "Steadiness",
	"Precision",
	"Reach",
	"Mark",
	"Blitz"
  ],
  "magicDamage" : [
    "Arcane",
	"Hex",
	"Charm",
	"Sorcery",
	"Witchcraft"
  ],
  "maxHealth" : [
    "Vitality",
	"Life",
	"Spirit",
	"Vigor"
  ],
  "maxEnergy" : [
    "Energy",
	"Force",
	"Current",
	"Charge"
  ],
  "fireResistance" : [
    "Flame",
	"Blaze",
	"Fire",
	"Phoenix"
  ],
  "iceResistance" : [
    "Ice",
	"Frost",
	"Glacier",
	"Rime"
  ],
  "poisonResistance" : [
    "Poison",
	"Corruption",
	"Jungle",
	"Spore"
  ],
  "electricResistance" : [
    "Electric",
	"Voltage",
	"Thunder",
	"Lightning"
  ]
}
