{
  "rarities" : [
	{
	  "name" : "Common",
	  "perks" : 1,
	  "scaling" : 1,
	  "price" : 3500
	},
	{
	  "name" : "Uncommon",
	  "perks" : 1,
	  "scaling" : 3,
	  "price" : 500
	},
	{
	  "name" : "Rare",
	  "perks" : 2,
	  "scaling" : 2,
	  "price" : 500
	},
	{
	  "name" : "Legendary",
	  "perks" : 3,
	  "scaling" : 1,
	  "price" : 500
	}
  ],
  "perks" : [
	{
	  "id" : "meleeDamage",
	  "name" : "Melee Damage",
	  "stats" : [ 3, 5, 7 ],
	  "type" : "percent"
	},
	{
	  "id" : "rangedDamage",
	  "name" : "Ranged Damage",
	  "stats" : [ 3, 5, 7 ],
	  "type" : "percent"
	},
	{
	  "id" : "magicDamage",
	  "name" : "Magic Damage",
	  "stats" : [ 3, 5, 7 ],
	  "type" : "percent"
	},
	{
	  "id" : "maxHealth",
	  "name" : "Max Health",
	  "stats" : [ 10, 25, 45 ],
	  "type" : "amount"
	},
	{
	  "id" : "maxEnergy",
	  "name" : "Max Energy",
	  "stats" : [ 10, 25, 45 ],
	  "type" : "amount"
	},
	{
	  "id" : "fireResistance",
	  "name" : "Fire Resistance",
	  "stats" : [ 2, 4, 6 ],
	  "type" : "percent"
	},
	{
	  "id" : "iceResistance",
	  "name" : "Ice Resistance",
	  "stats" : [ 2, 4, 6 ],
	  "type" : "percent"
	},
	{
	  "id" : "poisonResistance",
	  "name" : "Poison Resistance",
	  "stats" : [ 2, 4, 6 ],
	  "type" : "percent"
	},
	{
	  "id" : "electricResistance",
	  "name" : "Electric Resistance",
	  "stats" : [ 2, 4, 6 ],
	  "type" : "percent"
	}
  ]
}
