{
  "floorPlatforms1" : {
    "pieces" : [
    ],
    "floorSpaces" : [[0, 1], [7, 1]]
  },
  "floorPlatforms2" : {
    "pieces" : [
     
    ],
    "floorSpaces" : [[1, 1], [6, 1]]
  },
  "floorPlatforms3" : {
    "pieces" : [
      
    ],
    "floorSpaces" : [[2, 1], [5, 1]]
  },
  "wallPlatformsMid" : {
    "priority" : -10,
    "pieces" : [
      
    ],
    "floorSpaces" : [[0, 2], [7, 2]]
  },
  "wallPlatformsHigh" : {
    "priority" : -20,
    "pieces" : [
     
    ],
    "floorSpaces" : [[0, 3], [7, 3]]
  },
  "wallButtonMid1" : {
    "pieces" : [
      
    ],
    "floorSpaces" : [[0, 1], [7, 1]],
    "objects" : [
      
    ],
    "operator" : {
      "preconditions" : [
        ["!Interact", ["button"]],
        ["Move"]
      ],
      "postconditions" : [
        ["Interact", ["button"]]
      ],
      "statemodifiers" : [],
      "objectives" : [
        ["Interact", ["button"]]
      ]
    }
  },
  "wallButtonMid2" : {
    "pieces" : [
     
    ],
    "floorSpaces" : [[2, 2], [5, 2]],
    "objects" : [
      
    ],
    "operator" : {
      "preconditions" : [
        ["!Interact", ["button"]],
        ["Move"]
      ],
      "postconditions" : [
        ["Interact", ["button"]]
      ],
      "statemodifiers" : [],
      "objectives" : [
        ["Interact", ["button"]]
      ]
    }
  },
  "wallButtonFloor" : {
    "pieces" : [
    ],
    "objects" : [
      
    ],
    "operator" : {
      "preconditions" : [
        ["DangerIn", [[2, 0], [5, 0]]],
        ["!Interact", ["button"]]
      ],
      "postconditions" : [
        ["Interact", ["button"]]
      ],
      "statemodifiers" : [],
      "objectives" : [
        ["Interact", ["button"]]
      ]
    }
  },
  "centerTriggerSpikes" : {
    "objects" : [
      
    ],

    "operator" : {
      "chance" : 0.5,
      "preconditions" : [
        ["Interact", "interactType"],
        ["BossIn", [[3, 0], [4, 0]], "CertainPosition"]
      ],
      "postconditions" : [
      ],
      "statemodifiers" : [
        ["Vulnerability", "PiercingVulnerability"]
      ]
    }
  },
  "edgeTriggerSpikes" : {
    "objects" : [
      
    ],

    "operator" : {
      "chance" : 0.5,
      "preconditions" : [
        ["Interact", "interactType"],
        ["BossIn", [[1, 0], [6, 0]], "CertainPosition"]
      ],
      "postconditions" : [
      ],
      "statemodifiers" : [
        ["Vulnerability", "PiercingVulnerability"]
      ]
    }
  },
  "smallFloorSpikes" : {
    "objects" : [
      
    ],

    "operator" : {
      "preconditions" : [
        ["BossIn", [[3, 0], [4, 0]], "GuidedPosition"]
      ],
      "postconditions" : [
      ],
      "statemodifiers" : [
        ["Vulnerability", "PiercingVulnerability"],
        ["BossDanger", 3, 0],
        ["BossDanger", 4, 0],
        ["!Boss", 3, 0, "CertainPosition"],
        ["!Boss", 4, 0, "CertainPosition"]
      ]
    }
  }
}
