{
  "filter" : [ "arcana_astral_crafting_1" ],
  "requiresBlueprint" : false,
  "printer" : false,
  "printTime" : 0.5,
  "printCostFactor" : 1.0,
  "craftingSound" : "/sfx/interface/crafting_tech1.ogg",

  "paneLayout" : {
    "background" : {
      "type" : "background",
	  "fileHeader" : "/interface/arcana/arcana_crafting_cosmicAltar/head.png",
      "fileBody" : "/interface/arcana/arcana_crafting_cosmicAltar/body.png",
	  "fileFooter" : "/interface/arcana/arcana_crafting_cosmicAltar/foot.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [452, 262]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "",
      "subtitle" : "",
      "position" : [27, 252]
    },
    "lblTitle" : {
      "type" : "label",
      "position" : [30, 268],
	  "textAlign" : "left",
      "value" : " Astral Crafting Table"
    },
    "lblSubtitle" : {
      "type" : "label",
      "position" : [30, 260],
	  "textAlign" : "left",
      "value" : " ^orange;A workstation for crafting various Arcanian items!^reset;"
    },
    "btnUpgrade" : {
      "type" : "button",
      "disabledImage" : "/interface/arcana/arcana_crafting_anvil/general/upgradelong_off.png",
      "base" : "/interface/arcana/arcana_crafting_anvil/general/upgradelong_on.png",
      "position" : [21, 50],
      "zlevel" : 5
    },
    "spinCount" : {
      "type" : "spinner",
      "position" : [318, 24],
      "upOffset" : 60
    },
    "tbSpinCount" : {
      "type" : "textbox",
      "position" : [354, 25],
      "textAlign" : "center",
      "maxWidth" : 16,
	  "fontSize" : 7.2,
      "regex" : "x?\\d{0,4}",
      "hint" : ""
    },
    "imgAmountInput" : {
      "type" : "image",
      "file" : "/interface/arcana/arcana_crafting_cosmicAltar/amount.png",
      "position" : [327, 15],
      "zlevel" : -3
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/interface/arcana/arcana_crafting_cosmicAltar/craft_off.png",
      "hover" : "/interface/arcana/arcana_crafting_cosmicAltar/craft_off_hover.png",
      "position" : [388, 15],
      "caption" : ""
    },
    "btnStopCraft" : {
      "type" : "button",
      "base" : "/interface/arcana/arcana_crafting_cosmicAltar/craft_on.png",
      "hover" : "/interface/arcana/arcana_crafting_cosmicAltar/craft_on_hover.png",
      "position" : [388, 15],
      "caption" : ""
    },
    "currentRecipeIcon" : {
      "type" : "itemslot",
      "callback" : "null",
      "position" : [331, 19],
	  "zlevel" : 2
    },
    "imgPlayerMoneyIcon" : {
      "type" : "image",
      "position" : [135, 12],
      "file" : "/interface/money.png"
    },
    "lblPlayerMoney" : {
      "type" : "label",
      "position" : [149, 12],
      "hAnchor" : "left",
	  "fontSize" : 7.2,
      "value" : "0"
    },

    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [135, 50, 305, 249],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/arcana/arcana_craftableselected2.png",
            "unselectedBG" : "/interface/arcana/arcana_craftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [159, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/arcana/arcana_craftablebackground.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 116,
				"fontSize" : 7.2,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "newIcon" : {
                "type" : "image",
                "position" : [119, 5],
                "file" : "/interface/crafting/new.png",
                "zlevel" : 2
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [122, 1],
                "file" : "/interface/money.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [134, 1],
                "hAnchor" : "left",
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/interface/crafting/notcraftableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
    "description" : {
      "type" : "widget",
      "position" : [314, 60],
      "size" : [149, 210]
    },
    "filter" : {
      "type" : "textbox",
      "position" : [229, 33],
      "hint" : "Search",
      "maxWidth" : 70,
      "escapeKey" : "close",
      "enterKey" : "filter",
	  "fontSize" : 7.2,
      "focus" : false
    },
    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        {
          "selected" : true,
          "position" : [16, 213],
          "baseImage" : "/interface/arcana/arcana_crafting_workbench/misc/1_off.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_workbench/misc/1_on.png",
          "data" : {
            "filter" : [ "arcana_crafting_workbench_4_doors" ]
          }
        },
		{
          "position" : [44, 213],
          "baseImage" : "/interface/arcana/arcana_crafting_workbench/misc/2_off.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_workbench/misc/2_on.png",
          "data" : {
            "filter" : [ "arcana_crafting_workbench_4_lights" ]
          }
        },
		{
          "position" : [72, 213],
          "baseImage" : "/interface/arcana/arcana_crafting_workbench/misc/3_off.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_workbench/misc/3_on.png",
          "data" : {
            "filter" : [ "arcana_crafting_workbench_4_furniture", "arcana_crafting_workbench_4_storage", "arcana_crafting_workbench_4_wired", "arcana_crafting_workbench_4_decorations" ]
          }
        },
		{
          "position" : [100, 213],
          "baseImage" : "/interface/arcana/arcana_crafting_workbench/misc/4_off.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_workbench/misc/4_on.png",
          "data" : {
            "filter" : [ "arcana_crafting_workbench_4_materials" ]
          }
        },
		{
          "position" : [16, 185],
          "baseImage" : "/interface/arcana/arcana_crafting_workbench/misc/5_off.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_workbench/misc/5_on.png",
          "data" : {
            "filter" : [ "arcana_astral_equipment" ]
          }
        },
		{
          "position" : [44, 185],
          "baseImage" : "/interface/arcana/arcana_crafting_workbench/misc/6_off.png",
          "baseImageChecked" : "/interface/arcana/arcana_crafting_workbench/misc/6_on.png",
          "data" : {
            "filter" : [ "arcana_astral_materials" ]
          }
        }
      ]
    },
    "rarities" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
      ]
    }
  }
}
