{
  "gamer" : {
	"price" : 500,
	"rarity" : "Common",
	"shortdescription" : "Gamer Crew Contract",
	"crewSpecies" : ["human", "hylotl", "glitch", "floran", "apex", "avian", "novakid"],
	"crewType" : "arcana_crewmember_gamer"
  },
  "miner" : {
	"price" : 500,
	"rarity" : "Common",
	"shortdescription" : "Miner Crew Contract",
	"crewSpecies" : ["human", "hylotl", "glitch", "floran", "apex", "avian", "novakid"],
	"crewType" : "arcana_crewmember_miner"
  },
  "shaman" : {
	"price" : 500,
	"rarity" : "Common",
	"shortdescription" : "Shaman Crew Contract",
	"crewSpecies" : ["floran"],
	"crewType" : "arcana_crewmember_shaman"
  },
  "bloodassassin" : {
	"price" : 500,
	"rarity" : "Common",
	"shortdescription" : "Blood Assassin Crew Contract",
	"crewSpecies" : ["human", "hylotl", "glitch", "floran", "apex", "avian", "novakid"],
	"crewType" : "arcana_crewmember_bloodassassin"
  },
  "navigator" : {
	"price" : 500,
	"rarity" : "Common",
	"shortdescription" : "Navigator Crew Contract",
	"crewSpecies" : ["arcanian"],
	"crewType" : "arcana_crewmember_navigator"
  },
  "astronaut" : {
	"price" : 500,
	"rarity" : "Common",
	"shortdescription" : "Astronaut Crew Contract",
	"crewSpecies" : ["human", "hylotl", "glitch", "floran", "apex", "avian", "novakid"],
	"crewType" : "arcana_crewmember_astronaut"
  },
  "pilot" : {
	"price" : 500,
	"rarity" : "Common",
	"shortdescription" : "Pilot Crew Contract",
	"crewSpecies" : ["human", "hylotl", "glitch", "floran", "apex", "avian", "novakid"],
	"crewType" : "arcana_crewmember_pilot"
  },
  "scavenger" : {
	"price" : 500,
	"rarity" : "Common",
	"shortdescription" : "Scavenger Crew Contract",
	"crewSpecies" : ["human", "hylotl", "glitch", "floran", "apex", "avian", "novakid"],
	"crewType" : "arcana_crewmember_scavenger"
  },
  "fieldmedic" : {
	"price" : 1000,
	"rarity" : "Uncommon",
	"shortdescription" : "Field Medic Crew Contract",
	"crewSpecies" : ["human", "hylotl", "glitch", "floran", "apex", "avian", "novakid"],
	"crewType" : "arcana_crewmember_fieldmedic"
  },
  "hazmat" : {
	"price" : 1000,
	"rarity" : "Uncommon",
	"shortdescription" : "Hazmat Crew Contract",
	"crewSpecies" : ["human", "hylotl", "glitch", "floran", "apex", "avian", "novakid"],
	"crewType" : "arcana_crewmember_hazmat"
  },
  "marksman" : {
	"price" : 1000,
	"rarity" : "Uncommon",
	"shortdescription" : "Marksman Crew Contract",
	"crewSpecies" : ["human", "hylotl", "glitch", "floran", "apex", "avian", "novakid"],
	"crewType" : "arcana_crewmember_marksman"
  },
  "mage" : {
	"price" : 1000,
	"rarity" : "Uncommon",
	"shortdescription" : "Mage Crew Contract",
	"crewSpecies" : ["human", "hylotl", "glitch", "floran", "apex", "avian", "novakid"],
	"crewType" : "arcana_crewmember_mage"
  },
  "berserker" : {
	"price" : 1000,
	"rarity" : "Uncommon",
	"shortdescription" : "Berserker Crew Contract",
	"crewSpecies" : ["human", "hylotl", "glitch", "floran", "apex", "avian", "novakid"],
	"crewType" : "arcana_crewmember_berserker"
  },
  "machinist" : {
	"price" : 1000,
	"rarity" : "Uncommon",
	"shortdescription" : "Machinist Crew Contract",
	"crewSpecies" : ["human", "hylotl", "glitch", "floran", "apex", "avian", "novakid"],
	"crewType" : "arcana_crewmember_machinist"
  },
  "vanguard" : {
	"price" : 1000,
	"rarity" : "Uncommon",
	"shortdescription" : "Vanguard Crew Contract",
	"crewSpecies" : ["human", "hylotl", "glitch", "floran", "apex", "avian", "novakid"],
	"crewType" : "arcana_crewmember_vanguard"
  },
  "sensor" : {
	"price" : 1000,
	"rarity" : "Uncommon",
	"shortdescription" : "Sensor Crew Contract",
	"crewSpecies" : ["human", "hylotl", "glitch", "floran", "apex", "avian", "novakid"],
	"crewType" : "arcana_crewmember_sensor"
  },
  "omenkyrie" : {
	"price" : 1000,
	"rarity" : "Uncommon",
	"shortdescription" : "Omenkyrie Crew Contract",
	"crewSpecies" : ["human", "hylotl", "glitch", "floran", "apex", "avian", "novakid"],
	"crewType" : "arcana_crewmember_omenkyrie"
  },
  "inquisitor" : {
	"price" : 1000,
	"rarity" : "Uncommon",
	"shortdescription" : "Inquisitor Crew Contract",
	"crewSpecies" : ["gilten"],
	"crewType" : "arcana_crewmember_inquisitor"
  },
  "king" : {
	"price" : 2000,
	"rarity" : "Rare",
	"shortdescription" : "King Crew Contract",
	"crewSpecies" : ["glitch"],
	"crewType" : "arcana_crewmember_king"
  },
  "deathbringer" : {
	"price" : 2000,
	"rarity" : "Rare",
	"shortdescription" : "Deathbringer Crew Contract",
	"crewSpecies" : ["human", "hylotl", "glitch", "floran", "apex", "avian", "novakid"],
	"crewType" : "arcana_crewmember_deathbringer"
  },
  "priest" : {
	"price" : 2000,
	"rarity" : "Rare",
	"shortdescription" : "Priest Crew Contract",
	"crewSpecies" : ["gilten"],
	"crewType" : "arcana_crewmember_priest"
  },
  "roboticist" : {
	"price" : 2000,
	"rarity" : "Rare",
	"shortdescription" : "Roboticist Crew Contract",
	"crewSpecies" : ["human", "hylotl", "glitch", "floran", "apex", "avian", "novakid"],
	"crewType" : "arcana_crewmember_roboticist"
  },
  "chemlord" : {
	"price" : 2000,
	"rarity" : "Rare",
	"shortdescription" : "Chemlord Crew Contract",
	"crewSpecies" : ["human", "hylotl", "glitch", "floran", "apex", "avian", "novakid"],
	"crewType" : "arcana_crewmember_chemlord"
  },
  "snowinfantry" : {
	"price" : 2000,
	"rarity" : "Rare",
	"shortdescription" : "Snow Infantry Crew Contract",
	"crewSpecies" : ["apex"],
	"crewType" : "arcana_crewmember_snowinfantry"
  },
  "sunscalewarrior" : {
	"price" : 2000,
	"rarity" : "Rare",
	"shortdescription" : "Sunscale Warrior Crew Contract",
	"crewSpecies" : ["human", "hylotl", "glitch", "floran", "apex", "avian", "novakid"],
	"crewType" : "arcana_crewmember_sunscalewarrior"
  },
  "riftwalker" : {
	"price" : 2000,
	"rarity" : "Rare",
	"shortdescription" : "Riftwalker Crew Contract",
	"crewSpecies" : ["human", "hylotl", "glitch", "floran", "apex", "avian", "novakid"],
	"crewType" : "arcana_crewmember_riftwalker"
  }
}
