{
  "gamer" : {
	"price" : 500,
	"rarity" : "Common",
	"shortdescription" : "Gamer Crew Contract",
	"crewSpecies" : ["human", "hylotl", "glitch", "floran", "apex", "avian", "novakid"],
	"crewType" : "arcana_crewmember_gamer"
  },
  "king" : {
	"price" : 1000,
	"rarity" : "Uncommon",
	"shortdescription" : "King Crew Contract",
	"crewSpecies" : ["glitch"],
	"crewType" : "arcana_crewmember_king"
  }
}
