{
  "gui" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/scripted/arcana_relics/head.png",
      "fileBody" : "/interface/scripted/arcana_relics/body.png",
      "fileFooter" : "/interface/scripted/arcana_relics/foot.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/arcana_x.png",
      "hover" : "/interface/arcana_xhover.png",
      "pressed" : "/interface/arcana_xhover.png",
      "pressedOffset" : [0, 0],
      "position" : [67, 68],
	    "zlevel" : 5
    },
    "lblTitle" : {
      "type" : "label",
      "position" : [40, 40],
      "hAnchor" : "mid",
      "fontSize" : 7.2,
      "value" : ""
    },
    "slot1" : {
      "type" : "itemslot",
      "position" : [13, 15],
      "callback" : "slotUpdate",
	  "rightClickCallback" : "slotUpdate",
      "backingImage" : "/interface/inventory/emptier.png",
      "showRarity" : true
    },
    "slot2" : {
      "type" : "itemslot",
      "position" : [31, 49],
      "callback" : "slotUpdate",
	  "rightClickCallback" : "slotUpdate",
      "backingImage" : "/interface/inventory/emptier.png",
      "showRarity" : true
    },
    "slot3" : {
      "type" : "itemslot",
      "position" : [49, 15],
      "callback" : "slotUpdate",
	  "rightClickCallback" : "slotUpdate",
      "backingImage" : "/interface/inventory/emptier.png",
      "showRarity" : true
    }
  },
  
  "scriptWidgetCallbacks" : [
    "slotUpdate"
  ],
  "scripts" : [ "/interface/scripted/arcana_relics/arcana_relics.lua" ],
  "scriptDelta" : 10
}
