{
  "gui" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/arcana/info1.png",
      "fileBody" : "",
      "fileFooter" : ""
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/arcana_x.png",
      "hover" : "/interface/arcana_xhover.png",
      "pressed" : "/interface/arcana_xhover.png",
      "pressedOffset" : [0, 0],
      "position" : [80, 60],
	    "zlevel" : 5
    },
    "lblInfo" : {
      "type" : "label",
      "position" : [5, 50],
	  "hAnchor" : "left",
	  "vAnchor" : "top",
	  "wrapWidth" : 75,
      "fontSize" : 7.2,
      "value" : "^orange;Relics^reset;\nRelics can be found in rare Arcana underground encounters. To activate a relic, drop it in one of the avaliable slots."
    }
  }
}
