{
  "gui" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/scripted/arcana_collections/header.png",
      "fileBody" : "/interface/scripted/arcana_collections/body.png",
      "fileFooter" : "/interface/scripted/arcana_collections/footer.png"
    },
	"tabLabel_1" : {
      "type" : "label",
      "position" : [26, 225],
      "hAnchor" : "left",
      "value" : "^#faa152;Forge of Stars^#ffffff; - Elemental",
	  "zlevel" : 3
    },
	"tabLabel_2" : {
      "type" : "label",
      "position" : [26, 205],
      "hAnchor" : "left",
      "value" : "^#faa152;Forge of Stars^#ffffff; - Arcane",
	  "zlevel" : 3
    },
	"tabLabel_3" : {
      "type" : "label",
      "position" : [26, 185],
      "hAnchor" : "left",
      "value" : "^#faa152;Forge of Stars^#ffffff; - Stellar",
	  "zlevel" : 3
    },
	"tabLabel_4" : {
      "type" : "label",
      "position" : [26, 165],
      "hAnchor" : "left",
      "value" : "^#46e3d9;Master Alchemist^#ffffff;",
	  "zlevel" : 3
    },
	"tabLabel_5" : {
      "type" : "label",
      "position" : [26, 145],
      "hAnchor" : "left",
      "value" : "^#d9a13b;Mineral Hoarder^#ffffff;",
	  "zlevel" : 3
    },
	"collectionTabs" : {
		"type" : "radioGroup",
		"callback" : "selectCollection",
		"zlevel" : 2,
		"toggleMode" : false,
		"buttons" : [
			{
				"selected" : false,
				"position" : [8, 220],
				"baseImage" : "/interface/scripted/arcana_collections/tab_weapon_elemental_d.png",
				"baseImageChecked" : "/interface/scripted/arcana_collections/tab_weapon_elemental_s.png",
				"pressedOffset" : [0, 0],
				"data" : "arcana_collection_weapon_elemental"
			},
			{
				"selected" : false,
				"position" : [8, 200],
				"baseImage" : "/interface/scripted/arcana_collections/tab_weapon_elemental_d.png",
				"baseImageChecked" : "/interface/scripted/arcana_collections/tab_weapon_elemental_s.png",
				"pressedOffset" : [0, 0],
				"data" : "arcana_collection_weapon_arcane"
			},
			{
				"selected" : false,
				"position" : [8, 180],
				"baseImage" : "/interface/scripted/arcana_collections/tab_weapon_elemental_d.png",
				"baseImageChecked" : "/interface/scripted/arcana_collections/tab_weapon_elemental_s.png",
				"pressedOffset" : [0, 0],
				"data" : "arcana_collection_weapon_stellar"
			},
			{
				"selected" : false,
				"position" : [8, 160],
				"baseImage" : "/interface/scripted/arcana_collections/tab_essence_d.png",
				"baseImageChecked" : "/interface/scripted/arcana_collections/tab_essence_s.png",
				"pressedOffset" : [0, 0],
				"data" : "arcana_collection_essence"
			},
			{
				"selected" : false,
				"position" : [8, 140],
				"baseImage" : "/interface/scripted/arcana_collections/tab_ore_d.png",
				"baseImageChecked" : "/interface/scripted/arcana_collections/tab_ore_s.png",
				"pressedOffset" : [0, 0],
				"data" : "arcana_collection_mineral"
			}
		]
	},
    "selectLabel" : {
      "type" : "label",
      "position" : [184, 248],
      "hAnchor" : "left",
      "value" : "Collection"
    },
    "emptyLabel" : {
      "type" : "label",
      "position" : [138, 232],
      "hAnchor" : "mid",
      "color" : "gray",
      "value" : ""
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [360, 267]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Arcana Collections",
      "subtitle" : "A library of all your collectibles!",
      "position" : [0, 294],
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/arcana_collections/collectionsicon.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },
    "scrollBG" : {
      "type" : "image",
      "file" : "/interface/scripted/arcana_collections/scroll_bg.png",
      "position" : [169, 25],
      "zlevel" : -5
    },
    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [182, 35, 376, 245],
      "children" : {
        "collectionList" : {
          "type" : "list",
          "callback" : "null",
          "position" : [1, 217],
          "columns" : 3,
          "fillDown" : true,
          "scissoring" : false,
          "schema" : {
            "selectedBG" : "/interface/scripted/arcana_collections/collect_bg.png",
            "unselectedBG" : "/interface/scripted/arcana_collections/collect_bg.png",
            "spacing" : [8, 8],
            "memberSize" : [54, 54],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/scripted/arcana_collections/collect_bg.png",
                "position" : [0, 0],
                "zlevel" : -10
              },
              "icon" : {
                "type" : "image",
                "file" : "",
                "position" : [27, 27],
                "size" : [42, 42],
                "centered" : true,
                "zlevel" : 0
              },
              "border" : {
                "type" : "image",
                "file" : "/interface/scripted/arcana_collections/collect_fg.png",
                "position" : [0, 0],
                "zlevel" : 10
              },
              "index" : {
                "type" : "label",
                "position" : [8, 2],
                "zlevel" : 20,
                "hAnchor" : "mid",
                "color" : "white",
                "value" : ""
              }
            }
          }
        }
      }
    }
  },

  "scriptWidgetCallbacks" : [
    "selectCollection"
  ],

  "tooltipLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/tooltips/racebody.png",
      "fileFooter" : ""
    },
    "title" : {
      "type" : "label",
      "position" : [11, 54],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 220,
      "fontSize" : 12
    },
    "description" : {
      "type" : "label",
      "position" : [11, 38],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 220
    }
  },

  "scripts" : [ "/interface/scripted/arcana_collections/arcana_collections_gui.lua" ],
  "scriptDelta" : 30,

  "iconSize" : [42, 42]
}
