{
  "gui" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/scripted/arcana_atlas/head.png",
      "fileBody" : "/interface/scripted/arcana_atlas/body.png",
      "fileFooter" : "/interface/scripted/arcana_atlas/foot.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [320, 180],
	    "zlevel" : 5
    },
    "lblTitle" : {
      "type" : "label",
      "position" : [50, 187],
      "hAnchor" : "left",
      "fontSize" : 7.2,
      "value" : "^orange;Seeker Atlas^reset;"
    },
    "lblDescription" : {
      "type" : "label",
      "position" : [50, 180],
      "hAnchor" : "left",
      "wrapWidth" : 230,
      "fontSize" : 7.2,
      "value" : "Navigate the galactic map and other Seeker functions."
    },
	  "lbl_level" : {
      "type" : "label",
      "position" : [50, 155],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 196,
      "fontSize" : 7.2,
      "value" : "Seeker Level",
	    "zlevel" : 3
    },
	  "lbl_tech" : {  
      "type" : "label",
      "position" : [50, 127],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 196,
      "fontSize" : 7.2,
      "value" : "Techs",
	  "zlevel" : 3  
    },
	  "lbl_mech" : {
      "type" : "label",
      "position" : [50, 99],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 196,
      "fontSize" : 7.2,
      "value" : "Mech Assembly",
	    "zlevel" : 3
    },
    "lbl_guidebook" : {
      "type" : "label",
      "position" : [50, 71],
      "hAnchor" : "left",
	    "vAnchor" : "top",
	    "wrapWidth" : 196,
	    "fontSize" : 7.2,
      "value" : "Arcana Guidebook",
	    "zlevel" : 3
    },
	  "lbl_map" : {
      "type" : "label",
      "position" : [161, 161],
      "hAnchor" : "left",
	    "vAnchor" : "top",
	    "wrapWidth" : 100,
	    "fontSize" : 7.2,
      "value" : "Galactic Map",
	    "zlevel" : 3
    },
    "levelButton" : {
      "type" : "button",
      "position" : [18, 139],
      "base" : "/interface/scripted/arcana_atlas/level_off.png",
      "hover" : "/interface/scripted/arcana_atlas/level_on.png",
      "pressed" : "/interface/scripted/arcana_atlas/level_on.png",
      "disabledImage" : "/interface/scripted/arcana_atlas/level_off.png",
      "pressedOffset" : [0, 0],
      "callback" : "setWidgetwithPaneDismiss",
	    "zlevel" : 2,
      "data" : "/interface/scripted/arcana_seekerLevel/arcana_seekerLevel.config"
    },
    "techButton" : {
      "type" : "button",
      "position" : [18, 111],
      "base" : "/interface/scripted/arcana_atlas/tech_off.png",
      "hover" : "/interface/scripted/arcana_atlas/tech_on.png",
      "pressed" : "/interface/scripted/arcana_atlas/tech_on.png",
      "disabledImage" : "/interface/scripted/arcana_atlas/tech_off.png",
      "pressedOffset" : [0, 0],
      "callback" : "setWidget",
	    "zlevel" : 2,
      "data" : "/interface/scripted/techupgrade/techupgradegui.config"
    },
    "mechButton" : {
      "type" : "button",
      "position" : [18, 83],
      "base" : "/interface/scripted/arcana_atlas/mech_off.png",
      "hover" : "/interface/scripted/arcana_atlas/mech_on.png",
      "pressed" : "/interface/scripted/arcana_atlas/mech_on.png",
      "disabledImage" : "/interface/scripted/arcana_atlas/mech_off.png",
      "pressedOffset" : [0, 0],
      "callback" : "setWidget",
	    "zlevel" : 2,
      "data" : "/interface/scripted/mechassembly/mechassemblygui.config"
    },
    "guidebookButton" : {
      "type" : "button",
      "position" : [18, 55],
      "base" : "/interface/scripted/arcana_atlas/guidebook_off.png",
      "hover" : "/interface/scripted/arcana_atlas/guidebook_on.png",
      "pressed" : "/interface/scripted/arcana_atlas/guidebook_on.png",
      "disabledImage" : "/interface/scripted/arcana_atlas/guidebook_off.png",
      "pressedOffset" : [0, 0],
      "callback" : "setWidget",
	    "zlevel" : 2,
      "data" : "/interface/scripted/arcana_books/arcana_guideBook.config"
    },
    "mapButton" : {
      "type" : "button",
      "position" : [154, 27],
      "base" : "/interface/scripted/arcana_atlas/map_off.png",
      "hover" : "/interface/scripted/arcana_atlas/map_on.png",
      "pressed" : "/interface/scripted/arcana_atlas/map_on.png",
      "disabledImage" : "/interface/scripted/arcana_atlas/map_off.png",
      "pressedOffset" : [0, 0],
      "callback" : "setWidgetwithPaneDismiss",
	    "zlevel" : 2,
      "data" : "/interface/scripted/arcana_galacticAtlas/arcana_galacticAtlas.config"
    }
  },
  
  "scriptWidgetCallbacks" : [
    "setWidget",
    "setWidgetwithPaneDismiss"
  ],
  
  "tooltipLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/tooltips/racebody.png",
      "fileFooter" : ""
    },
    "title" : {
      "type" : "label",
      "position" : [11, 54],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 220,
      "fontSize" : 12
    },
    "description" : {
      "type" : "label",
      "position" : [11, 38],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 220
    }
  },
  
  "scripts" : [ "/interface/scripted/arcana_atlas/arcana_atlas.lua" ],
  "scriptDelta" : 30
}
