{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/songbook/header.png",
      "fileBody" : "/interface/songbook/body_blank.png",
      "fileFooter" : "/interface/songbook/footer.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [143, 252]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Musicbox",
      "subtitle" : "^#b9b5b2;All of Arcana's music!",
      "position" : [0, 254],
      "icon" : {
        "type" : "image",
        "file" : "/interface/songbook/iconSongbook.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/songbook/shine.png",
      "position" : [0, -10],
      "zlevel" : -10
    },
    "scrollBG" : {
      "type" : "image",
      "file" : "/interface/songbook/scrollbg.png",
      "position" : [2, 29],
      "zlevel" : -5
    },
    "lblSong" : {
      "type" : "label",
      "position" : [77, 235],
      "hAnchor" : "mid",
      "value" : "Choose a song",
      "color" : [127, 127, 127]
    },
    "songs" : {
      "type" : "scrollArea",
      "rect" : [5, 93, 155, 223],
      "children" : {
        "list" : {
          "type" : "list",
		  "callback" : "select",
          "schema" : {
            "selectedBG" : "/interface/songbook/songselected.png",
            "unselectedBG" : "/interface/songbook/songbackground.png",
            "spacing" : [0, 1],
            "memberSize" : [142, 9],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/songbook/songbackground.png",
                "position" : [0, 0],
                "zlevel" : -1
              },
              "songName" : {
                "type" : "label",
                "position" : [2, 0],
                "hAnchor" : "left",
                "width" : 138,
                "value" : "Replace Me"
              }
            }
          }
        }
      }
    },
    "btnPlay" : {
      "type" : "button",
	  "callback" : "play",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [20, 28],
      "caption" : "Play"
    },
    "btnStop" : {
      "type" : "button",
	  "callback" : "stop",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [80, 28],
      "caption" : "Stop"
    }
  },
  
  "scriptWidgetCallbacks" : [
    "select",
    "play",
	"stop"
  ],

  "scripts" : ["/interface/scripted/arcana_musicbox/arcana_musicbox.lua"],
  "scriptDelta" : 40
}
