{
  "music" : [
	{ "name" : "04 Thetis", "filename" : "04-thetis" },
	{ "name" : "Aeon", "filename" : "aeon" },
	{ "name" : "Atsu", "filename" : "Atsu" },
	{ "name" : "At The Restaurant", "filename" : "at-the-restaurant" },
	{ "name" : "Auric", "filename" : "auric" },
	{ "name" : "Azure", "filename" : "Azure" },
	{ "name" : "Bright Blue Fog", "filename" : "bright-blue-fog" },
	{ "name" : "By The Fireplace", "filename" : "by-the-fireplace" },
	{ "name" : "Cinders", "filename" : "cinders" },
	{ "name" : "Distortion", "filename" : "distortion" },
	{ "name" : "Drift Far", "filename" : "drift-far" },
	{ "name" : "Electromadness", "filename" : "electromadness" },
	{ "name" : "Elegy of The Star", "filename" : "elegy-of-the-star" },
	{ "name" : "Ever So Friendly", "filename" : "Ever_So_Friendly" },
	{ "name" : "Frozen in Time", "filename" : "frozen-in-time" },
	{ "name" : "Gallyri Islands", "filename" : "gallyri-islands" },
	{ "name" : "Catharsis", "filename" : "Jon-Shuemaker-Catharsis" },
	{ "name" : "Ophelia", "filename" : "ophelia" },
	{ "name" : "Outside The Citadel", "filename" : "outisde-the-citadel" },
	{ "name" : "Over The Spring Horizon", "filename" : "over-the-spring-horizon" },
	{ "name" : "Pedal to The Metal", "filename" : "pedal-to-the-metal" },
	{ "name" : "Permafrost", "filename" : "permafrost" },
	{ "name" : "Metropolis", "filename" : "Six-Umbrellas-Metropolis" },
	{ "name" : "Moonshine", "filename" : "Johan-Vandegriff-moonshine" },
	{ "name" : "Space Explorer", "filename" : "space-explorer" },
	{ "name" : "Summerrain Part B", "filename" : "summerrain-part-b" },
	{ "name" : "Surface", "filename" : "surface" },
	{ "name" : "Tenacity", "filename" : "tenacity" },
	{ "name" : "Tick Tock", "filename" : "Tick_Tock" },
	{ "name" : "Tides of The Serpent", "filename" : "tidesoftheserpent" },
	{ "name" : "Time Will Show", "filename" : "time-will-show" },
	{ "name" : "Vizaydn Circle", "filename" : "Vizaydn_Circle_Extended" },
	{ "name" : "Voyager", "filename" : "voyager" },
	{ "name" : "Woodland Trance", "filename" : "woodland-trance" }
  ]
}
