{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/arcana_lockedDoor/header.png",
      "fileBody" : "/interface/scripted/arcana_lockedDoor/body.png",
      "fileFooter" : "/interface/scripted/arcana_lockedDoor/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : "Locked Door",
      "subtitle" : "Unlock with key items.",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/arcana_lockedDoor/coreicon.png",
        "zlevel" : -1
      }
    },
    "activateButton" : {
      "type" : "button",
      "position" : [45, 30],
      "base" : "/interface/scripted/arcana_lockedDoor/activate.png:active",
      "hover" : "/interface/scripted/arcana_lockedDoor/activate.png:inactive",
      "pressed" : "/interface/scripted/arcana_lockedDoor/activate.png:active",
      "disabledImage" : "/interface/scripted/arcana_lockedDoor/activate.png:disabled",
      "pressedOffset" : [0, 0],
      "callback" : "activate"
    },

    "costDescription" : {
      "type" : "label",
      "position" : [96, 68],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "color" : "cyan",
      "value" : "REQUIRED ITEMS"
    },
    "costLabel" : {
      "type" : "label",
      "position" : [96, 59],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "value" : "0 / --"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [161, 100]
    },
	
	"itemImage" : {
      "type" : "image",
	  "file" : "/interface/scripted/arcana_lockedDoor/placeholder.png",
      "position" : [35, 61]
    }
  },

  "scriptWidgetCallbacks" : [
    "activate"
  ],

  "scripts" : ["/interface/scripted/arcana_lockedDoor/arcana_lockedDoor.lua"],
  "scriptDelta" : 30,

  "itemImagePath" : "/interface/scripted/arcana_lockedDoor/placeholder.png",
  "activateItem" : "corefragmentore",
  "requiredCount" : 20
}
