{
  "gui" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/scripted/arcana_galacticAtlas/head.png",
      "fileBody" : "/interface/scripted/arcana_galacticAtlas/body.png",
      "fileFooter" : "/interface/scripted/arcana_galacticAtlas/foot.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/arcana_x.png",
      "hover" : "/interface/arcana_xhover.png",
      "pressed" : "/interface/arcana_x.png?brightness=20",
      "pressedOffset" : [0, 0],
      "position" : [192, 189],
	  "zlevel" : 5
    },
    "lblTitle" : {
      "type" : "label",
      "position" : [100, 188],
	  "hAnchor" : "left",
      "value" : "^shadow;Galactic Map^reset;"
    },
    "lblDescription" : {
      "type" : "label",
      "position" : [100, 180],
	  "hAnchor" : "mid",
	  "wrapWidth" : 168,
	  "fontSize" : 7.2,
      "value" : " "
    },
	"locationArea" : {
	  "type": "scrollArea",
	  "zlevel": 1,
	  "rect": [
		5,
		18,
		200,
		184
	  ],
	  "children" : {
		"locationList" : {
		  "type" : "list",
		  "callback" : "selectLocation",
		  "position" : [0, 217],
		  "columns" : 1,
		  "fillDown" : true,
		  "scissoring" : false,
		  "schema" : {
			"spacing" : [1, 1],
			"memberSize" : [182, 32],
			"listTemplate" : {
			  "preview" : {
				"type" : "image",
				"file" : "/interface/scripted/arcana_galacticAtlas/backgrounds/default.png",
				"position" : [0, 0],
				"zlevel" : 1
			  },
			  "top" : {
				"type" : "image",
				"file" : "/interface/scripted/arcana_galacticAtlas/backgrounds/top.png",
				"position" : [0, 0],
				"zlevel" : 2
			  },
			  "icon" : {
				"type" : "image",
				"file" : "/interface/scripted/arcana_galacticAtlas/icons/default.png",
				"position" : [8, 8],
				"zlevel" : 3
			  },
			  "lock" : {
				"type" : "image",
				"file" : "/interface/scripted/arcana_galacticAtlas/icons/lock.png",
				"position" : [30, 16],
				"zlevel" : 3
			  },
			  "name" : {
				"type" : "label",
				"position" : [70, 10],
				"hAnchor" : "left",
				"vAnchor" : "top",
				"wrapWidth" : 100,
				"fontSize" : 7.2,
				"color" : "white",
				"value" : "Replace Me",
				"zlevel" : 4
			  },
			  "questName" : {
				"type" : "label",
				"position" : [40, 24],
				"hAnchor" : "left",
				"vAnchor" : "top",
				"wrapWidth" : 100,
				"fontSize" : 7.2,
				"color" : "white",
				"value" : "",
				"zlevel" : 4
			  }
			}
		  }
		}
	  }
	},
  "activateButton" : {
    "type" : "button",
    "position" : [134, 3],
    "base" : "/interface/button.png",
	"disabledImage" : "/interface/button.png?brightness=-50",
	"pressed" : "/interface/button.png?brightness=20",
    "hover" : "/interface/buttonhover.png",
    "caption" : "Teleport",
    "pressedOffset" : [0, 0],
    "callback" : "teleport",
    "zlevel" : 6
  },

  "beamToShipButton" : {
    "type" : "button",
    "position" : [79, 3],
    "base" : "/interface/button.png",
	"disabledImage" : "/interface/button.png?brightness=-50",
	"pressed" : "/interface/button.png?brightness=20",
    "hover" : "/interface/buttonhover.png",
    "caption" : "Beam Up",
    "pressedOffset" : [0, 0],
    "callback" : "teleportToShip",
    "zlevel" : 6
  }
	
  },
  
  "scriptWidgetCallbacks" : [
    "selectLocation",
    "teleport",
    "teleportToShip"
  ],
  
  "tooltipLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/tooltips/racebody.png",
      "fileFooter" : ""
    },
    "title" : {
      "type" : "label",
      "position" : [11, 54],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 220,
      "fontSize" : 12
    },
    "description" : {
      "type" : "label",
      "position" : [11, 38],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 220
    }
  },
  
  "scripts" : [ "/interface/scripted/arcana_galacticAtlas/arcana_galacticAtlas.lua" ],
  "scriptDelta" : 30
}
