{
  "locations" : [
	{
	  "name" : "Lighthaven",
	  "icon" : "/interface/scripted/arcana_galacticAtlas/icons/lighthaven.png",
	  "background" : "/interface/scripted/arcana_galacticAtlas/backgrounds/lighthaven.png",
	  "warp" : "arcana_dungeon_lighthaven",
	  "requiredQuest" : "none",
	  "requiredQuestName" : "",
	  "requiredHidden" : false,
	  "order" : 1
	},
	{
	  "name" : "Nova Station",
	  "icon" : "/interface/scripted/arcana_galacticAtlas/icons/nova.png",
	  "background" : "/interface/scripted/arcana_galacticAtlas/backgrounds/nova.png",
	  "warp" : "arcana_dungeon_novaStation_1",
	  "requiredQuest" : "none",
	  "requiredQuestName" : "",
	  "requiredHidden" : false,
	  "order" : 2
	},
	{
	  "name" : "Astral Observatory",
	  "icon" : "/interface/scripted/arcana_galacticAtlas/icons/observatory.png",
	  "background" : "/interface/scripted/arcana_galacticAtlas/backgrounds/observatory.png",
	  "warp" : "arcana_dungeon_astralObservatory",
	  "requiredQuest" : "none",
	  "requiredQuestName" : "",
	  "requiredHidden" : false,
	  "order" : 3
	},
	{
	  "name" : "Zhushi Pond",
	  "icon" : "/interface/scripted/arcana_galacticAtlas/icons/pond.png",
	  "background" : "/interface/scripted/arcana_galacticAtlas/backgrounds/pond.png",
	  "warp" : "arcana_dungeon_zhushiPond",
	  "requiredQuest" : "none",
	  "requiredQuestName" : "",
	  "requiredHidden" : false,
	  "order" : 4
	}
  ]
}
