{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "arcana_explosion_fire_1"
    },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/smoke/smoke.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 0.6,
                "variance" : {
                  "position" : [1.5, 1.5],
                  "initialVelocity" : [1, 1],
                  "timeToLive" : 0.15,
                  "rotation" : 180
                }
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/arcana_animation_flame_medium_solar/arcana_animation_flame_medium_solar.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 0.6,
                "variance" : {
                  "position" : [1.5, 1.5],
                  "initialVelocity" : [1, 1],
                  "timeToLive" : 0.15,
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/arcana_animation_flame_small_solar/arcana_animation_flame_small_solar.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 0.6,
                "variance" : {
                  "position" : [1.5, 1.5],
                  "initialVelocity" : [1, 1],
                  "timeToLive" : 0.15,
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/plasma3.ogg" ]
    },
    {
      "action" : "light",
      "color" : "orange"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 3,
      "explosiveDamageAmount" : 0.2,
      "delaySteps" : 2
    }

  ]
}
