{
  "1" : [
    { "stat" : "maxHealth", "amount" : 10 }
  ],
  "2" : [
    { "stat" : "maxHealth", "amount" : 20 }
  ],
  "3" : [
    { "stat" : "maxHealth", "amount" : 20 }
  ],
  "4" : [
    { "stat" : "maxHealth", "amount" : 10 },
    { "stat" : "maxEnergy", "amount" : 20 }
  ],
  "5" : [
    { "stat" : "maxHealth", "amount" : 10 }
  ],
  "6" : [
    { "stat" : "maxHealth", "amount" : 10 },
    { "stat" : "powerMultiplier", "amount" : 0.1 }
  ],
  "7" : [
    { "stat" : "maxHealth", "amount" : 10 }
  ],
  "8" : [
    { "stat" : "maxHealth", "amount" : 10 },
    { "stat" : "powerMultiplier", "amount" : 0.1 }
  ]
}