{
  "critDamage" : {
    "type" : "direct",
    "stat" : "arcana_critDamageMultiplier",
	"statConversion" : "multiplier",
	"statType" : "effectiveMultiplier",
	"tag" : ""
  },
  "meleeDamage" : {
    "type" : "tag",
    "stat" : "powerMultiplier",
	"statConversion" : "multiplier",
	"statType" : "effectiveMultiplier",
	"tag" : "melee"
  },
  "rangedDamage" : {
    "type" : "tag",
    "stat" : "powerMultiplier",
	"statConversion" : "multiplier",
	"statType" : "effectiveMultiplier",
	"tag" : "ranged"
  },
  "magicDamage" : {
    "type" : "tag",
    "stat" : "powerMultiplier",
	"statConversion" : "multiplier",
	"statType" : "effectiveMultiplier",
	"tag" : "staff"
  },
  "maxHealth" : {
    "type" : "direct",
    "stat" : "maxHealth",
	"statConversion" : "none",
	"statType" : "amount",
	"tag" : ""
  },
  "maxEnergy" : {
    "type" : "direct",
    "stat" : "maxEnergy",
	"statConversion" : "none",
	"statType" : "amount",
	"tag" : ""
  },
  "fireResistance" : {
    "type" : "direct",
    "stat" : "fireResistance",
	"statConversion" : "res",
	"statType" : "amount",
	"tag" : ""
  },
  "iceResistance" : {
    "type" : "direct",
    "stat" : "iceResistance",
	"statConversion" : "res",
	"statType" : "amount",
	"tag" : ""
  },
  "electricResistance" : {
    "type" : "direct",
    "stat" : "electricResistance",
	"statConversion" : "res",
	"statType" : "amount",
	"tag" : ""
  },
  "poisonResistance" : {
    "type" : "direct",
    "stat" : "poisonResistance",
	"statConversion" : "res",
	"statType" : "amount",
	"tag" : ""
  }
}