{
  // distribute effect that matches string in "vanilla" or "modded",
  // or if the name starts with anything in "wildcards.startsWith"
  // or if the name ends with anything in "wildcards.endsWith".
  // For other mods to allow their effects to be distributed,
  // create a patch to this file, adding to "/modded/-" a name string.
  // Can also add to wildcards, but it's slightly worse

  "vanilla" : [
    "rageaugment1",
    "rageaugment2",
    "rageaugment3",
    "electricblockaugment",
    "maxenergyboostaugment1",
    "maxenergyboostaugment2",
    "maxenergyboostaugment3",
    "fireblockaugment",
    "lowgravaugment",
    "regenerationaugment1",
    "regenerationaugment2",
    "regenerationaugment3",
    "maxhealthboostaugment1",
    "maxhealthboostaugment2",
    "maxhealthboostaugment3",
    "iceblockaugment",
    "jumpboostaugment",
    "lightaugment1",
    "lightaugment2",
    "lightaugment3",
    "runboostaugment",
    "peacekeeperaugment1",
    "peacekeeperaugment2",
    "peacekeeperaugment3",
    "poisonblockaugment",
    "swimboost",
    "thornsaugment"
  ],
  "modded" : [],
  "wildcards" : {
    "startsWith" : [],
    "endsWith" : [ "_aug" ]
  }
}