{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "arcana_smokeexplosion"
    },
    {
      "action" : "loop",
      "count" : 10,
      "body" : [
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "light",
      "color" : "orange"
    }
  ]
}
