{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.6,
      "type" : "arcana_explosion_scytheabyss"
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.4,
      "type" : "arcana_scythebutterflyabyss",
	  "fuzzAngle" : 360
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.4,
      "type" : "arcana_scythebutterflyabyss",
	  "fuzzAngle" : 360
    },
    {
      "action" : "loop",
      "count" : 15,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "ember",
                "size" : 1.0,
                "color" : [39, 11, 157, 255],
                "destructionAction" : "shrink",
                "destructionTime" : 1.0,
                "initialVelocity" : [0, 0],
                "finalVelocity" : [0, 0],
                "approach" : [10, 10],
                "timeToLive" : 0.2,
                "layer" : "back",
                "variance" : {
                  "position" : [3, 3],
                  "initialVelocity" : [10, 10]
                }
              }
            }
          ]
        },
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "ember",
                "size" : 1.0,
                "color" : [69, 21, 197, 255],
                "destructionAction" : "shrink",
                "destructionTime" : 1.0,
                "initialVelocity" : [0, 0],
                "finalVelocity" : [0, 0],
                "approach" : [10, 10],
                "timeToLive" : 0.2,
                "layer" : "back",
                "variance" : {
                  "position" : [3, 3],
                  "initialVelocity" : [10, 10]
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/plasma3.ogg" ]
    }
  ]
}
