{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "arcana_explosion_plasma_1_yellow"
    },
    {
      "action" : "loop",
      "count" : 15,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "ember",
                "size" : 1.0,
                "color" : [190, 170, 100, 255],
                "destructionAction" : "fade",
                "destructionTime" : 1.0,
                "initialVelocity" : [0, 0],
                "finalVelocity" : [0, 0],
                "approach" : [10, 10],
                "timeToLive" : 0.2,
                "layer" : "back",
                "variance" : {
                  "position" : [3, 3],
                  "initialVelocity" : [10, 10],
                  "size" : 0.6
                }
              }
            }
          ]
        },
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "ember",
                "size" : 0.8,
                "color" : [140, 130, 80, 255],
                "destructionAction" : "fade",
                "destructionTime" : 1.0,
                "initialVelocity" : [0, 0],
                "finalVelocity" : [0, 0],
                "approach" : [10, 10],
                "timeToLive" : 0.2,
                "layer" : "back",
                "variance" : {
                  "position" : [3, 3],
                  "initialVelocity" : [10, 10],
                  "size" : 0.4
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/plasma3.ogg" ]
    },
    {
      "action" : "light",
      "color" : "yellow"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 4,
      "explosiveDamageAmount" : 0,
      "delaySteps" : 2
    }

  ]
}
