{
  "gui" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/scripted/arcana_seekerLevel/head.png",
      "fileBody" : "/interface/scripted/arcana_seekerLevel/body.png",
      "fileFooter" : "/interface/scripted/arcana_seekerLevel/foot.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [330, 180],
	  "zlevel" : 5
    },
    "lblTitle" : {
      "type" : "label",
      "position" : [50, 187],
	  "hAnchor" : "left",
	  "fontSize" : 7.2,
      "value" : "^orange;Seeker Level^reset;"
    },
    "lblDescription" : {
      "type" : "label",
      "position" : [50, 180],
	  "hAnchor" : "left",
	  "wrapWidth" : 230,
	  "fontSize" : 7.2,
      "value" : "Increase your seeker level to gain stat boosts."
    },
    "lblDescription2" : {
      "type" : "label",
      "position" : [30, 108],
	  "hAnchor" : "left",
	  "wrapWidth" : 105,
	  "fontSize" : 7.2,
      "value" : "Your Seeker level can be increased with ^orange;elemental hearts^reset;, which can be found in different types of underground shrines."
    },
	"lbl_stathealth" : {
      "type" : "label",
      "position" : [177, 155],
      "hAnchor" : "left",
	  "vAnchor" : "top",
	  "wrapWidth" : 80,
      "value" : "+99",
	  "zlevel" : 3
    },
	"lbl_statenergy" : {
      "type" : "label",
      "position" : [241, 155],
      "hAnchor" : "left",
	  "vAnchor" : "top",
	  "wrapWidth" : 80,
      "value" : "+99",
	  "zlevel" : 3
    },
	"lbl_statpower" : {
      "type" : "label",
      "position" : [305, 155],
      "hAnchor" : "left",
	  "vAnchor" : "top",
	  "wrapWidth" : 80,
      "value" : "+99",
	  "zlevel" : 3
    },

	"lbl_upgrade" : {
      "type" : "label",
      "position" : [57, 67],
      "hAnchor" : "left",
	  "vAnchor" : "top",
	  "wrapWidth" : 100,
	  "fontSize" : 7.2,
      "value" : "^orange;Max level reached!^reset;",
	  "zlevel" : 3
    },
	"lbl_heartamount" : {
      "type" : "label",
      "position" : [79, 67],
      "hAnchor" : "left",
	  "vAnchor" : "top",
	  "wrapWidth" : 61,
	  "fontSize" : 7.2,
      "value" : "6",
	  "zlevel" : 3
    },
    "resetButton" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
	  "pressed" : "/interface/buttonactive.png",
      "position" : [292, 9],
      "caption" : "Reset Level",
      "callback" : "resetLevel",
	  "zlevel" : 2
    },
    "upgradeButton" : {
      "type" : "button",
      "position" : [37, 31],
      "base" : "/interface/scripted/arcana_seekerLevel/tech_on.png",
      "hover" : "/interface/scripted/arcana_seekerLevel/tech_hover.png",
      "pressed" : "/interface/scripted/arcana_seekerLevel/tech_pressed.png",
      "disabledImage" : "/interface/scripted/arcana_seekerLevel/tech_off.png",
      "pressedOffset" : [0, 0],
      "callback" : "upgrade",
	  "zlevel" : 2
    },
	
    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [157, 34, 348, 143],
      "children" : {
        "collectionList" : {
          "type" : "list",
          "callback" : "null",
          "position" : [9, 90],
          "columns" : 1,
          "fillDown" : true,
          "scissoring" : false,
          "schema" : {
            "selectedBG" : "/interface/tooltips/levelbg.png",
            "unselectedBG" : "/interface/tooltips/levelbg.png",
            "spacing" : [0, 2],
            "memberSize" : [181, 16],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/tooltips/levelbg.png",
                "position" : [0, 0],
                "zlevel" : -10
              },
              "border" : {
                "type" : "image",
                "file" : "/interface/tooltips/levelbg_on.png",
                "position" : [0, 0],
                "zlevel" : 10
              },
			  "index" : {
			    "type" : "label",
			    "position" : [8, 9],
			    "hAnchor" : "left",
			    "vAnchor" : "top",
			    "wrapWidth" : 170,
			    "fontSize" : 7.2,
                "zlevel" : 20
			  },
			  "description" : {
			    "type" : "label",
			    "position" : [41, 9],
			    "hAnchor" : "left",
			    "vAnchor" : "top",
			    "wrapWidth" : 180,
			    "fontSize" : 7.2,
                "zlevel" : 20
			  }
            }
          }
        }
      }
    }
  },
  
  "scriptWidgetCallbacks" : [
    "resetLevel",
    "upgrade"
  ],
  
  "tooltipLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/tooltips/levelbg.png",
      "fileFooter" : ""
    },
    "title" : {
      "type" : "label",
      "position" : [8, 9],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 170,
      "fontSize" : 7.2
    },
    "description" : {
      "type" : "label",
      "position" : [42, 9],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 170,
      "fontSize" : 7.2
    }
  },
  
  "scripts" : [ "/interface/scripted/arcana_seekerLevel/arcana_seekerLevel.lua" ],
  "scriptDelta" : 30
}
