{
  "recipes" : {
    "liquidlava" : {
      "input" : { "name" : "liquidlava", "count" : 1 },
      "output" : [
		{"weight":1.0,"item":{ "name" : "arcana_essence_fireEssence", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "corefragmentore", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "ironore", "count" : 1 }}
	  ]
	},
    "liquidmilk" : {
      "input" : { "name" : "liquidmilk", "count" : 1 },
      "output" : [
		{"weight":1.0,"item":{ "name" : "liquidhealing", "count" : 1 }},
		{"weight":1.0,"item":{ "name" : "liquidwater", "count" : 1 }}
	  ]
	},
    "swampwater" : {
      "input" : { "name" : "swampwater", "count" : 1 },
      "output" : [
		{"weight":1.0,"item":{ "name" : "liquidpoison", "count" : 1 }},
		{"weight":0.4,"item":{ "name" : "liquidwater", "count" : 1 }},
		{"weight":0.4,"item":{ "name" : "plantfibre", "count" : 1 }}
	  ]
	},
    "liquidpoison" : {
      "input" : { "name" : "liquidpoison", "count" : 1 },
      "output" : [
		{"weight":1.0,"item":{ "name" : "arcana_essence_poisonEssence", "count" : 1 }},
		{"weight":1.0,"item":{ "name" : "liquidwater", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "biosample", "count" : 1 }}
	  ]
	},
    "liquidfuel" : {
      "input" : { "name" : "liquidfuel", "count" : 1 },
      "output" : [
		{"weight":0.8,"item":{ "name" : "arcana_essence_electricEssence", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_essence_iceEssence", "count" : 1 }},
		{"weight":1.0,"item":{ "name" : "liquidwater", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "solidfuel", "count" : 1 }}
	  ]
	},
    "arcana_liquid_neonWater" : {
      "input" : { "name" : "arcana_liquid_neonWater", "count" : 1 },
      "output" : [
		{"weight":1.0,"item":{ "name" : "arcana_essence_electricEssence", "count" : 1 }},
		{"weight":1.0,"item":{ "name" : "liquidwater", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_thoriumOre", "count" : 1 }}
	  ]
	},
    "arcana_liquid_viridescentAcid" : {
      "input" : { "name" : "arcana_liquid_viridescentAcid", "count" : 1 },
      "output" : [
		{"weight":1.0,"item":{ "name" : "liquidpoison", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "biosample", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_corrodiumOre", "count" : 1 }}
	  ]
	},
    "arcana_liquid_arcaneWater" : {
      "input" : { "name" : "arcana_liquid_arcaneWater", "count" : 1 },
      "output" : [
		{"weight":1.0,"item":{ "name" : "liquidwater", "count" : 1 }},
		{"weight":1.0,"item":{ "name" : "arcana_misc_magifluxExtract", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_arcaniumOre", "count" : 1 }}
	  ]
	},
    "liquidhealing" : {
      "input" : { "name" : "liquidhealing", "count" : 1 },
      "output" : [
		{"weight":1.0,"item":{ "name" : "liquidwater", "count" : 1 }},
		{"weight":0.8,"item":{ "name" : "arcana_misc_magifluxExtract", "count" : 1 }}
	  ]
	},
    "arcana_liquid_illuminatedWater" : {
      "input" : { "name" : "arcana_liquid_illuminatedWater", "count" : 1 },
      "output" : [
		{"weight":1.0,"item":{ "name" : "liquidwater", "count" : 1 }},
		{"weight":0.4,"item":{ "name" : "arcana_misc_darklightResin", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_essence_iceEssence", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_holosiumFragment", "count" : 1 }}
	  ]
	},
    "arcana_liquid_ruinousWater" : {
      "input" : { "name" : "arcana_liquid_ruinousWater", "count" : 1 },
      "output" : [
		{"weight":0.8,"item":{ "name" : "liquidwater", "count" : 1 }},
		{"weight":0.6,"item":{ "name" : "arcana_misc_darklightResin", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_essence_iceEssence", "count" : 1 }},
		{"weight":0.2,"item":{ "name" : "arcana_ore_necroiumFragment", "count" : 1 }}
	  ]
	}
  },
  "craftingTime" : 1.4,
  "outputTime" : 0.7,
  "outputRate" : 1
}
