{
  "pieces" : {
    "H" : {
      "textureSize" : [16, 16],
      "texturePosition" : [0, 0],
      "colorStride" : [0, 16],
      "variantStride" : [80, 0]
    },
    "V" : {
      "textureSize" : [16, 16],
      "texturePosition" : [16, 0],
      "colorStride" : [0, 16],
      "variantStride" : [80, 0]
    },
    "DD" : {
      "textureSize" : [16, 16],
      "texturePosition" : [32, 0],
      "colorStride" : [0, 16],
      "variantStride" : [80, 0]
    },
    "DU" : {
      "textureSize" : [16, 16],
      "texturePosition" : [48, 0],
      "colorStride" : [0, 16],
      "variantStride" : [80, 0]
    },
    "C" : {
      "textureSize" : [16, 16],
      "texturePosition" : [64, 0],
      "colorStride" : [0, 16],
      "variantStride" : [80, 0]
    },
    "L" : {
      "textureSize" : [8, 16],
      "texturePosition" : [0, 0],
      "colorStride" : [0, 16],
      "variantStride" : [80, 0]
    },
    "R" : {
      "textureSize" : [8, 16],
      "texturePosition" : [8, 0],
      "colorStride" : [0, 16],
      "variantStride" : [80, 0]
    },
    "T" : {
      "textureSize" : [16, 8],
      "texturePosition" : [16, 0],
      "colorStride" : [0, 16],
      "variantStride" : [80, 0]
    },
    "B" : {
      "textureSize" : [16, 8],
      "texturePosition" : [16, 8],
      "colorStride" : [0, 16],
      "variantStride" : [80, 0]
    },
    "TL" : {
      "textureSize" : [10, 8],
      "texturePosition" : [32, 0],
      "colorStride" : [0, 16],
      "variantStride" : [80, 0]
    },
    "BR" : {
      "textureSize" : [8, 8],
      "texturePosition" : [40, 8],
      "colorStride" : [0, 16],
      "variantStride" : [80, 0]
    },
    "BL" : {
      "textureSize" : [8, 8],
      "texturePosition" : [48, 8],
      "colorStride" : [0, 16],
      "variantStride" : [80, 0]
    },
    "TR" : {
      "textureSize" : [10, 8],
      "texturePosition" : [54, 0],
      "colorStride" : [0, 16],
      "variantStride" : [80, 0]
    },

    "icon" : {
      "textureSize" : [8, 8],
      "texturePosition" : [4, 4],
      "colorStride" : [0, 16],
      "variantStride" : [80, 0]
    }
  },

  "representativePiece": "icon",

  "rules" : {
    "IsRail" : {
      "join" : "any",
      "entries" : [
        {
          "type" : "EqualsSelf"
        }
      ]
    },
    "NotRail" : {
      "join" : "all",
      "entries" : [
        {
          "type" : "EqualsSelf",
          "inverse" : true
        }
      ]
    }
  },

  "matches" : [
    ["main", [
      // horizontal
      {
        "matchAllPoints" : [
          [[-1, 1], "NotRail"],
          [[0, 1], "NotRail"],
          [[1, 1], "NotRail"],
          [[-1, -1], "NotRail"],
          [[0, -1], "NotRail"],
          [[1, -1], "NotRail"]
        ],
        "haltOnMatch" : true,
        "pieces" : [["H", [-4, -4]]]
      },

      {
        "matchAllPoints" : [
          [[-1, 0], "IsRail"],
          [[1, 0], "IsRail"],
          [[0, 1], "NotRail"],
          [[0, -1], "NotRail"]
        ],
        "haltOnMatch" : true,
        "pieces" : [["H", [-4, -4]]]
      },

      // vertical
      {
        "matchAllPoints" : [
          [[1, 1], "NotRail"],
          [[1, 0], "NotRail"],
          [[1, -1], "NotRail"],
          [[-1, 1], "NotRail"],
          [[-1, 0], "NotRail"],
          [[-1, -1], "NotRail"]
        ],
        "haltOnMatch" : true,
        "pieces" : [["V", [-4, -4]]]
      },

      {
        "matchAllPoints" : [
          [[-1, 0], "NotRail"],
          [[1, 0], "NotRail"],
          [[0, 1], "IsRail"],
          [[0, -1], "IsRail"]
        ],
        "haltOnMatch" : true,
        "pieces" : [["V", [-4, -4]]]
      },

      // diagonal down
      {
        "matchAllPoints" : [
          [[1, 1], "NotRail"],
          [[0, 1], "NotRail"],
          [[1, 0], "NotRail"],
          [[-1, -1], "NotRail"],
          [[-1, 0], "NotRail"],
          [[0, -1], "NotRail"]
        ],
        "haltOnMatch" : true,
        "pieces" : [["DD", [-4, -4]]]
      },

      // diagonal up
      {
        "matchAllPoints" : [
          [[1, -1], "NotRail"],
          [[0, 1], "NotRail"],
          [[1, 0], "NotRail"],
          [[-1, 1], "NotRail"],
          [[-1, 0], "NotRail"],
          [[0, -1], "NotRail"]
        ],
        "haltOnMatch" : true,
        "pieces" : [["DU", [-4, -4]]]
      },

      // junction connectors
      {
        "subMatches" : [
          {
            "matchAllPoints" : [[[-1, 0], "IsRail"]],
            "pieces" : [["L", [-4, -4]]]
          },
          {
            "matchAllPoints" : [[[1, 0], "IsRail"]],
            "pieces" : [["R", [4, -4]]]
          },
          {
            "matchAllPoints" : [[[0, 1], "IsRail"]],
            "pieces" : [["T", [-4, 4]]]
          },
          {
            "matchAllPoints" : [[[0, -1], "IsRail"]],
            "pieces" : [["B", [-4, -4]]]
          },
          {
            "matchAllPoints" : [
              [[-1, -1], "IsRail"],
              [[0, -1], "NotRail"],
              [[-1, 0], "NotRail"]
            ],
            "pieces" : [["BL", [-4, -4]]]
          },
          {
            "matchAllPoints" : [
              [[1, -1], "IsRail"],
              [[0, -1], "NotRail"],
              [[1, 0], "NotRail"]
            ],
            "pieces" : [["BR", [4, -4]]]
          },
          {
            "matchAllPoints" : [
              [[-1, 1], "IsRail"],
              [[0, 1], "NotRail"],
              [[-1, 0], "NotRail"]
            ],
            "pieces" : [["TL", [-4, 4]]]
          },
          {
            "matchAllPoints" : [
              [[1, 1], "IsRail"],
              [[0, 1], "NotRail"],
              [[1, 0], "NotRail"]
            ],
            "pieces" : [["TR", [2, 4]]]
          }
        ]
      },

      // junction core (this goes last to render on top)
      {
        "pieces" : [["C", [-4, -4]]]
      }
    ]]
  ]
}
