{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "arcana_boss_terminusReaper_4_explosion2"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/grenadeblast_small_electric1.ogg", "/sfx/gun/grenadeblast_small_electric2.ogg", "/sfx/gun/grenadeblast_small_electric3.ogg" ]
    },
    {
      "action" : "light",
      "color" : "orange"
    }
  ]
}
