{
	"gui": {
		"background": {
			"type": "background",
			"fileHeader": "/interface/scripted/arcana_bag/bag_header.png",
			"fileBody": "/interface/scripted/arcana_bag/bag_body.png",
			"fileFooter": "/interface/scripted/arcana_bag/bag_footer.png"
		},
		"_1": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [7, 43],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_2": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"rightClickCallback": "rightClickSlot",
			"position": [25, 43],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_3": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [43, 43],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_4": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [61, 43],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_5": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [79, 43],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_6": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [97, 43],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_7": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [115, 43],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_8": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [133, 43],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_9": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [151, 43],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_10": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [7, 25],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_11": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [25, 25],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_12": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [43, 25],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_13": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [61, 25],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_14": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [79, 25],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_15": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [97, 25],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_16": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [115, 25],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_17": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [133, 25],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_18": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [151, 25],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_19": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [7, 7],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"_20": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"showRarity" : false,
			"showDurability" : true,
			"position": [25, 7],
			"backingImage": "/interface/inventory/emptier.png"
		},
		"title" : {
			"type" : "label",
			"value" : "^#ffffff;Backpack^reset;",
			"position" : [8, 97]
		},
		"close": {
			"type": "button",
			"base": "/interface/scripted/arcana_bag/close.png",
			"hover": "/interface/scripted/arcana_bag/closepressed.png",
			"pressed": "/interface/scripted/arcana_bag/closepressed.png",
			"pressedOffset": [0, 0],
			"position": [86, 98]
		}
	},
	"scriptWidgetCallbacks": ["leftClickSlot","rightClickSlot"],
	"bagType" : 1,
        "slots" : 20,
        "grid" : [7,76,18,5,7], //[7,76,18,5,7]
        "bagSfx" : "/sfx/tech/tech_walljump.ogg",
	"scripts": ["/interface/scripted/arcana_bag/lua.lua"],
	"scriptDelta": 0
}