{
  "craftingSound" : "/sfx/interface/crafting_furnace.ogg",
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/arcana/arcana_crafting_essenceExtractor_2/head.png",
	  "fileBody" : "/interface/arcana/arcana_crafting_essenceExtractor_2/body.png"
    },
    "toggleCrafting" : {
      "type" : "button",
      "position" : [60, 26],
      "base" : "/interface/objectcrafting/refine.png",
      "hover" : "/interface/objectcrafting/refineover.png",
      "caption" : "Extract"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [60, 47],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [158, 112]
    },
    "lblText" : {
      "type" : "label",
      "position" : [90, 74],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "value" : "^#b9b5b2;Extract essence from items!"
      },
    "outputItemGrid" : {
      "type" : "itemgrid",
      "slotOffset" : 1,
      "position" : [96, 47],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "pointer" : {
      "type" : "image",
      "position" : [82, 50],
      "file" : "/interface/objectcrafting/arrow.png"
    }
  }
}
