{
  // distribute effect that matches string in "vanilla" or "modded",
  // or if the name starts with anything in "wildcards.startsWith"
  // or if the name ends with anything in "wildcards.endsWith".
  // For other mods to allow their effects to be distributed,
  // create a patch to this file, adding to "/modded/-" a name string.
  // Can also add to wildcards, but it's slightly worse

  "vanilla" : [
    "arcana_crewbonus_commander"
  ],
  "modded" : [],
  "wildcards" : {
    "startsWith" : [],
    "endsWith" : []
  }
}