{
  "gui" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/scripted/arcana_books/header.png",
      "fileBody" : "/interface/scripted/arcana_books/body.png",
      "fileFooter" : "/interface/scripted/arcana_books/footer.png"
    },
    "sampleScrollArea" : {
      "type": "scrollArea",
      "zlevel": 1,
      "rect": [
        20,
        40,
        372,
        250
	  ],
	  "children" : {
	  
	  	"title_1" : {
		  "type" : "label",
		  "position" : [24, 146],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 300,
		  "fontSize" : 7.2,
		  "value" : "^orange;Power^reset;",
		  "zlevel" : 3
		},
	  	"label_1" : {
		  "type" : "label",
		  "position" : [24, 136],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 180,
		  "fontSize" : 7.2,
		  "value" : "Most machines require Power to run. To produce power, you will need to craft power generators such as the ^orange;Burner^reset;, and provide them with certain types of fuel items such as coal and plant fibre. Once it's fueled, connect its ^red;output node^reset; to the ^blue;input node^reset; of other machines.",
		  "zlevel" : 3
		},
	  	"back_1" : {
          "type" : "image",
		  "position" : [12, 60],
          "file" : "/interface/scripted/arcana_books/paragraph.png",
          "zlevel" : 2
		},
	  	"img_1" : {
          "type" : "image",
		  "position" : [230, 68],
          "file" : "/interface/scripted/arcana_books/burner.png",
          "zlevel" : 2
		},
		
	  	"title_2" : {
		  "type" : "label",
		  "position" : [24, 46],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 300,
		  "fontSize" : 7.2,
		  "value" : "^orange;Mining^reset;",
		  "zlevel" : 3
		},
	  	"label_2" : {
		  "type" : "label",
		  "position" : [24, 36],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 180,
		  "fontSize" : 7.2,
		  "value" : "To automatically mine ores, you will need to create an ^orange;Extractor^reset; and place it directly on top of an ^orange;Ore Node^reset;. \n\nDifferent types of ore nodes can be currently found in the underground of Superstorm Expanse and Automated planets.",
		  "zlevel" : 3
		},
	  	"back_2" : {
          "type" : "image",
		  "position" : [12, -40],
          "file" : "/interface/scripted/arcana_books/paragraph.png",
          "zlevel" : 2
		},
	  	"img_2" : {
          "type" : "image",
		  "position" : [230, -32],
          "file" : "/interface/scripted/arcana_books/extractor.png",
          "zlevel" : 2
		},
		
	  	"title_3" : {
		  "type" : "label",
		  "position" : [24, -54],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 300,
		  "fontSize" : 7.2,
		  "value" : "^orange;Material Assembly^reset;",
		  "zlevel" : 3
		},
	  	"label_3" : {
		  "type" : "label",
		  "position" : [24, -64],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 180,
		  "fontSize" : 7.2,
		  "value" : "While basic materials can be manually crafted at Arcana's furnaces, more advanced materials must be produced from powered machines. \n\nThe ^orange;Foundry^reset; allows you to produce bars from ores, and the ^orange;Lathe^reset; produces Connectors and Frames from basic materials.",
		  "zlevel" : 3
		},
	  	"back_3" : {
          "type" : "image",
		  "position" : [12, -140],
          "file" : "/interface/scripted/arcana_books/paragraph.png",
          "zlevel" : 2
		},
	  	"img_3" : {
          "type" : "image",
		  "position" : [230, -132],
          "file" : "/interface/scripted/arcana_books/lathe.png",
          "zlevel" : 2
		}
		
	  }
	},
    "emptyLabel" : {
      "type" : "label",
      "position" : [138, 232],
      "hAnchor" : "mid",
      "color" : "gray",
      "value" : ""
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [360, 267]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Factory Handbook",
      "subtitle" : "A basic guide for automation.",
      "position" : [0, 294],
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/arcana_books/icon.png",
        "position" : [10, 0],
        "zlevel" : -1
      }
    }
  },
  
  "tooltipLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/tooltips/racebody.png",
      "fileFooter" : ""
    },
    "title" : {
      "type" : "label",
      "position" : [11, 54],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 220,
      "fontSize" : 12
    },
    "description" : {
      "type" : "label",
      "position" : [11, 38],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 220
    }
  },
  "iconSize" : [42, 42]
}
