{
  "gui" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/scripted/arcana_books/header.png",
      "fileBody" : "/interface/scripted/arcana_books/bodylong.png",
      "fileFooter" : "/interface/scripted/arcana_books/footer.png"
    },
	
	"bossPane" : {
	  "type" : "layout",
	  "layoutType" : "basic",
	  "visible" : true,
	  "rect": [
		16, 36, 376, 260
	  ],
	  "children" : {
	    "iconback" : {
		  "type" : "image",
		  "position" : [118, 0],
		  "file" : "/interface/scripted/arcana_books/bossbackground.png",
		  "zlevel" : 2
	    },
	    "name" : {
		  "type" : "label",
		  "position" : [235, 34],
		  "hAnchor" : "mid",
		  "vAnchor" : "top",
		  "wrapWidth" : 180,
		  "color" : "orange",
		  "fontSize" : 7.2,
		  "value" : "",
		  "zlevel" : 3
	    },
	    "description" : {
		  "type" : "label",
		  "position" : [235, 24],
		  "hAnchor" : "mid",
		  "vAnchor" : "top",
		  "wrapWidth" : 180,
		  "fontSize" : 7.2,
		  "value" : "",
		  "zlevel" : 3
	    },
	    "icon" : {
		  "type" : "image",
		  "position" : [235, 120],
		  "centered" : true,
		  "file" : "/interface/scripted/arcana_books/bosses/black.png",
		  "maxSize" : [180, 180],
		  "zlevel" : 3
	    },
		"bossArea" : {
		  "type": "scrollArea",
		  "zlevel": 1,
		  "rect": [
			0,
			0,
			360,
			220
		  ],
	      "children" : {
		    "bossList" : {
		      "type" : "list",
		      "callback" : "bossSelect",
		      "position" : [0, 217],
		      "columns" : 1,
		      "fillDown" : true,
		      "scissoring" : false,
		      "schema" : {
				"selectedBG" : "/interface/scripted/arcana_books/bosstabactive.png",
				"unselectedBG" : "/interface/scripted/arcana_books/bosstab.png",
			    "spacing" : [1, 1],
			    "memberSize" : [110, 16],
			    "listTemplate" : {
				  "name" : {
				    "type" : "label",
				    "position" : [55, 12],
				    "hAnchor" : "mid",
				    "vAnchor" : "top",
				    "wrapWidth" : 100,
				    "fontSize" : 7.2,
				    "color" : "white",
				    "value" : "Liquid Name",
				    "zlevel" : 3
				  },
				  "background" : {
					"type" : "image",
					"file" : "/interface/scripted/arcana_books/bosstab.png",
					"position" : [0, 0],
					"zlevel" : -1
				  }
			    }
		      }
		    }
	      }
	    }
	  }
	},
	"liquidPane" : {
	  "type" : "layout",
	  "layoutType" : "basic",
	  "visible" : true,
	  "rect": [
		20, 40, 376, 250
	  ],
	  "children" : {	
		"liquidArea" : {
		  "type": "scrollArea",
		  "zlevel": 1,
		  "rect": [
			0,
			0,
			356,
			210
		  ],
	      "children" : {
		    "liquidList" : {
		      "type" : "list",
		      "callback" : "null",
		      "position" : [1, 217],
		      "columns" : 1,
		      "fillDown" : true,
		      "scissoring" : false,
		      "schema" : {
			    "spacing" : [1, 1],
			    "memberSize" : [336, 80],
			    "listTemplate" : {
				  "name" : {
				    "type" : "label",
				    "position" : [36, 69],
				    "hAnchor" : "left",
				    "vAnchor" : "top",
				    "wrapWidth" : 300,
				    "fontSize" : 7.2,
				    "color" : "orange",
				    "value" : "Liquid Name",
				    "zlevel" : 3
				  },
				  "description" : {
				    "type" : "label",
				    "position" : [36, 59],
				    "hAnchor" : "left",
				    "vAnchor" : "top",
				    "wrapWidth" : 180,
				    "fontSize" : 7.2,
				    "value" : "Replace Me :D",
				    "zlevel" : 3
				  },
				  "extraction" : {
				    "type" : "label",
				    "position" : [36, 32],
				    "hAnchor" : "left",
				    "vAnchor" : "top",
					"color" : "gray",
				    "wrapWidth" : 180,
				    "fontSize" : 6.0,
				    "value" : "Extraction results:",
				    "zlevel" : 3
				  },
				  "back" : {
				    "type" : "image",
				    "position" : [0, 0],
				    "file" : "/interface/scripted/arcana_books/paragraphshort.png",
				    "zlevel" : 2
				  },
				  "iconback" : {
				    "type" : "image",
				    "position" : [11, 52],
				    "file" : "/interface/scripted/arcana_books/iconempty.png",
				    "zlevel" : 2
				  },
				  "icon" : {
				    "type" : "image",
				    "position" : [12, 53],
				    "file" : "/interface/scripted/arcana_books/gettingstarted.png",
				    "zlevel" : 3
				  },
				  "outputList" : {
				    "type" : "list",
				    "callback" : "null",
				    "position" : [12, 0],
				    "columns" : 4,
				    "fillDown" : true,
				    "scissoring" : false,
					"zlevel" : 4,
				    "schema" : {
					  "spacing" : [1, 1],
					  "memberSize" : [18, 18],
					  "listTemplate" : {
					    "iconback" : {
						  "type" : "image",
						  "position" : [23, 24],
						  "file" : "/interface/scripted/arcana_books/iconempty.png",
						  "zlevel" : 5
					    },
					    "icon" : {
						  "type" : "image",
						  "position" : [24, 25],
						  "file" : "/interface/scripted/arcana_books/gettingstarted.png",
						  "zlevel" : 5
					    }
					  }
				    }
				  }
			    }
		      }
		    }
	      }
	    }
	  }
	},
	"tutorialPane" : {
	  "type" : "layout",
	  "layoutType" : "basic",
	  "visible" : false,
	  "rect": [
		20, 40, 376, 250
	  ],
	  "children" : {	
    "tutorialArea" : {
      "type": "scrollArea",
      "zlevel": 1,
      "rect": [
        0,
        0,
        356,
        210
	  ],
	  "children" : {
	  
	  	"label_0" : {
		  "type" : "label",
		  "position" : [24, 146],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 310,
		  "fontSize" : 7.2,
		  "value" : "Welcome to Arcana! This is a brief guide to getting started with this mod's content, as well as Arcana's progression through the first three of Arcana's new stars.",
		  "zlevel" : 3
		},
		
	  	"title_1" : {
		  "type" : "label",
		  "position" : [24, 106],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 300,
		  "fontSize" : 7.2,
		  "value" : "^orange;Getting Started^reset;",
		  "zlevel" : 3
		},
	  	"label_1" : {
		  "type" : "label",
		  "position" : [24, 96],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 180,
		  "fontSize" : 7.2,
		  "value" : "To start your adventure, you will first need to craft a ^orange;Magician's Table^reset; at an inventor's table or by hand. When you've gathered adequate equipment, you can travel to ^orange;Arcane Stars^reset; and find Arcanium Ore, a new Tier 6 mineral used for early Arcana crafting recipes.",
		  "zlevel" : 3
		},
	  	"back_1" : {
          "type" : "image",
		  "position" : [12, 20],
          "file" : "/interface/scripted/arcana_books/paragraph.png",
          "zlevel" : 2
		},
	  	"img_1" : {
          "type" : "image",
		  "position" : [230, 28],
          "file" : "/interface/scripted/arcana_books/gettingstarted.png",
          "zlevel" : 2
		},
		
	  	"title_2" : {
		  "type" : "label",
		  "position" : [24, 6],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 300,
		  "fontSize" : 7.2,
		  "value" : "^orange;Progression^reset;",
		  "zlevel" : 3
		},
	  	"label_2" : {
		  "type" : "label",
		  "position" : [24, -4],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 180,
		  "fontSize" : 7.2,
		  "value" : "Arcana introduces five new stars to explore. Starting at Tier 6 and ending at Tier 8+, these are ^#17d8b9;Arcane(T6)^reset;, ^#aeaab2;Illumianted(T7)^reset;, ^#743db5;Superstorm(T8)^reset;, ^#3d54b5;Tripolar(T8+)^reset; and ^#cf2a52;Mirage Stars(T8+)^reset;. Each star is protected by a planetary debuff, and you must craft various EPPs or special consumables to negate these effects.",
		  "zlevel" : 3
		},
	  	"back_2" : {
          "type" : "image",
		  "position" : [12, -80],
          "file" : "/interface/scripted/arcana_books/paragraph.png",
          "zlevel" : 2
		},
	  	"img_2" : {
          "type" : "image",
		  "position" : [230, -72],
          "file" : "/interface/scripted/arcana_books/progression.png",
          "zlevel" : 2
		},
		
	  	"title_3" : {
		  "type" : "label",
		  "position" : [24, -94],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 300,
		  "fontSize" : 7.2,
		  "value" : "^orange;Arcane Star - Tier 6^reset;",
		  "zlevel" : 3
		},
	  	"label_3" : {
		  "type" : "label",
		  "position" : [24, -104],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 180,
		  "fontSize" : 7.2,
		  "value" : "The key resource, ^orange;Arcanium Ore^reset;, can be found in Arcane Planets. Alongside with this, several sub-tier 6 planets are located in the Arcane Star as well. \n\nBlistering - Tier 2\nTurbulent - Tier 3\nVerdant - Tier 4\nWindswept - Tier 5\nArcane - Tier 6\nShining Sea - Tier 6",
		  "zlevel" : 3
		},
	  	"back_3" : {
          "type" : "image",
		  "position" : [12, -220],
          "file" : "/interface/scripted/arcana_books/paragraphlong.png",
          "zlevel" : 2
		},
	  	"img_3" : {
          "type" : "image",
		  "position" : [230, -192],
          "file" : "/interface/scripted/arcana_books/arcane.png",
          "zlevel" : 2
		},
		
	  	"title_4" : {
		  "type" : "label",
		  "position" : [24, -234],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 300,
		  "fontSize" : 7.2,
		  "value" : "^orange;Illuminated Star - Tier 7^reset;",
		  "zlevel" : 3
		},
	  	"label_4" : {
		  "type" : "label",
		  "position" : [24, -244],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 180,
		  "fontSize" : 7.2,
		  "value" : "Your exploration to the Illuminated Star will lead you to encounter new ores, dungeons and most importantly, the Tier 7 Bosses. Defeating either will allow you to progress further, into Tier 8.",
		  "zlevel" : 3
		},
	  	"back_4" : {
          "type" : "image",
		  "position" : [12, -320],
          "file" : "/interface/scripted/arcana_books/paragraph.png",
          "zlevel" : 2
		},
	  	"img_4" : {
          "type" : "image",
		  "position" : [230, -312],
          "file" : "/interface/scripted/arcana_books/illuminated.png",
          "zlevel" : 2
		},
		
	  	"title_5" : {
		  "type" : "label",
		  "position" : [24, -334],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 300,
		  "fontSize" : 7.2,
		  "value" : "^orange;Superstorm Star - Tier 8^reset;",
		  "zlevel" : 3
		},
	  	"label_5" : {
		  "type" : "label",
		  "position" : [24, -344],
		  "hAnchor" : "left",
		  "vAnchor" : "top",
		  "wrapWidth" : 180,
		  "fontSize" : 7.2,
		  "value" : "Amongst the many planets found in the Superstorm Star, exploring the Timeless planet will lead you to face against the Aeon Timepiece. Defeating it will grant you powerful equipment materials, as wells as access to the Tripolar and Mirage stars, leading to Arcana's late game content.",
		  "zlevel" : 3
		},
	  	"back_5" : {
          "type" : "image",
		  "position" : [12, -420],
          "file" : "/interface/scripted/arcana_books/paragraph.png",
          "zlevel" : 2
		}
	  }
	}
	}
	},
    "emptyLabel" : {
      "type" : "label",
      "position" : [138, 232],
      "hAnchor" : "mid",
      "color" : "gray",
      "value" : ""
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [360, 287]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Arcana Guidebook",
      "subtitle" : "A starter guide to Arcana's main progression system.",
      "position" : [0, 314],
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/arcana_books/icon.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },
	
	"radioMain" : {
	  "type" : "radioGroup",
	  "callback" : "tabSwitch",
	  "buttons" : [
		{
		  "id" : 0,
		  "selected" : true,
		  "baseImage" : "/interface/scripted/arcana_books/tab.png",
		  "baseImageChecked" : "/interface/scripted/arcana_books/tabactive.png",
		  "position" : [3, 264],
		  "pressedOffset" : [0, 0],
		  "data" : {
            "tab" : "tutorialPane"
          }
		},
		{
		  "id" : 1,
		  "baseImage" : "/interface/scripted/arcana_books/tab.png",
		  "baseImageChecked" : "/interface/scripted/arcana_books/tabactive.png",
		  "position" : [112, 264],
		  "pressedOffset" : [0, 0],
		  "data" : {
            "tab" : "liquidPane"
          }
		},
		{
		  "id" : 2,
		  "baseImage" : "/interface/scripted/arcana_books/tab.png",
		  "baseImageChecked" : "/interface/scripted/arcana_books/tabactive.png",
		  "position" : [221, 264],
		  "pressedOffset" : [0, 0],
		  "data" : {
            "tab" : "bossPane"
          }
		}
	  ]
	},
	"cap1" : {
      "type" : "label",
      "position" : [58, 268],
      "hAnchor" : "mid",
      "color" : "white",
      "value" : "Tutorial"
	},
	"cap2" : {
      "type" : "label",
      "position" : [168, 268],
      "hAnchor" : "mid",
      "color" : "white",
      "value" : "Liquid Index"
	},
	"cap3" : {
      "type" : "label",
      "position" : [278, 268],
      "hAnchor" : "mid",
      "color" : "white",
      "value" : "Boss Checklist"
	}
  },
  
  "tooltipLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/tooltips/racebody.png",
      "fileFooter" : ""
    },
    "title" : {
      "type" : "label",
      "position" : [11, 54],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 220,
      "fontSize" : 12
    },
    "description" : {
      "type" : "label",
      "position" : [11, 38],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 220
    }
  },
  "iconSize" : [42, 42],
  
  "scriptWidgetCallbacks" : [
    "tabSwitch",
	"bossSelect"
  ],

  "scripts" : ["/interface/scripted/arcana_books/guideBook.lua"],
  "scriptDelta" : 40
}
