{
  "bosses" : {
	"1" : { "name" : "Mage King", "filename" : "mageKing", "description" : "Encountered in the Glitch Ice Castle, on Tundra planets." },
	"2" : { "name" : "Molten Knight", "filename" : "moltenKnight", "description" : "Encountered in the Glitch Volcanic Forge, on Volcanic planets." },
	"3" : { "name" : "Cosmo Nemesis", "filename" : "cosmoNemesis", "description" : "Summoned with a Sakura Tribute." },
	"4" : { "name" : "Evolapis", "filename" : "Evolapis", "description" : "Summoned with an Evo Abonmination." },
	"5" : { "name" : "Plague Doctor", "filename" : "wanderingSpirit", "description" : "Encountered in Nightmist planets." },
	"6" : { "name" : "Aeon Timepiece", "filename" : "aeonTimepiece", "description" : "Encountered in Timeless planets." },
	"7" : { "name" : "Solar Guardian", "filename" : "solarGuardian", "description" : "Found in Solar Corridors." },
	"8" : { "name" : "The Harvester", "filename" : "terminusReaper", "description" : "???" }
  }
}
