{
  "bosses" : [
	{ "name" : "Mage King", "filename" : "mageKing", "description" : "Encountered in the Glitch Ice Castle, on Tundra planets.", "order" : 1 },
	{ "name" : "Molten Knight", "filename" : "moltenKnight", "description" : "Encountered in the Glitch Volcanic Forge, on Volcanic planets.", "order" : 2 },
	{ "name" : "The Navigator", "filename" : "navigator", "description" : "Encountered in the Sealed Ark, on Shining Sea planets.", "order" : 3 },
	{ "name" : "Cosmo Nemesis", "filename" : "cosmoNemesis", "description" : "Encountered in Animus planets.", "order" : 4 },
	{ "name" : "Evolapis", "filename" : "evolapis", "description" : "Encountered in Evoaquatic planets.", "order" : 5 },
	{ "name" : "Plague Doctor", "filename" : "wanderingSpirit", "description" : "Encountered in Nightmist planets.", "order" : 6 },
	{ "name" : "Aeon Timepiece", "filename" : "aeonTimepiece", "description" : "Encountered in Timeless planets.", "order" : 7 },
	{ "name" : "Solar Guardian", "filename" : "solarGuardian", "description" : "Found in Solar Corridors.", "order" : 8 },
	{ "name" : "The Harvester", "filename" : "terminusReaper", "description" : "???", "order" : 9 }
  ]
}
