{
  "recipes" : {
    "workshop_crafting_motor" : {
      "input" : [
        { "name" : "workshop_crafting_dustriumPanel", "count" : 2 },
		{ "name" : "workshop_crafting_dustriumWire", "count" : 8 }
      ],
      "output" : { "name" : "workshop_crafting_motor", "count" : 1 }
	},
    "workshop_crafting_reinforcedFrame" : {
      "input" : [
        { "name" : "workshop_crafting_dustriumPanel", "count" : 4 },
		{ "name" : "arcana_bar_galvasteelBar", "count" : 4 }
      ],
      "output" : { "name" : "workshop_crafting_reinforcedFrame", "count" : 1 }
	}
  },
  "craftingTime" : 4.0,
  "outputRate" : 4
}
