{
  "action" : "actions",
  "list" : [
    {
      "action" : "spark"
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "arcana_plasmablue_3",
      "config" : {
        "statusEffects" : []
      }
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/grenadeblast_small_ice1.ogg", "/sfx/gun/grenadeblast_small_ice2.ogg", "/sfx/gun/grenadeblast_small_ice3.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 1,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.2,
      "delaySteps" : 2
    },
    {
      "action" : "loop",
      "count" : 12,
      "body" : [
        {
          "action" : "particle",
          "specification" : {
            "type" : "ember",
            "size" : 0.8,
            "color" : [70, 175, 210, 255],
            "light" : [10, 30, 80],
            "fullbright" : true,
            "initialVelocity" : [0, 6],
            "finalVelocity" : [0.0, -50.0],
            "approach" : [0, 30],
            "timeToLive" : 0.6,
            "layer" : "middle",
            "variance" : {
			  "size" : 1.0,
			  "initialVelocity" : [12, 12],
              "timeToLive" : 0.2
            }
          }
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 8,
      "body" : [
		{
			"action" : "projectile",
			"type" : "arcana_boss_wanderingSpirit_1",
			"inheritDamageFactor" : 0.8,
			"angle" : 90,
			"fuzzAngle" : 360
		}
      ]
    },
    {
      "action" : "particle",
	  "specification" : {
		"type" : "animated",
		"size" : 1.2,
		"fullbright" : true,
		"light" : [40, 80, 100],
		"animation" : "/animations/arcana_animation_plasma_blue_2/arcana_animation_plasma_blue_2.animation",
		"timeToLive" : 0.4,
		"layer" : "front",
		"variance" : {
		  "rotation" : 180
		}
	  }
    }
  ]
}
