{
  "recipes" : {
    "durasteelbar" : {
      "input" : [
        { "item" : "goldore", "count" : 1 },
	    { "item" : "silverore", "count" : 2 },
      ],
      "output" : { "item" : "durasteelbar", "count" : 3 }
	},
    "copperbar" : {
      "input" : [
        { "item" : "copperore", "count" : 1 },
      ],
      "output" : { "item" : "copperbar", "count" : 3 }
	},
  },
  "craftingTime" : 2.0
}
