{
  "recipes" : {
    "workshop_crafting_dustriumWire" : {
      "input" : [
        { "name" : "workshop_crafting_dustriumPlate", "count" : 1 }
      ],
      "output" : { "name" : "workshop_crafting_dustriumWire", "count" : 2 }
	},
    "workshop_crafting_dustriumConnector" : {
      "input" : [
        { "name" : "ironbar", "count" : 1 }
      ],
      "output" : { "name" : "workshop_crafting_dustriumConnector", "count" : 2 }
	},
    "workshop_crafting_dustriumPanel" : {
      "input" : [
        { "name" : "workshop_crafting_dustriumConnector", "count" : 4 }
      ],
      "output" : { "name" : "workshop_crafting_dustriumPanel", "count" : 1 }
	}
  },
  "craftingTime" : 2.0,
  "outputRate" : 4,
  "description" : "^white;An automatic lathe for creating basic materials. ^orange;Requires 10kW of Power. Can be wired to other machines.^reset;"
}
